<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="dialogRef.close()"><mat-icon>arrow_back</mat-icon></button>
        <span>reCAPTCHA</span>
        <span fxFlex></span>
        <button mat-icon-button class="show-on-desktop" (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="loader show-on-desktop"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
        <div class="section-loader show-on-mobile"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>

    <!-- reCAPTCHA Container -->
    <div *ngIf="loaded" class="fadeIn padding container">
        <!-- reCAPTCHA element -->
        <div fxLayout="row" fxLayoutAlign="center center" class="recaptcha-container">
            <re-captcha
                #recaptchaEl
                size="compact"
                (resolved)="resolved($event)"
                (error)="errored($event)"
                errorMode="handled"></re-captcha>
        </div>

        <!-- Help Container -->
        <div *ngIf="delayed" class="align-center margin-top fadeIn">
            <p class="light-text clickable" role="button" (click)="infoVisible = !infoVisible">The reCAPTCHA is not loading...</p>
            <p class="light-text ts-m margin-top fadeIn" *ngIf="infoVisible">
                Click <strong class="clickable" (click)="reset()" role="button">here</strong> to attempt to reload it.
            </p>
        </div>
    </div>
</div>
