

p {margin:0;}

h5{ margin:0;}


.divider { margin: 40px 0 15px 0}


.action-container {
    text-align: center;
    color:white;
    padding:8px;
    margin-top:30px;
    p {
        font-weight:600;
        font-size:12px!important;
    }
}
.buy-action-container {
    @extend .action-container;
    background-color: var(--success-color)!important; 
}
.sell-action-container {
    @extend .action-container;
    background-color: var(--error-color)!important; 
}
.neutral-action-container {
    @extend .action-container;
    background-color: var(--neutral-color)!important; 
}


.grid-item { 
    max-width:100%;
    text-align: center;
    p {
        font-size:12px!important;
        font-weight: 500;
        color:white;
        max-width:90%;
        text-overflow: ellipsis!important;overflow: hidden!important;white-space: nowrap!important;
    }
}
.buy-grid-item { 
    @extend .grid-item;
    background-color: var(--success-color)!important;  
}
.sell-grid-item { 
    @extend .grid-item;
    background-color: var(--error-color)!important;  
}
.neutral-grid-item { 
    @extend .grid-item;
    background-color: var(--neutral-color)!important;  
}


/* Responsiveness */


/* mobile: sm & xs */
@media only screen and (max-width: 959px) {

}



/* desktop: md */
@media only screen and (min-width: 960px) {

}