

p {margin:0;}

h5{ margin:0;font-size:16px!important}

.strong-action{ font-weight: 500;}

//.ts-xs { font-size:11px!important;}

/* Responsiveness */


/* mobile: sm & xs */
@media only screen and (max-width: 959px) {

}



/* desktop: md */
@media only screen and (min-width: 960px) {

}