<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="cancel()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">Configuration</span>
        <span fxFlex></span>
        <button mat-icon-button class="show-on-desktop" (click)="cancel()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Container -->
    <div class="fadeIn padding">

        <!-- Form -->
        <div *ngIf="form">
            <form [formGroup]="form" (ngSubmit)="updateConfig()">
                <div>
                    <mat-form-field>
                        <mat-label>Choose the start date</mat-label>
                        <input matInput [ngxMatDatetimePicker]="startDatePicker" placeholder="Choose the start date" formControlName="start">
                        <mat-datepicker-toggle matSuffix [for]="$any(startDatePicker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #startDatePicker [showSeconds]="true"></ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>Choose the end date</mat-label>
                        <input matInput [ngxMatDatetimePicker]="endDatePicker" placeholder="Choose the end date" formControlName="end">
                        <mat-datepicker-toggle matSuffix [for]="$any(endDatePicker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #endDatePicker [showSeconds]="true"></ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>Interval Minutes</mat-label>
                        <input type="number"
                               matInput
                               formControlName="intervalMinutes"
                               autocomplete="off"
                               placeholder="e.g. 30">
                    </mat-form-field>
                </div>

                <div class="actions">
                    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">UPDATE</button>
                </div>
            </form>
        </div>
    </div>
</div>
