<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" [disabled]="!loaded || submitting" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">Spreadsheets</span>
        <span fxFlex></span>
        <app-refresh-button [disabled]="!loaded || submitting" (refresh)="downloadFiles()"></app-refresh-button>
        <button mat-icon-button class="show-on-desktop" [disabled]="!loaded || submitting" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="loader show-on-desktop"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
        <div class="section-loader show-on-mobile"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>

    <!-- Container -->
    <div *ngIf="loaded" class="fadeIn padding">
        <p *ngIf="!files.length" class="no-data-found">No data was found</p>
        <div *ngIf="files.length" class="files-container">
            <div *ngFor="let file of files; last as isLast">
                <div class="row" fxLayout="row" fxLayoutAlign="start center">
                    <div>
                        <p>{{file.name}}</p>
                        <p>{{file.creation | date: 'medium'}}</p>
                    </div>
                    <span fxFlex></span>
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" [disabled]="submitting">
                        {{file.size | filesize}}
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="copyDownloadLink(file.name)">
                            <mat-icon>content_copy</mat-icon>
                            <span>Copy Download URL</span>
                        </button>
                        <button mat-menu-item (click)="downloadFile(file.name)">
                            <mat-icon>file_download</mat-icon>
                            <span>Download File</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="divider" *ngIf="!isLast"></div>
            </div>
        </div>
    </div>
</div>
