<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()" [disabled]="!loaded"><mat-icon>arrow_back</mat-icon></button>
        <span *ngIf="!loaded" class="truncate">Loading...</span>
        <span *ngIf="loaded" class="truncate">{{state.k == 1 ? 'Support': 'Resistance'}}: {{points}}</span>
        <span fxFlex></span>        
        <app-refresh-button *ngIf="loaded && state && !state.end" style="display: none;" (refresh)="syncReversalState()" [intervalSeconds]="6"></app-refresh-button>

        <!-- General Info -->
        <button *ngIf="layout == 'desktop'" mat-icon-button (click)="displayTooltip()" [disabled]="!loaded" matTooltip="What is this?"><mat-icon>question_mark</mat-icon></button>
        <button *ngIf="layout == 'desktop'" mat-icon-button (click)="displayInfoTooltip()" [disabled]="!loaded" matTooltip="More information"><mat-icon class="info-icon" svgIcon="info"></mat-icon></button>
        
        <!-- Reversal Event -->
        <button mat-icon-button 
            *ngIf="state && state.e && layout == 'desktop'"
            (click)="displayReversalEventInfoDialog()" 
            [disabled]="!loaded" 
            matTooltip="Display {{state.k == 1 ? 'Support': 'Resistance'}} Reversal Event">
            <mat-icon svgIcon="{{state.k == 1 ? 'rotate_left': 'rotate_right'}}" style="max-width: 20px;"></mat-icon>
        </button>

        <!-- Coins States -->
        <button *ngIf="layout == 'desktop'" mat-icon-button [matMenuTriggerFor]="coinsStatesDesktopMenu" [disabled]="!loaded" matTooltip="Coins' States">
            <mat-icon>currency_bitcoin</mat-icon>
        </button>
        <mat-menu #coinsStatesDesktopMenu="matMenu">
            <button mat-menu-item (click)="displayCoinsStateSummaryDialog('initial')">
                <span>Initial State</span>
            </button>
            <button *ngIf="state && state.e" mat-menu-item (click)="displayCoinsStateSummaryDialog('event')">
                <span>Event State</span>
            </button>
            <button *ngIf="state && state.end" mat-menu-item (click)="displayCoinsStateSummaryDialog('final')">
                <span>Final State</span>
            </button>
        </mat-menu>

        <!-- KeyZone Event-->
        <button mat-icon-button 
            *ngIf="state && state.kze"
            (click)="displayKeyZoneEventContextDialog()" 
            [disabled]="!loaded" 
            matTooltip="Display {{state.kze.k == 's' ? 'Support': 'Resistance'}}">
            <mat-icon>{{state.kze.k == 's' ? 'vertical_align_bottom': 'vertical_align_top'}}</mat-icon>
        </button>
        <button *ngIf="layout == 'desktop'" mat-icon-button (click)="close()" [disabled]="!loaded"><mat-icon>close</mat-icon></button>

        <!-- Mobile Menu -->
        <button *ngIf="layout == 'mobile'" mat-icon-button [matMenuTriggerFor]="menu" [disabled]="!loaded">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item 
                    *ngIf="state && state.e"
                    (click)="displayReversalEventInfoDialog()">
                    <mat-icon svgIcon="{{state.k == 1 ? 'rotate_left': 'rotate_right'}}" style="max-width: 20px;margin-left:4px;"></mat-icon>
                <span>Display Reversal Event</span>
            </button>
            <button mat-menu-item  [matMenuTriggerFor]="coinsStatesMobileMenu">
                <mat-icon>currency_bitcoin</mat-icon>
                <span>Coins' States</span>
            </button>
            <mat-menu #coinsStatesMobileMenu="matMenu">
                <button mat-menu-item (click)="displayCoinsStateSummaryDialog('initial')">
                    <span>Initial State</span>
                </button>
                <button *ngIf="state && state.e" mat-menu-item (click)="displayCoinsStateSummaryDialog('event')">
                    <span>Event State</span>
                </button>
                <button *ngIf="state && state.end" mat-menu-item (click)="displayCoinsStateSummaryDialog('final')">
                    <span>Final State</span>
                </button>
            </mat-menu>
            <button mat-menu-item (click)="displayInfoTooltip()">
                <mat-icon svgIcon="info"></mat-icon>
                <span>More information</span>
            </button>
            <button mat-menu-item (click)="displayTooltip()">
                <mat-icon>question_mark</mat-icon>
                <span>What is this?</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="section-loader"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded && state" class="padding" style="overflow: hidden">
        <!-- General -->
        <div>
            <apx-chart
                [series]="chart.series"
                [chart]="chart.chart"
                [dataLabels]="chart.dataLabels"
                [xaxis]="chart.xaxis"
                [yaxis]="chart.yaxis"
                [stroke]="chart.stroke"
                [annotations]="chart.annotations"
                [title]="chart.title"
            ></apx-chart>
        </div>

        <!-- Coins -->
        <div class="margin-top">
            <apx-chart
                [series]="coinsChart.series"
                [chart]="coinsChart.chart"
                [dataLabels]="coinsChart.dataLabels"
                [xaxis]="coinsChart.xaxis"
                [yaxis]="coinsChart.yaxis"
                [stroke]="coinsChart.stroke"
                [annotations]="coinsChart.annotations"
                [title]="coinsChart.title"
            ></apx-chart>
        </div>

        <!-- Coins BTC -->
        <div class="margin-top">
            <apx-chart
                [series]="coinsBTCChart.series"
                [chart]="coinsBTCChart.chart"
                [dataLabels]="coinsBTCChart.dataLabels"
                [xaxis]="coinsBTCChart.xaxis"
                [yaxis]="coinsBTCChart.yaxis"
                [stroke]="coinsBTCChart.stroke"
                [annotations]="coinsBTCChart.annotations"
                [title]="coinsBTCChart.title"
            ></apx-chart>
        </div>

        <!-- Liquidity -->
        <div class="margin-top">
            <apx-chart
                [series]="liquidityChart.series"
                [chart]="liquidityChart.chart"
                [dataLabels]="liquidityChart.dataLabels"
                [xaxis]="liquidityChart.xaxis"
                [yaxis]="liquidityChart.yaxis"
                [stroke]="liquidityChart.stroke"
                [annotations]="liquidityChart.annotations"
                [title]="liquidityChart.title"
            ></apx-chart>
        </div>

        <!-- Volume -->
        <div class="margin-top">
            <apx-chart
                [series]="volumeChart.series"
                [chart]="volumeChart.chart"
                [dataLabels]="volumeChart.dataLabels"
                [xaxis]="volumeChart.xaxis"
                [yaxis]="volumeChart.yaxis"
                [stroke]="volumeChart.stroke"
                [annotations]="volumeChart.annotations"
                [title]="volumeChart.title"
            ></apx-chart>
        </div>
    </div>
</div>
