<div class="desktop-card">
    <div fxLayout="row" fxLayoutAlign="center center" class="badged-header">
        <h4 class="show-on-desktop">EBE Points</h4>
        <span class="show-on-desktop" fxFlex></span>
        <div class="square-badge clickable" role="button"
            (click)="_activateModel(md.ebePoints.highest.id)"
            matTooltip="Highest # of Points: {{md.ebePoints.highest.id}}">
            Best: {{md.ebePoints.highest.value | number: '1.0-2'}}
        </div>
        <div class="square-badge clickable worst-value" role="button"
            (click)="_activateModel(md.ebePoints.lowest.id)"
            matTooltip="Lowest # of Points: {{md.ebePoints.lowest.id}}">
            Worst: {{md.ebePoints.lowest.value | number: '1.0-2'}}
        </div>
    </div>
    <apx-chart
        [series]="ebePointsView.points.series"
        [chart]="ebePointsView.points.chart"
        [plotOptions]="ebePointsView.points.plotOptions"
        [xaxis]="ebePointsView.points.xaxis"
        [yaxis]="ebePointsView.points.yaxis"
        [dataLabels]="ebePointsView.points.dataLabels"
        [colors]="ebePointsView.points.colors"
        [grid]="ebePointsView.points.grid"
    ></apx-chart>
</div>