



.component {
 
    p { margin:0}
    h6 { margin:0}

    .no-records {
        color: var(--light-text-color);
        text-align: center;
        margin:35px;
    }





    .divider { margin: 20px 0 20px 0!important}
}