

.component {
    padding:5px 0 10px 0;
    p{ margin:0!important}
    .mat-progress-bar { margin-top:10px;}
    .ts-xs { font-size:11px!important;}
    .hp-item {
        margin: 25px 0 15px 0;   
        .strong-item { font-weight: 500}
    }
    .hp-item:first-child { margin: 0 0 15px 0!important;   }
    .hp-item:last-child { margin: 25px 0 0 0!important;   }
}

