<div class="badged-header padding" fxLayout="row" fxLayoutAlign="start center">
    <h4 class="truncate">{{curveConfig.name}}</h4>
    <span fxFlex></span>
    <div class="square-badge" 
        [ngClass]="{'train-loss-bg': curveConfig.type == 'loss', 'train-acc-bg': curveConfig.type == 'accuracy'}" 
        matTooltip="Final Train Value">
        {{finalTrain | number: '1.0-6'}}
    </div>
    <div class="square-badge" 
        [ngClass]="{'val-loss-bg': curveConfig.type == 'loss', 'val-acc-bg': curveConfig.type == 'accuracy'}" 
        matTooltip="Final Validation Value">
        {{finalVal | number: '1.0-6'}}
    </div>
</div>
<apx-chart
    [series]="curveChart.series"
    [chart]="curveChart.chart"
    [xaxis]="curveChart.xaxis"
    [dataLabels]="{enabled: false}"
    [grid]="curveChart.grid"
    [stroke]="curveChart.stroke"
    [yaxis]="curveChart.yaxis"
    [markers]="{size: 0}"
></apx-chart>