<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()" [disabled]="!loaded"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">{{evt.k == 's' ? 'Support': 'Resistance'}} Contact</span>
        <span fxFlex></span>
        <button mat-icon-button (click)="displayTooltip()" [disabled]="!loaded" matTooltip="What is this?"><mat-icon>question_mark</mat-icon></button>
        <button mat-icon-button 
                (click)="displayReversalEventDialog()" 
                [disabled]="!loaded" 
                matTooltip="Display Reversal State"><mat-icon style="max-width:20px;" svgIcon="{{evt.k == 's' ? 'rotate_left': 'rotate_right'}}"></mat-icon></button>
        <button mat-icon-button 
                (click)="displayEventInfoDialog()" 
                [disabled]="!loaded" 
                matTooltip="View {{evt.k == 's' ? 'Support': 'Resistance'}}">
                <mat-icon>{{evt.k == 's' ? 'vertical_align_bottom': 'vertical_align_top'}}</mat-icon>
        </button>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="section-loader"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded && chart" class="padding" style="overflow:hidden;">
        <apx-chart
            [series]="chart.series!"
            [chart]="chart.chart!"
            [plotOptions]="chart.plotOptions!"
            [xaxis]="chart.xaxis!"
            [yaxis]="chart.yaxis!"
            [annotations]="chart.annotations!"
            [title]="chart.title!"
        ></apx-chart>
    </div>
</div>
