<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">Position Headlines</span>
        <span fxFlex></span>
        <button mat-icon-button (click)="displayTooltip()" matTooltip="What is this?"><mat-icon>question_mark</mat-icon></button>
        <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="!loaded">
            <mat-icon>date_range</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item 
                    *ngFor="let item of histMenu" 
                    [disabled]="item.id == activeHistMenuItem.id && item.id != 'custom'" 
                    (click)="loadHist(item)">{{item.name}}</button>
        </mat-menu>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <div class="component">
        <!-- Loader -->
        <div *ngIf="!loaded">
            <div class="section-loader show-on-mobile"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
            <div class="loader show-on-desktop"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
        </div>
        <div *ngIf="loaded">
            <p *ngIf="!hist.length" class="no-records">No records were found</p>
            <div *ngFor="let pos of hist; last as lastRecord" class="clickable" role="button" (click)="_nav.displayPositionRecordDialog(pos.id)">
                <div fxLayout="row" fxLayoutAlign="center start">
                    <div fxFlex>
                        <h6>{{pos.s | baseAssetName}} {{pos.sd}}</h6>
                        <p class="light-text ts-s">{{pos.o | date: _app.layout.value == 'desktop' ? 'medium': 'short'}}</p>
                    </div>
                    <span fxFlex="2"></span>
                    <div [ngClass]="{
                            'square-badge-success': pos.g > 0,
                            'square-badge-error': pos.g < 0,
                            'square-badge-neutral': pos.g == 0
                        }">
                        {{pos.g > 0 ? '+': ''}}{{pos.g}}%
                    </div>
                </div>
                <div *ngIf="!lastRecord" class="divider"></div>
            </div>
        </div>
    </div>
</div>
