<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" [disabled]="(uninstalling && task && task.state != 'errored')" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate" *ngIf="!uninstalling">Uninstall Epoch</span>
        <span class="truncate" *ngIf="uninstalling">Uninstalling...</span>
        <span fxFlex></span>
        <button mat-icon-button class="show-on-desktop" [disabled]="(uninstalling && task && task.state != 'errored')" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>

    <!-- Container -->
    <div class="padding">

        <!-- Epoch File Input -->
        <div *ngIf="!uninstalling">
            <div fxLayout="row" fxLayoutAlign="start center" class="large-file-button" matRipple role="button" tabindex="0" (click)="uninstall()">
                <mat-icon svgIcon="file_zipper"></mat-icon>
                <div class="margin-left">
                    <p>{{epochID}}</p>
                    <p class="light-text ts-m">Uninstall Epoch</p>
                </div>
            </div>
        </div>

        <!-- Epoch Install Task -->
        <div *ngIf="uninstalling">
            <app-background-task [task]="task" (refresh)="refreshTaskState()"></app-background-task>
        </div>
    </div>
</div>
