
.component-container {


    .lowest {opacity: 0.7;}

    .badged-header {
        .square-badge, .square-badge-error, .square-badge-success{ margin-left:5px;}
    }


    .desktop-sidenav {
        width: 300px;
        button {text-align: left;width: 100%;}
    }


    .general-sections {
        h3 {margin:0;}
        .class_evaluations {

        }
        .evaluations{
            padding:15px;
        }
        .epochs {
            padding:15px;
        }
    }


    .certificate-section {
        h3 {margin: 0}
        p {margin:0}
        .margin-top { margin-top:20px!important;}
        .summary-content {
            padding:15px;

            .loss-header {
                .loss {background: #E57373;}
                .val-loss {background: #B71C1C;}
            }

            .accuracy-header {
                .accuracy {background: #4DB6AC;}
                .val-accuracy {background: #004D40;}
            }
        }

        .class-evals-content {
            padding:15px;
        }


        .epochs-content {
            padding:15px;
            .data-container {
                max-width:100%;
                overflow-x:auto;
                margin-top:20px;
            }
        }
    }
}







/* Responsiveness */


/* mobile: sm & xs */
@media only screen and (max-width: 959px) {
    .epochs-content{ padding:0!important;}
    .data-container { margin-top:0!important;}
}



/* desktop: md */
@media only screen and (min-width: 960px) {
    
}