
.component-container {


    .lowest {opacity: 0.7;}

    .badged-header {
        .square-badge, .square-badge-error, .square-badge-success{ margin-left:5px;}
    }


    .order-icon { color: var(--light-text-color); font-size:17px;padding-top:7px;}

    .desktop-sidenav {
        width: 300px;
        button {text-align: left;width: 100%;}
    }


    .general-sections {
        h3 {margin:0;}
        .class_evaluations {

        }
        .evaluations{
            padding:15px;
        }
        .epochs {
            padding:15px;
        }
    }


    .certificate-section {
        h3 {margin: 0}
        h4 {margin: 0}
        p {margin:0}
        .margin-top { margin-top:20px!important;}
        .summary-content {
            padding:15px;

            .general-evaluation {
                .desktop-card { padding:0px; }
                .square-badge-category { background-color: #424242;}
                .general-header { padding: 15px;}
                .categories-content {
                    .divider { margin: 20px 0 20px 0;}
                    .category {
                        .category-header {padding: 25px 15px 25px 15px;}
                        .divider { margin:0;}

                        .square-badge, .square-badge-success, .square-badge-error { 
                            padding:4px 5px 4px 5px;
                            min-width: 25px;
                            font-weight: 600;
                            font-size:10px!important;
                            max-height:18px;
                            width: auto;
                        
                            .mat-icon { vertical-align: middle!important; }
                        }
    
                        .item {
                            padding:10px 15px 10px 25px;
                            .square-badge, .square-badge-success, .square-badge-error { 
                                padding:3px 5px 3px 5px;
                                min-width: 25px;
                                font-weight: 600;
                                font-size:9.5px!important;
                                max-height:18px;
                                width: auto;
                            
                                .mat-icon { vertical-align: middle!important; }
                            }
                        }
    
                
  
                    }
                }
            }
        }

        .test-ds-eval-content {
            padding:15px;

            .loss-header {
                .loss {background: #E57373;}
                .val-loss {background: #B71C1C;}
            }

            .accuracy-header {
                .accuracy {background: #4DB6AC;}
                .val-accuracy {background: #004D40;}
            }
        }

        .class-evals-content {
            padding:15px;
        }


        .epochs-content {
            padding:15px;
            .data-container {
                max-width:100%;
                overflow-x:auto;
                margin-top:20px;
            }
        }
    }
}







/* Responsiveness */


/* mobile: sm & xs */
@media only screen and (max-width: 959px) {
    .epochs-content{ padding:0!important;}
    .data-container { margin-top:0!important;}

    .general-header { padding: 0px!important;}
    .category-header {padding: 25px 0px 25px 0px!important;}
    .item {padding:10px 0px 10px 0px!important;}
}



/* desktop: md */
@media only screen and (min-width: 960px) {
    
}