<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()" [disabled]="!loaded || submitting"><mat-icon>arrow_back</mat-icon></button>
        <span *ngIf="!loaded" class="truncate">Loading...</span>
        <span *ngIf="loaded" class="truncate">
            {{record.side}}: {{record.isolated_wallet | currency}} {{record.gain > 0 ? '+': ''}}{{record.gain}}%
        </span>
        <span fxFlex></span>
        <app-refresh-button *ngIf="loaded && !record.close" style="display: none;" [disabled]="submitting" (refresh)="refreshPositionRecord()" [intervalSeconds]="5"></app-refresh-button>
        <button mat-icon-button  (click)="displayTooltip()"[disabled]="!loaded || submitting" matTooltip="What is this?"><mat-icon>question_mark</mat-icon></button>
        <button mat-icon-button *ngIf="record && record.close" (click)="displayPositionContextDialog()" [disabled]="!loaded || submitting" matTooltip="Position Context"><mat-icon>waterfall_chart</mat-icon></button>
        <button mat-icon-button (click)="displayPositionInfoDialog()" [disabled]="!loaded || submitting" matTooltip="More Information"><mat-icon>info</mat-icon></button>
        <button *ngIf="loaded && !record.close" mat-icon-button (click)="closePosition()" [disabled]="!loaded || submitting" matTooltip="Close Position"><mat-icon>mobiledata_off</mat-icon></button>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="section-loader"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded && record" class="padding" style="overflow:hidden;">
        <!-- Mark Price Chart -->
        <div *ngIf="markPriceChart">
            <apx-chart
                [series]="markPriceChart.series!"
                [chart]="markPriceChart.chart!"
                [plotOptions]="markPriceChart.plotOptions!"
                [xaxis]="markPriceChart.xaxis!"
                [yaxis]="markPriceChart.yaxis!"
                [annotations]="markPriceChart.annotations!"
                [title]="markPriceChart.title!"
            ></apx-chart>
        </div>

        <!-- Gain% Chart -->
        <div *ngIf="gainChart" class="margin-top">
            <apx-chart
                [series]="gainChart.series!"
                [chart]="gainChart.chart!"
                [plotOptions]="gainChart.plotOptions!"
                [xaxis]="gainChart.xaxis!"
                [yaxis]="gainChart.yaxis!"
                [annotations]="gainChart!.annotations!"
                [title]="gainChart.title!"
            ></apx-chart>
        </div>
    </div>
</div>
