<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()" [disabled]="!loaded"><mat-icon>arrow_back</mat-icon></button>
        <span *ngIf="!loaded" class="truncate">Loading...</span>
        <mat-icon class="show-on-desktop" *ngIf="loaded" [svgIcon]="_ms.icons[state.cd]" style="margin-right:7px;"></mat-icon>
        <span *ngIf="loaded" class="truncate">Coins State</span>
        <mat-icon class="show-on-mobile" *ngIf="loaded && state.cd != 0" [svgIcon]="_ms.icons[state.cd]" style="margin-left:5px;"></mat-icon>
        <span fxFlex></span>        
        <app-refresh-button *ngIf="loaded" style="display: none;" (refresh)="initializeData()" [intervalSeconds]="6"></app-refresh-button>
        <button mat-icon-button *ngIf="loaded"  (click)="displayTooltip()" matTooltip="What is this?"><mat-icon>question_mark</mat-icon></button>
        <button mat-icon-button class="show-on-desktop" (click)="close()" [disabled]="!loaded"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="section-loader show-on-mobile"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
        <div class="loader show-on-desktop"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded" class="padding">
        <!-- Chart List -->
        <div *ngIf="charts" style="overflow: hidden">
            <mat-grid-list [cols]="layout == 'desktop' ? 4: 2" [rowHeight]="layout == 'desktop' ? '180px': '180px'" gutterSize="5px">
                <mat-grid-tile *ngFor="let symbol of symbols" 
                                class="fake-button" role="button" matRipple
                                (click)="displayCoinDialog(symbol)">
                        <apx-chart
                            [series]="charts[symbol].series"
                            [chart]="charts[symbol].chart"
                            [dataLabels]="charts[symbol].dataLabels"
                            [xaxis]="charts[symbol].xaxis"
                            [yaxis]="charts[symbol].yaxis"
                            [stroke]="charts[symbol].stroke"
                            [annotations]="charts[symbol].annotations"
                            [title]="charts[symbol].title"
                            [grid]="{show: false}"
                            [tooltip]="{enabled: false}"
                        ></apx-chart>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>
