
.split-grid-tile { 
    transform: scale(0.88);
}
.active-split {
    transform: scale(1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}


.load-delay {
    visibility: hidden;
}

/* Responsiveness */


/* mobile: sm & xs */
@media only screen and (max-width: 959px) {


}



/* desktop: md^ */
@media only screen and (min-width: 960px) {
    
}