<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()" [disabled]="!loaded"><mat-icon>arrow_back</mat-icon></button>
        <span *ngIf="!loaded" class="truncate">Loading...</span>
        <mat-icon class="show-on-desktop" *ngIf="loaded && !stateEvent" [svgIcon]="_ms.icons[stateAverage]" style="margin-right:7px;"></mat-icon>
        <mat-icon *ngIf="loaded && stateEvent" [svgIcon]="_ms.coinStateIcons[stateEvent]" style="margin-right:7px;"></mat-icon>
        <span *ngIf="loaded && module != 'coin'" class="truncate">{{title}}</span>
        <span *ngIf="loaded && module == 'coin'" class="truncate">{{title | baseAssetName}}</span>
        <mat-icon class="show-on-mobile" *ngIf="loaded && !stateEvent && stateAverage != 0" [svgIcon]="_ms.icons[stateAverage]" style="margin-left:5px;"></mat-icon>
        <span fxFlex></span>        
        <app-refresh-button *ngIf="loaded && module == 'coin'" style="display: none;" (refresh)="initCoin()" [intervalSeconds]="6"></app-refresh-button>
        <button mat-icon-button *ngIf="loaded" (click)="displayInfoTooltip()" matTooltip="More information"><mat-icon class="info-icon" svgIcon="info"></mat-icon></button>
        <button mat-icon-button *ngIf="loaded"  (click)="displayTooltip()" matTooltip="What is this?"><mat-icon>question_mark</mat-icon></button>
        <button mat-icon-button class="show-on-desktop" (click)="close()" [disabled]="!loaded"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="section-loader show-on-mobile"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
        <div class="loader show-on-desktop"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded" class="padding">
        <!-- Line Chart Based -->
        <div *ngIf="lineChart" style="overflow: hidden">
            <!-- Trend Heading Grid-->
            <div *ngIf="module == 'trend'">
                <mat-grid-list [cols]="4" rowHeight="45px" gutterSize="2px">
                    <mat-grid-tile *ngFor="let id of _ms.splits" 
                                    class="clickable" role="button" matRipple
                                    (click)="applySplit(id)"
                                    [ngClass]="{
                                        'buy-action-container': states[id].s > 0,
                                        'sell-action-container': states[id].s < 0,
                                        'neutral-action-container': states[id].s == 0,
                                        'weak-state': states[id].s != 2 && states[id].s != -2,
                                        'active-split': id == activeSplitID
                                    }">
                            <div fxLayout="column">
                                <p style="margin:0;padding:0;font-size:12px!important;">
                                    {{states[id].s > 0 ? '+': ''}}{{states[id].s < 0 ? '-': ''}}{{states[id].c | number: '1.0-2'}}
                                </p>
                                <span style="font-size:10px;margin-top:-5px">{{_ms.splitNames[id]}}</span>
                            </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

            <!-- Window Heading Grid-->
            <div *ngIf="module != 'trend'">
                <mat-grid-list [cols]="4" rowHeight="45px" gutterSize="2px">
                    <mat-grid-tile *ngFor="let id of _ms.splits" 
                                    class="clickable" role="button" matRipple
                                    (click)="applySplit(id)"
                                    [ngClass]="{
                                        'buy-action-container': states[id].s > 0,
                                        'sell-action-container': states[id].s < 0,
                                        'neutral-action-container': states[id].s == 0,
                                        'weak-state': states[id].s != 2 && states[id].s != -2,
                                        'active-split': id == activeSplitID
                                    }">
                            <div fxLayout="column">
                                <p style="margin:0;padding:0;font-size:12px!important;">{{states[id].c > 0 ? '+': ''}}{{states[id].c | number: '1.0-1'}}%</p>
                                <span style="font-size:10px;margin-top:-5px">{{_ms.splitNames[id]}}</span>
                            </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

            <apx-chart
                [series]="lineChart.series"
                [chart]="lineChart.chart"
                [dataLabels]="lineChart.dataLabels"
                [xaxis]="lineChart.xaxis"
                [yaxis]="lineChart.yaxis"
                [stroke]="lineChart.stroke"
                [annotations]="lineChart.annotations"
            ></apx-chart>
        </div>

        <!-- Volume -->
        <div *ngIf="volumeChart" style="overflow: hidden">
            <apx-chart
                [series]="volumeChart.series"
                [chart]="volumeChart.chart"
                [dataLabels]="volumeChart.dataLabels"
                [xaxis]="volumeChart.xaxis"
                [yaxis]="volumeChart.yaxis"
                [annotations]="volumeChart.annotations"
            ></apx-chart>
        </div>
    </div>
</div>
