<!-- Secondary Header -->
<mat-toolbar class="secondary-header">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="_nav.dashboard()"><mat-icon>arrow_back</mat-icon></button>
        <span>Settings</span>
        <span fxFlex></span>
    </div>
</mat-toolbar>

<!-- Loader -->
<div *ngIf="!loaded" class="section-loader">
    <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
</div>

<!-- Content -->
<div *ngIf="loaded">

</div>
