<!-- Header -->
<mat-toolbar class="secondary-header">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button class="show-on-mobile" mat-icon-button (click)="_nav.dashboard()"><mat-icon>arrow_back</mat-icon></button>
        <span>Forecast</span>
        <span fxFlex></span>
        <button mat-icon-button [disabled]="!loaded" (click)="performForecast()"><mat-icon>refresh</mat-icon></button>
    </div>
</mat-toolbar>


<!-- Loader -->
<div *ngIf="!loaded" class="section-loader">
    <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
</div>


<!-- Section Content -->
<div class="fadeIn" *ngIf="loaded">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex>
            <div id="chart">
                <apx-chart
                  [series]="chartOptions!.series!"
                  [chart]="chartOptions!.chart!"
                  [xaxis]="chartOptions!.xaxis!"
                  [yaxis]="chartOptions!.yaxis!"
                  [title]="chartOptions!.title!"
                  [annotations]="chartOptions!.annotations!"
                ></apx-chart>
              </div>
        </div>
    </div>
</div>
