<!-- Header -->
<mat-toolbar class="secondary-header">
    <div fxLayout="row" fxLayoutAlign="center center">
        <span>Forecast</span>
        <span fxFlex></span>

        <!-- Forecast Details-->
        <button mat-button *ngIf="loaded && forecast" class="show-on-desktop" (click)="displayForecastDetails()">
            {{_forecast.forecastResultText[forecast.result] | uppercase}}
        </button>
        <button mat-button *ngIf="loaded && forecast" class="show-on-mobile" (click)="displayForecastDetails()">
            {{_forecast.forecastResultText[forecast.result] | uppercase}}
        </button>

        <!-- Refresh -->
        <button mat-icon-button *ngIf="loaded" (click)="refresh()"><mat-icon>refresh</mat-icon></button>

        <!-- Config -->
        <button mat-icon-button *ngIf="loaded" (click)="updateConfig()"><mat-icon>tune</mat-icon></button>
    </div>
</mat-toolbar>


<!-- Loader -->
<div *ngIf="!loaded" class="section-loader">
    <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
</div>


<!-- Section Content -->
<div class="fadeIn" *ngIf="loaded">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex>
            <div class="padding" *ngIf="forecast">
                <app-candlestick-chart [data]="{candlesticks: forecast.candlesticks!, annotations: annotations}"></app-candlestick-chart>
            </div>
        </div>
    </div>
</div>
