<div class="mobile-tabs-container">
    <div fxLayout="row" fxLayoutAlign="end end" class="tabs">
        <!-- Dashboard -->
        <div fxFlex fxLayout="row" fxLayoutAlign="center center"
             class="tab" role="button" matRipple
             [ngClass]="{'active': activeTab == 0}" (click)="navigate(0)">
            <mat-icon   svgIcon="home"
                        matBadge="0" 
                        [appMatBadgeIcon]="_app.predictionIcon.value ? _app.predictionIcon.value: ''"
                        appMatBadgeIconSize="small"
                        [matBadgeHidden]="!_app.epoch.value || !_app.predictionIcon.value" 
                        matBadgePosition="after"
                        matBadgeSize="small"
                        matBadgeOverlap="false" style="max-width:20px;"></mat-icon>
        </div>

        <!-- Positions -->
        <div fxFlex fxLayout="row" fxLayoutAlign="center center"
             class="tab" role="button" matRipple
             [ngClass]="{'active': activeTab == 1}" (click)="navigate(1)">
            <mat-icon svgIcon="money_bill_transfer" style="max-width:23px;"></mat-icon>
        </div>

        <!-- Predictions -->
        <div fxFlex fxLayout="row" fxLayoutAlign="center center"
             class="tab" role="button" matRipple
             [ngClass]="{'active': activeTab == 2}" (click)="navigate(2)">
            <mat-icon svgIcon="wand_magic_sparkles" style="max-width:20px;"></mat-icon>
        </div>

        <!-- Candlesticks -->
        <div fxFlex fxLayout="row" fxLayoutAlign="center center"
             class="tab" role="button" matRipple
             [ngClass]="{'active': activeTab == 3}" (click)="navigate(3)">
            <mat-icon style="font-size:25px;margin-top:-2px">waterfall_chart</mat-icon>
        </div>

        <!-- Server -->
        <div fxFlex fxLayout="row" fxLayoutAlign="center center"
             class="tab" role="button" matRipple
             [ngClass]="{'active': activeTab == 4}" (click)="navigate(4)">
            <mat-icon svgIcon="server"
                    [matBadge]="_app.apiErrors.value" 
                    [matBadgeHidden]="!_app.apiErrors.value" 
                    matBadgePosition="after"
                    matBadgeSize="small"
                    matBadgeOverlap="false" style="max-width:20px;"></mat-icon>
        </div>
    </div>
</div>
