
.header-icon { font-size: 28px; margin:-5px 10px 0 0; }


.features {
    //margin-top:15px;
    max-width: 100%;
    text-align: center;
    .feature {
        margin:5px;
        display:inline-block;
    }
}