<div class="mat-elevation-z4" [ngClass]="{'in-zone': inZone, 'resistance': resistance, 'support': support}">
    <!-- Header -->
    <div class="fake-button header" role="button" matRipple
        (click)="expanded = !expanded">
        <div fxLayout="row" fxLayoutAlign="start center">
            <p [matBadge]="keyZone.reversals.length" matBadgePosition="after" matBadgeOverlap="false">
                {{keyZone.start | currency}} <mat-icon>arrow_right_alt</mat-icon> {{keyZone.end | currency}}
            </p>
            <span fxFlex></span>
            <mat-icon>{{expanded ? 'arrow_drop_up': 'arrow_drop_down'}}</mat-icon>
        </div>
    </div>

    <!-- Content -->
    <div *ngIf="expanded" class="content fadeIn">
        <div>
            <table class="bordered highlight">
                <tbody>
                    <tr *ngFor="let r of keyZone.reversals">
                        <td>
                            <p class="show-on-desktop">{{r.id | date: 'medium'}}</p>
                            <p class="show-on-mobile">{{r.id | date: 'short'}}</p>
                        </td>
                        <td class="align-right" [ngClass]="{'success-color': r.type == 'resistance', 'error-color': r.type == 'support'}">
                            {{r.type | uppercase}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>