<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="cancel()" [disabled]="submitting"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate" matTooltip="Last Update: {{strategy.ts | date: 'medium'}}">Strategy</span>
        <span fxFlex></span>
        <button mat-icon-button (click)="update()" [disabled]="submitting || form.invalid" matTooltip="Update Strategy"><mat-icon>save</mat-icon></button>
        <button mat-icon-button class="show-on-desktop" (click)="cancel()" [disabled]="submitting"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Container -->
    <div class="fadeIn padding">

        <!-- Form -->
        <div *ngIf="form">
            <form [formGroup]="form" (ngSubmit)="update()">
                <!-- Long & Short Status -->
                <div>
                    <h5>Status</h5>
                    <p class="light-text ts-s">
                        The model will open positions as long as non-neutral signals are generated and the side's 
                        status is enabled. Note that positions won't be opened if a side is idling.
                    </p>
                    <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                        <div fxFlex>
                            <div fxLayout="row" fxLayoutAlign="center start">
                                <div>
                                    <h6>Long</h6>
                                    <p *ngIf="long_status.value" class="success-color ts-s">Running</p>
                                    <p *ngIf="!long_status.value" class="light-text ts-s truncate">Not running</p>
                                    <p *ngIf="longIdling" class="light-text ts-s truncate">
                                        Idle until {{strategy.long_idle_until | date: 'shortTime'}}
                                    </p>
                                </div>
                                <span fxFlex></span>
                                <mat-slide-toggle 
                                    formControlName="long_status"
                                    [appDisableControl]="submitting">
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <div fxLayout="row" fxLayoutAlign="center start">
                                <div>
                                    <h6>Short</h6>
                                    <p *ngIf="short_status.value" class="success-color ts-s">Running</p>
                                    <p *ngIf="!short_status.value" class="light-text ts-s">Not running</p>
                                    <p *ngIf="shortIdling" class="light-text ts-s">
                                        Idle until {{strategy.short_idle_until | date: 'shortTime'}}
                                    </p>
                                </div>
                                <span fxFlex></span>
                                <mat-slide-toggle 
                                    formControlName="short_status"
                                    [appDisableControl]="submitting">
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <!-- Trading Mode -->
                <div class="margin-top">
                    <h5>Trading Mode</h5>
                    <p class="light-text ts-s">
                        When Hedge Mode is enabled, the model can open both, a long and a short at the same time. 
                        Otherwise, it makes use of One-way mode which ensures only 1 position is open at a time.
                    </p>
                    <div class="margin-top">
                        <mat-slide-toggle 
                            formControlName="hedge_mode"
                            [appDisableControl]="submitting">
                            Hedge Mode
                        </mat-slide-toggle>
                    </div>
                </div>

                <div class="divider"></div>

                <!-- Leverage & Level Increase Requirement-->
                <div class="margin-top">
                    <h5>General</h5>
                    <p class="light-text ts-s">
                        The following configuration will be used when opening positions for either side.
                    </p>
                    <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Leverage</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="leverage"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 2">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Position Size</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="position_size"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 1500">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <!-- Profit Optimization -->
                <div class="margin-top">
                    <h5>Profit Optimization Strategy</h5>
                    <p class="light-text ts-s">
                        The following configuration will be used in order to close positions when they're profitable 
                        and the market conditions start to decay.
                    </p>

                    <!-- Take Profit 1 -->
                    <div class="margin-top">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div>
                                <p><strong>Level 1&nbsp;&nbsp;&nbsp;</strong></p>
                            </div>
                            <div fxFlex>
                                <mat-form-field>
                                    <mat-label>Price Change Requirement</mat-label>
                                    <input type="number"
                                        matInput
                                        formControlName="take_profit_1_pcr"
                                        autocomplete="off"
                                        [appDisableControl]="submitting"
                                        placeholder="e.g. 0.75">
                                </mat-form-field>
                            </div>
                            <span fxFlex="5"></span>
                            <div fxFlex>
                                <mat-form-field>
                                    <mat-label>Max HP Drawdown</mat-label>
                                    <input type="number"
                                        matInput
                                        formControlName="take_profit_1_dd"
                                        autocomplete="off"
                                        [appDisableControl]="submitting"
                                        placeholder="e.g. -40">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <!-- Take Profit 2 -->
                    <div class="margin-top">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div>
                                <p><strong>Level 2&nbsp;&nbsp;&nbsp;</strong></p>
                            </div>
                            <div fxFlex>
                                <mat-form-field>
                                    <mat-label>Price Change Requirement</mat-label>
                                    <input type="number"
                                        matInput
                                        formControlName="take_profit_2_pcr"
                                        autocomplete="off"
                                        [appDisableControl]="submitting"
                                        placeholder="e.g. 1.5">
                                </mat-form-field>
                            </div>
                            <span fxFlex="5"></span>
                            <div fxFlex>
                                <mat-form-field>
                                    <mat-label>Max HP Drawdown</mat-label>
                                    <input type="number"
                                        matInput
                                        formControlName="take_profit_2_dd"
                                        autocomplete="off"
                                        [appDisableControl]="submitting"
                                        placeholder="e.g. -30">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <!-- Take Profit 3 -->
                    <div class="margin-top">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div>
                                <p><strong>Level 3&nbsp;&nbsp;&nbsp;</strong></p>
                            </div>
                            <div fxFlex>
                                <mat-form-field>
                                    <mat-label>Price Change Requirement</mat-label>
                                    <input type="number"
                                        matInput
                                        formControlName="take_profit_3_pcr"
                                        autocomplete="off"
                                        [appDisableControl]="submitting"
                                        placeholder="e.g. 2.25">
                                </mat-form-field>
                            </div>
                            <span fxFlex="5"></span>
                            <div fxFlex>
                                <mat-form-field>
                                    <mat-label>Max HP Drawdown</mat-label>
                                    <input type="number"
                                        matInput
                                        formControlName="take_profit_3_dd"
                                        autocomplete="off"
                                        [appDisableControl]="submitting"
                                        placeholder="e.g. -15">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <!-- Take Profit 4 -->
                    <div class="margin-top">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div>
                                <p><strong>Level 4&nbsp;&nbsp;&nbsp;</strong></p>
                            </div>
                            <div fxFlex>
                                <mat-form-field>
                                    <mat-label>Price Change Requirement</mat-label>
                                    <input type="number"
                                        matInput
                                        formControlName="take_profit_4_pcr"
                                        autocomplete="off"
                                        [appDisableControl]="submitting"
                                        placeholder="e.g. 3">
                                </mat-form-field>
                            </div>
                            <span fxFlex="5"></span>
                            <div fxFlex>
                                <mat-form-field>
                                    <mat-label>Max HP Drawdown</mat-label>
                                    <input type="number"
                                        matInput
                                        formControlName="take_profit_4_dd"
                                        autocomplete="off"
                                        [appDisableControl]="submitting"
                                        placeholder="e.g. -10">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <!-- Take Profit 5 -->
                    <div class="margin-top">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div>
                                <p><strong>Level 5&nbsp;&nbsp;&nbsp;</strong></p>
                            </div>
                            <div fxFlex>
                                <mat-form-field>
                                    <mat-label>Price Change Requirement</mat-label>
                                    <input type="number"
                                        matInput
                                        formControlName="take_profit_5_pcr"
                                        autocomplete="off"
                                        [appDisableControl]="submitting"
                                        placeholder="e.g. 6">
                                </mat-form-field>
                            </div>
                            <span fxFlex="5"></span>
                            <div fxFlex>
                                <mat-form-field>
                                    <mat-label>Max HP Drawdown</mat-label>
                                    <input type="number"
                                        matInput
                                        formControlName="take_profit_5_dd"
                                        autocomplete="off"
                                        [appDisableControl]="submitting"
                                        placeholder="e.g. -5">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <!-- Stop Loss -->
                <div class="margin-top">
                    <h5>Loss Optimization Strategy</h5>
                    <p class="light-text ts-s">
                        The following configuration will be used in order to close positions when they have reached
                        an acceptable loss and the market conditions aren't improving.
                    </p>
                    <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                        <div fxFlex="20">
                            <mat-form-field>
                                <mat-label>Stop Loss%</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="stop_loss"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 3">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Max HP DD in Profit</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="max_hp_drawdown_in_profit"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. -35">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Max HP DD in Loss</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="max_hp_drawdown_in_loss"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. -50">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <!-- Idle Duration -->
                <div class="margin-top">
                    <h5>Idling</h5>
                    <p class="light-text ts-s">
                        When a position is closed, the side goes into idling state and new positions won't be opened
                        until the state fades away.
                    </p>
                    <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Long Idle Minutes</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="long_idle_minutes"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 30">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Short Idle Minutes</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="short_idle_minutes"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 30">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
