<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="cancel()" [disabled]="submitting"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate" matTooltip="Last Update: {{strategy.ts | date: 'medium'}}">Strategy</span>
        <span fxFlex></span>
        <button mat-icon-button (click)="update()" [disabled]="submitting || form.invalid" matTooltip="Update Strategy"><mat-icon>save</mat-icon></button>
        <button mat-icon-button class="show-on-desktop" (click)="cancel()" [disabled]="submitting"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Container -->
    <div class="fadeIn padding">

        <!-- Form -->
        <div *ngIf="form">
            <form [formGroup]="form" (ngSubmit)="update()">
                <!-- Long & Short Status -->
                <div>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex>
                            <div fxLayout="row" fxLayoutAlign="center start">
                                <div>
                                    <h5>Long</h5>
                                    <p *ngIf="long_status.value" class="success-color ts-s">Running</p>
                                    <p *ngIf="!long_status.value" class="light-text ts-s truncate">Not running</p>
                                    <p *ngIf="longIdling && long_status.value" class="light-text ts-s truncate">
                                        Idle until {{strategy.long_idle_until | date: 'shortTime'}}
                                    </p>
                                </div>
                                <span fxFlex></span>
                                <mat-slide-toggle 
                                    formControlName="long_status"
                                    [appDisableControl]="submitting">
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <div fxLayout="row" fxLayoutAlign="center start">
                                <div>
                                    <h5>Short</h5>
                                    <p *ngIf="short_status.value" class="success-color ts-s">Running</p>
                                    <p *ngIf="!short_status.value" class="light-text ts-s">Not running</p>
                                    <p *ngIf="shortIdling && short_status.value" class="light-text ts-s">
                                        Idle until {{strategy.short_idle_until | date: 'shortTime'}}
                                    </p>
                                </div>
                                <span fxFlex></span>
                                <mat-slide-toggle 
                                    formControlName="short_status"
                                    [appDisableControl]="submitting">
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Leverage & Level Increase Requirement-->
                <div class="margin-top">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Leverage</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="leverage"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 2">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Position Size</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="position_size"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 1500">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Take Profit 1 -->
                <div class="margin-top">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>TP_1: Price Change Requirement</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="take_profit_1_pcr"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 0.75">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>TP_1: Max HP Drawdown</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="take_profit_1_dd"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. -40">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Take Profit 2 -->
                <div class="margin-top">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>TP_2: Price Change Requirement</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="take_profit_2_pcr"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 1.5">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>TP_2: Max HP Drawdown</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="take_profit_2_dd"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. -30">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Take Profit 3 -->
                <div class="margin-top">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>TP_3: Price Change Requirement</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="take_profit_3_pcr"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 2.25">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>TP_3: Max HP Drawdown</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="take_profit_3_dd"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. -15">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Take Profit 4 -->
                <div class="margin-top">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>TP_4: Price Change Requirement</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="take_profit_4_pcr"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 3">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>TP_4: Max HP Drawdown</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="take_profit_4_dd"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. -10">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Take Profit 5 -->
                <div class="margin-top">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>TP_5: Price Change Requirement</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="take_profit_5_pcr"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 6">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>TP_5: Max HP Drawdown</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="take_profit_5_dd"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. -5">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Stop Loss -->
                <div class="margin-top">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Stop Loss%</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="stop_loss"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 3">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex></div>
                    </div>
                </div>

                <!-- Idle Duration -->
                <div class="margin-top">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Long Idle Minutes</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="long_idle_minutes"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 30">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Short Idle Minutes</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="short_idle_minutes"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 30">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
