<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">KeyZone</span>&nbsp;
        <span fxFlex></span>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <div class="component">
        <!-- Price Range -->
        <div fxLayout="row" fxLayoutAlign="center start">
            <p class="light-text ts-m">Range ({{zoneSize}}%)</p>
            <span fxFlex></span>
            <div>
                <p>{{zone.s | currency}}</p>
                <p>{{zone.e | currency}}</p>
            </div>
        </div>

        <!-- Volume Mean -->
        <div class="margin-top" fxLayout="row" fxLayoutAlign="center center">
            <p class="light-text ts-m">Vol. Mean</p>
            <span fxFlex></span>
            <p>{{zone.vm | currency}}</p>
        </div>

        <!-- Reversals -->
        <div class="margin-top">
            <div fxLayout="row" fxLayoutAlign="center start">
                <p class="light-text ts-m">Reversals</p>
                <span fxFlex></span>
                <div *ngIf="zone.m" class="square-badge">Mutation: {{zone.r.length}}</div>
                <div *ngIf="!zone.m && zone.r[0].t == 's'" class="square-badge-error">Support: {{zone.r.length}}</div>
                <div *ngIf="!zone.m && zone.r[0].t == 'r'" class="square-badge-success">Resistance: {{zone.r.length}}</div>
            </div>
            <table class="bordered">
                <tbody>
                    <tr *ngFor="let reversal of zone.r">
                        <td [ngClass]="{'success-color': reversal.t == 'r', 'error-color': reversal.t == 's'}">
                            <p class="ts-s">{{reversal.id | date: 'medium'}}</p>
                            <p class="ts-xxs">{{reversal.v | currency}}</p>
                        </td>
                        <td class="align-right" [ngClass]="{'success-color': reversal.t == 'r', 'error-color': reversal.t == 's'}">
                            <p class="ts-s">{{reversal.t == 'r' ? 'RESISTANCE': 'SUPPORT'}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
