<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" [disabled]="(installing && task && task.state != 'errored') || uploadProgress != 0" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate" *ngIf="!installing">Install Epoch</span>
        <span class="truncate" *ngIf="installing">Installing...</span>
        <span fxFlex></span>
        <button mat-icon-button class="show-on-desktop" [disabled]="(installing && task && task.state != 'errored') || uploadProgress != 0" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>

    <!-- Container -->
    <div class="padding">

        <!-- Epoch File Input -->
        <div *ngIf="!installing">
            <form [formGroup]="form">
                <!-- Button -->
                <label *ngIf="!epochFileInput.file" for="epochFile">
                    <div fxLayout="row" fxLayoutAlign="start center" class="large-file-button" matRipple role="button" tabindex="0">
                        <mat-icon svgIcon="file_zipper"></mat-icon>
                        <div class="margin-left">
                            <p>Select Epoch File</p>
                            <p class="light-text ts-m"><strong>Format:</strong> ZIP</p>
                        </div>
                    </div>
                </label>

                <!-- Input -->
                <input id="epochFile" type="file" formControlName="epochFile" [accept]="epochFileInput.acceptedFormats" (change)="fileChanged($event)"/>

                <!-- Attached File -->
                <div>
                    <div *ngIf="epochFileInput.file" fxLayout="row" fxLayoutAlign="start center" class="selected-file">
                        <mat-icon svgIcon="file_zipper"></mat-icon>
                        <div class="margin-left">
                            <p class="title">Uploading {{epochID}}</p>
                            <p class="light-text ts-m"><strong>Size:</strong> {{epochFileInput.file.size | filesize}}</p>
                        </div>
                        <span fxFlex></span>
                        <p class="progress">{{uploadProgress}}%</p>
                    </div>
                </div>

                <!-- Unknown Error -->
                <div class="error-color align-center margin-top" *ngIf="epochFileInput.error"><p>{{epochFileInput.error}}</p></div>
            </form>
        </div>

        <!-- Epoch Install Task -->
        <div *ngIf="installing">
            <app-background-task [task]="task" (refresh)="refreshTaskState()"></app-background-task>
        </div>
    </div>
</div>
