


p { margin: 0 }


.selected-file {width: 100%;max-width: 100%!important;}
.selected-file p { margin:0;}
.selected-file .progress {min-width: 40px;text-align: right;margin-right:10px;}








/* Responsiveness */


/* mobile: sm & xs */
@media only screen and (max-width: 959px) {
    .selected-file .progress {margin-right:0;}
}



/* desktop: md */
@media only screen and (min-width: 960px) {

}