@use '@angular/material' as mat;




.component {
    //padding:15px;
    h4 { margin:0}
    p {margin:0}
    .m-right { margin-right:5px;}


    .inactive { opacity: 0.8!important;}


    /* State KeyZone */
    .state-keyzone {
        margin: 1px 0 1px 0;
        padding:3px 5px 3px 5px;
        p {
            font-size: 13px!important;
            font-weight: 700;
            color: #FFFFFF;
        }
        .mat-icon {
            color: #FFFFFF;
        }
        .liquidity-icon {
            margin:4px 2px 0 0;font-size:20px;
        }
        .distance { font-size: 10px!important;margin-left:5px; font-weight: 900!important;}
    }
    .state-keyzone:first-child { margin-top:0px!important}
    .state-keyzone:last-child { margin-bottom:0px!important}
    .state-keyzone:hover { filter: brightness(75%); }




    @for $i from 0 through 100 {
        $width: $i * 1%;
        .state-keyzone-above-#{$i} {
            background: linear-gradient(90deg, #004D40 $width, #4DB6AC $width);
        }
        .state-keyzone-below-#{$i} {
            background: linear-gradient(90deg, #B71C1C  $width, #E57373 $width);
        }
    }




    /* Full State KeyZone */
    .keyzone {
        margin: 1px 0 1px 0;
        padding:1px 5px 1px 5px;
        p {
            font-size: 11px!important;
            font-weight: 700;
            color: #FFFFFF;
        }
    }
    .keyzone:first-child { margin-top:0px!important}
    .keyzone:last-child { margin-bottom:0px!important}
    .keyzone:hover { filter: brightness(75%); }


    .active { 
        @extend .keyzone;
        background-color:  #000000;
        margin: 1px 0 1px 0;
    }
    .active:first-child { margin-top:1px!important}
    .active:last-child { margin-bottom:1px!important}
    .market { 
        @extend .keyzone;
        background-color:  #78909C;
        margin: 1px 0 1px 0;
    }
    .market:first-child { margin-top:1px!important}
    .market:last-child { margin-bottom:1px!important}


    .above-0 {
        @extend .keyzone;
        background-color: #B2DFDB;
    }
    .above-1 {
        @extend .keyzone;
        background-color: #4DB6AC;
    }
    .above-2 {
        @extend .keyzone;
        background-color: #009688;
    }
    .above-3 {
        @extend .keyzone;
        background-color: #00796B;
    }
    .above-4 {
        @extend .keyzone;
        background-color: #004D40;
    }
    //.above:first-child { margin-top:0!important;}
    .below-0 {
        @extend .keyzone;
        background-color: #FFCDD2;
    }
    .below-1 {
        @extend .keyzone;
        background-color: #E57373;
    }
    .below-2 {
        @extend .keyzone;
        background-color: #F44336;
    }
    .below-3 {
        @extend .keyzone;
        background-color: #D32F2F;
    }
    .below-4 {
        @extend .keyzone;
        background-color: #B71C1C;
    }
    //.below:last-child { margin-bottom:0!important;}
}