<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()" [disabled]="!loaded"><mat-icon>arrow_back</mat-icon></button>
        <span *ngIf="!loaded" class="truncate">Loading...</span>
        <span *ngIf="loaded" class="truncate">{{state.k == 1 ? 'Support': 'Resistance'}} Reversal</span>
        <span fxFlex></span>        
        <app-refresh-button *ngIf="loaded && state && !state.end" style="display: none;" (refresh)="syncReversalState()" [intervalSeconds]="6"></app-refresh-button>
        
        <!-- Desktop Menu -->

        <!-- General Info -->
        <button *ngIf="layout == 'desktop'" mat-icon-button (click)="displayInfoTooltip()" [disabled]="!loaded" matTooltip="More information"><mat-icon class="info-icon" svgIcon="info"></mat-icon></button>
        <button *ngIf="layout == 'desktop'" mat-icon-button (click)="displayTooltip()" [disabled]="!loaded" matTooltip="What is this?"><mat-icon>question_mark</mat-icon></button>
        
        <!-- Reversal Event -->
        <button mat-icon-button 
            *ngIf="state && state.e && layout == 'desktop'"
            (click)="displayReversalEventInfoDialog()" 
            [disabled]="!loaded" 
            matTooltip="Display {{state.k == 1 ? 'Support': 'Resistance'}} Reversal Event">
            <mat-icon svgIcon="{{state.k == 1 ? 'rotate_left': 'rotate_right'}}" style="max-width: 20px;"></mat-icon>
        </button>

        <!-- Coins States -->
        <button *ngIf="layout == 'desktop'" mat-icon-button [matMenuTriggerFor]="coinsStatesDesktopMenu" [disabled]="!loaded" matTooltip="Coins' States">
            <mat-icon>currency_bitcoin</mat-icon>
        </button>
        <mat-menu #coinsStatesDesktopMenu="matMenu">
            <button mat-menu-item (click)="displayCoinsStateSummaryDialog('initial')">
                <span>Initial State</span>
            </button>
            <button *ngIf="state && state.e" mat-menu-item (click)="displayCoinsStateSummaryDialog('event')">
                <span>Event State</span>
            </button>
            <button *ngIf="state && state.end" mat-menu-item (click)="displayCoinsStateSummaryDialog('final')">
                <span>Final State</span>
            </button>
        </mat-menu>

        <!-- KeyZone Event-->
        <button mat-icon-button 
            *ngIf="state && state.kze && layout == 'desktop'"
            (click)="displayKeyZoneEventInfoDialog()" 
            [disabled]="!loaded" 
            matTooltip="Display {{state.kze.k == 's' ? 'Support': 'Resistance'}}">
            <mat-icon>{{state.kze.k == 's' ? 'vertical_align_bottom': 'vertical_align_top'}}</mat-icon>
        </button>
        <button *ngIf="layout == 'desktop'" mat-icon-button (click)="close()" [disabled]="!loaded"><mat-icon>close</mat-icon></button>

        <!-- Mobile Menu -->
        <button *ngIf="layout == 'mobile'" mat-icon-button [matMenuTriggerFor]="menu" [disabled]="!loaded">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item 
                    *ngIf="state && state.e"
                    (click)="displayReversalEventInfoDialog()">
                    <mat-icon svgIcon="{{state.k == 1 ? 'rotate_left': 'rotate_right'}}" style="max-width: 20px;"></mat-icon>
                <span>Display {{state.k == 1 ? 'Support': 'Resistance'}} Reversal Event</span>
            </button>
            <button mat-menu-item 
                    *ngIf="state && state.kze"
                    (click)="displayKeyZoneEventInfoDialog()">
                <mat-icon>{{state.kze.k == 's' ? 'vertical_align_bottom': 'vertical_align_top'}}</mat-icon>
                <span>Display {{state.kze.k == 's' ? 'Support': 'Resistance'}}</span>
            </button>
            <button mat-menu-item  [matMenuTriggerFor]="coinsStatesMobileMenu">
                <mat-icon>currency_bitcoin</mat-icon>
                <span>Coins' States</span>
            </button>
            <mat-menu #coinsStatesMobileMenu="matMenu">
                <button mat-menu-item (click)="displayCoinsStateSummaryDialog('initial')">
                    <span>Initial State</span>
                </button>
                <button *ngIf="state && state.e" mat-menu-item (click)="displayCoinsStateSummaryDialog('event')">
                    <span>Event State</span>
                </button>
                <button *ngIf="state && state.end" mat-menu-item (click)="displayCoinsStateSummaryDialog('final')">
                    <span>Final State</span>
                </button>
            </mat-menu>
            <button mat-menu-item (click)="displayTooltip()">
                <mat-icon>question_mark</mat-icon>
                <span>What is this?</span>
            </button>
            <button mat-menu-item (click)="displayInfoTooltip()">
                <mat-icon svgIcon="info"></mat-icon>
                <span>More information</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="section-loader"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded && state" class="padding" style="overflow: hidden">
        <apx-chart
            [series]="chart.series"
            [chart]="chart.chart"
            [dataLabels]="chart.dataLabels"
            [xaxis]="chart.xaxis"
            [yaxis]="chart.yaxis"
            [stroke]="chart.stroke"
            [annotations]="chart.annotations"
        ></apx-chart>
    </div>
</div>
