<!-- Secondary Header -->
<mat-toolbar class="secondary-header">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button (click)="gotoIntro()" *ngIf="view != 'intro'"><mat-icon>arrow_back</mat-icon></button>
        <span *ngIf="view == 'intro'">API Errors</span>
        <span *ngIf="view == 'record'">API Error</span>
        <span fxFlex></span>

        <!-- Intro Actions -->
        <app-refresh-button *ngIf="view == 'intro'" [disabled]="!loaded || submitting" [intervalSeconds]="20" (refresh)="loadErrors()"></app-refresh-button>
        <button *ngIf="view == 'intro'" mat-icon-button [disabled]="submitting || !loaded || !list.length" (click)="deleteAll()"><mat-icon>delete</mat-icon></button>

        <!-- Record Actions -->
        <button *ngIf="view != 'intro' && active && active.ip" mat-icon-button [disabled]="submitting" (click)="blacklistIP(active.ip)"><mat-icon>vpn_lock</mat-icon></button>
        <button *ngIf="view != 'intro' && active" mat-icon-button [disabled]="submitting" (click)="downloadError()"><mat-icon>file_download</mat-icon></button>
    </div>
</mat-toolbar>

<!-- Loader -->
<div *ngIf="!loaded" class="section-loader">
    <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
</div>

<!-- Content -->
<div *ngIf="loaded" [ngClass]="{'section-content': layout == 'mobile'}" class="padding">

    <!-- Intro -->
    <div *ngIf="view == 'intro'" class="intro-container fadeIn">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex fxFlex.md="80" fxFlex.lg="70" fxFlex.xl="60">
                <p *ngIf="!list.length" class="no-data-found">No data was found</p>
                <div *ngFor="let r of list; last as isLast">
                    <div class="desktop-card fake-button" role="button" (click)="gotoRecord(r)">
                        <!-- Heading -->
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <p><strong>{{r.o}}</strong></p>
                            <p *ngIf="r.uid || r.ip" class="light-text ts-m show-on-desktop">&nbsp;{{r.uid || r.ip}}</p>
                            <span fxFlex></span>
                            <p class="show-on-desktop ts-s">{{r.c | date: 'medium'}}</p>
                        </div>
            
                        <!-- Error -->
                        <p class="ts-m">{{r.e}}</p>

                        <!-- Mobile Date -->
                        <p class="show-on-mobile ts-s light-text">{{r.c | date: 'medium'}}</p>
                    </div>
                    <div *ngIf="!isLast && layout == 'mobile'" class="divider"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Record -->
    <div *ngIf="view == 'record' && active" class="record-container fadeIn">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="30">
                <div class="desktop-card">

                    <div class="row">
                        <p class="light-text ts-m">Creation</p>
                        <p>{{active.c | date: 'medium'}}</p>
                    </div>

                    <div class="row">
                        <p class="light-text ts-m">Origin</p>
                        <p>{{active.o}}</p>
                    </div>

                    <div class="row">
                        <p class="light-text ts-m">Error</p>
                        <p>{{active.e}}</p>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="active.uid" class="row">
                        <div>
                            <p class="light-text ts-m">User ID</p>
                            <p>{{active.uid}}</p>
                        </div>
                        <span fxFlex></span>
                        <button mat-icon-button (click)="_clipboard.copy(active.uid)"><mat-icon>content_copy</mat-icon></button>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="active.ip" class="row">
                        <div>
                            <p class="light-text ts-m">IP</p>
                            <p>{{active.ip}}</p>
                        </div>
                        <span fxFlex></span>
                        <button mat-icon-button (click)="_clipboard.copy(active.ip)"><mat-icon>content_copy</mat-icon></button>
                    </div>

                    <div class="row" *ngIf="active.p">
                        <p class="light-text ts-m">Params</p>
                        <div class="params-container">
                            <pre>{{active.p | json}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile Tabs -->
    <app-mobile-tabs *ngIf="layout == 'mobile'"></app-mobile-tabs>

    <!-- Download Link -->
    <a style="visibility: hidden" [href]="jsonLink.url" [download]="jsonLink.name" id="downloadLink"></a>
</div>
