<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">Backtests Order</span>
        <span fxFlex></span>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <div class="component-container">
        <div *ngFor="let o of orders; last as lastOrder" 
            class="order" >
            <div [ngClass]="{'fake-button': order != o.id}">
                <div class="order-content clickable" role="button" 
                    [ngClass]="{'inactive-order': order && order != o.id}"
                    (click)="toggleOrder(o.id)">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <h5>{{o.name}}</h5>
                        <span fxFlex></span>
                        <mat-icon>{{o.icon}}</mat-icon>
                    </div>
                    <p class="light-text ts-m">{{o.description}}</p>
                </div>
                <div *ngIf="order == o.id" class="fadeIn qty-container">
                    <mat-grid-list [cols]="_app.layout.value == 'desktop' ? 6: 4" rowHeight="35" gutterSize="5px">
                        <mat-grid-tile *ngFor="let qty of quantities">
                            <div class="square-badge clickable" 
                                role="button" 
                                matTooltip="View Top {{qty}}"
                                (click)="close(qty)">{{qty}}</div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
            <div class="divider" *ngIf="!lastOrder"></div>
        </div>
    </div>
</div>
