<!-- Secondary Header -->
<mat-toolbar class="secondary-header">
    <div fxLayout="row" fxLayoutAlign="center center">
        <span>Positions</span>
        <span fxFlex></span>
    </div>
</mat-toolbar>

<!-- Loader -->
<div *ngIf="!loaded" class="section-loader">
    <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
</div>

<!-- Content -->
<div *ngIf="loaded" [ngClass]="{'section-content': layout == 'mobile'}">
    <p>@TODO</p>

    <!-- Mobile Tabs -->
    <app-mobile-tabs *ngIf="layout == 'mobile'"></app-mobile-tabs>
</div>
