<!-- Section Container -->
<mat-drawer-container class="section-container">

    <!-- Main Sidenav -->
    <mat-drawer #positionSidenav [(opened)]="positionSidenavOpened" class="sidenav" position="start" mode="over" autoFocus="false">
        <!-- Menu Heading Toolbar -->
        <mat-toolbar color="primary">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button (click)="positionSidenav?.toggle()"><mat-icon>arrow_back</mat-icon></button>
                <span class="truncate clickable">
                    Positions
                </span>
                <span fxFlex></span>
            </div>
        </mat-toolbar>

        <!-- Menu Content -->
        <mat-list>
            <mat-list-item *ngFor="let item of sections">
                <button mat-button class="left-icon-button" 
                        [disabled]="activeSection.id == item.id">
                    <mat-icon *ngIf="item.svgIcon" [svgIcon]="item.svgIcon"></mat-icon>
                    <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
                    <span>{{item.name}}</span>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>


    <!-- Section Content -->
    <mat-drawer-content>
        <div>
            <!-- Section Header -->
            <mat-toolbar class="secondary-header">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-icon-button (click)="positionSidenav?.toggle()" class="show-on-mobile"><mat-icon>menu</mat-icon></button>
                    <span class="truncate">Positions</span>
                    <span fxFlex></span>

                    <!-- Close Epoch-->
                    <button mat-icon-button 
                            *ngIf="loaded && sectionLoaded"
                            matTooltip="Close"><mat-icon>close</mat-icon></button>
                </div>
            </mat-toolbar>



            <!-- Section Content -->
            <div [ngClass]="{'section-content': layout == 'mobile'}">
                <!-- Initialization Loader -->
                <div *ngIf="!initialized && initializing" class="section-loader">
                    <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
                </div>

                <!-- Prediction Container -->
                <div *ngIf="initialized">
                    <!-- Loader -->
                    <div *ngIf="!loaded" class="section-loader">
                        <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
                    </div>

                    <!-- No trades in range-->
                    <p *ngIf="loaded" class="light-text align-center margin-top-x3 fadeIn">@TODO</p>



                </div>
            </div>
        </div>



        <!-- Mobile Tabs -->
        <app-mobile-tabs *ngIf="layout == 'mobile'"></app-mobile-tabs>
    </mat-drawer-content>
</mat-drawer-container>