<div>
    <!-- Regressions -->
    <div *ngFor="let reg of config.regressions; index as featureIndex" [ngClass]="{'margin-top': featureIndex != 0}">
        <div fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/img/model_logos/{{modelTypes[reg.id]}}.png" alt="Model Type" class="model-logo-xs margin-right">
            <app-keras-regression-element 
                *ngIf="reg.keras_regressions" 
                [config]="reg.keras_regressions[0].regression"></app-keras-regression-element>
            <!--<app-xgb-regression-element 
                *ngIf="reg.xgb_regressions" 
                [config]="reg.xgb_regressions[0].regression"></app-xgb-regression-element>-->
            <span fxFlex></span>
        </div>
    </div>

    <!-- RSI -->
    <div class="margin-top" *ngIf="config.include_rsi">
        <div fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/img/RSI.png" alt="RSI" class="model-logo-xs margin-right">
            <p>RSI Indicator</p>
            <span fxFlex></span>
        </div>
    </div>

    <!-- AROON -->
    <div class="margin-top" *ngIf="config.include_aroon">
        <div fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/img/AROON.png" alt="AROON" class="model-logo-xs margin-right">
            <p>AROON Indicator</p>
            <span fxFlex></span>
        </div>
    </div>
</div>