<!-- SideNav Container -->
<mat-drawer-container class="section-container">

    <!-- Sidenav -->
    <mat-drawer #homeSidenav [(opened)]="sidenavOpened" class="sidenav" position="end" mode="over" autoFocus="false" *ngIf="layout == 'mobile'">

        <!-- Menu Heading Toolbar -->
        <mat-toolbar color="primary">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span>Menu</span>
                <span fxFlex></span>
                <button mat-icon-button (click)="signOut()" matTooltip="Sign Out"><mat-icon>logout</mat-icon></button>
                <button mat-icon-button (click)="createNewInstance()" matTooltip="Create New Instance"><mat-icon>open_in_new</mat-icon></button>
                <button mat-icon-button (click)="sidenav?.toggle()"><mat-icon>arrow_forward</mat-icon></button>
            </div>
        </mat-toolbar>

        <!-- Menu Content -->
        <mat-list>
            <!-- Epochs -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.epochs()">
                    <mat-icon svgIcon="brain"></mat-icon><span>Epochs</span>
                </button>
            </mat-list-item>

            <!-- Order Book -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.orderBook()">
                    <mat-icon>menu_book</mat-icon><span>Order Book</span>
                </button>
            </mat-list-item>

            <!-- Users -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.users()">
                    <mat-icon>people_alt</mat-icon><span>Users</span>
                </button>
            </mat-list-item>

            
            <!-- GUI Version -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.guiVersion()">
                    <mat-icon>update</mat-icon><span>GUI Version</span>
                </button>
            </mat-list-item>

            <!-- IP Blacklist -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.ipBlacklist()">
                    <mat-icon>vpn_lock</mat-icon><span>IP Blacklist</span>
                </button>
            </mat-list-item>



            <!-- Epoch Builder Menu -->
            <mat-list-item [ngClass]="{'active-sub-menu': builderExpanded}">
                <button mat-button class="left-icon-button" (click)="builderExpanded = !builderExpanded">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon svgIcon="compass_drafting" class="compass-drafting"></mat-icon>&nbsp;
                        <span>Epoch Builder</span>
                        <span fxFlex></span>
                        <mat-icon>{{builderExpanded ? 'arrow_drop_up': 'arrow_drop_down'}}</mat-icon>
                    </div>
                </button>
            </mat-list-item>

            <!-- Regression Training Certificates -->
            <mat-list-item *ngIf="builderExpanded" class="active-sub-menu">
                <button mat-button (click)="_nav.regressions()">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Regressions</span>
                        <span fxFlex></span>
                        <img src="assets/img/model_logos/Regression.png" alt="Model Logo" class="small-model-logo">
                    </div>
                </button>
            </mat-list-item>

            <!-- Prediction Model Certificates -->
            <mat-list-item *ngIf="builderExpanded" class="active-sub-menu">
                <button mat-button (click)="_nav.predictionModels()">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Prediction Models</span>
                        <span fxFlex></span>
                        <img src="assets/img/model_logos/PredictionModel.png" alt="Model Logo" class="small-model-logo">
                    </div>
                </button>
            </mat-list-item>
            <!-- Epoch Builder Menu -->



            <!-- PGAdmin -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.openPGAdmin()">
                    <mat-icon>open_in_new</mat-icon><span>PGAdmin</span>
                </button>
            </mat-list-item>


            <!-- Dozzle -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.openDozzle()">
                    <mat-icon>open_in_new</mat-icon><span>Dozzle</span>
                </button>
            </mat-list-item>

            <!-- Local Database -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.localDatabase()">
                    <mat-icon svgIcon="database"></mat-icon><span>Local Database</span>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>




    <!-- Section Content -->
    <mat-drawer-content>
        <div>


            <!-- Section Header -->
            <mat-toolbar class="secondary-header">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <!-- Logo -->
                    <img *ngIf="!epoch && layout == 'mobile'" src="assets/img/logo.png" alt="Logo">
                    <img *ngIf="epoch && layout == 'mobile'" src="assets/img/logo.png" alt="Logo" 
                        matRipple
                        (click)="_nav.displayPredictionModelConfigDialog(epoch.model)">
                    <span *ngIf="!epoch && layout == 'desktop'">Dashboard</span>
                    <span *ngIf="epoch && layout == 'desktop'" 
                            class="clickable" 
                            (click)="_nav.displayPredictionModelConfigDialog(epoch.model)">
                            {{epoch.id}}
                    </span>
                    
                    <span fxFlex></span>

                    <!-- Balance -->
                    <button mat-button 
                            *ngIf="loaded && layout == 'desktop'"
                            (click)="displayBalanceDialog()"
                            [disabled]="submitting"
                            matTooltip="Updated: {{position.balance.ts | date: 'short'}}">
                            <mat-icon style="font-size:22px;">account_balance_wallet</mat-icon>&nbsp;{{position.balance.available| currency}}
                    </button>
                    <button mat-icon-button 
                            *ngIf="loaded && layout == 'mobile'"
                            (click)="displayBalanceDialog()"
                            [disabled]="submitting">
                            <mat-icon style="font-size:22px;">account_balance_wallet</mat-icon>
                    </button>

                    <!-- Strategy -->
                    <button mat-button 
                            *ngIf="loaded && layout == 'desktop'"
                            (click)="displayStrategyFormDialog()"
                            [disabled]="submitting"
                            matTooltip="Updated: {{position.strategy.ts | date: 'short'}}">
                            <mat-icon style="font-size:23px;">tune</mat-icon>&nbsp;Strategy
                    </button>
                    <button mat-icon-button 
                            *ngIf="loaded && layout == 'mobile'"
                            (click)="displayStrategyFormDialog()"
                            [disabled]="submitting">
                            <mat-icon style="font-size:22px;">tune</mat-icon>
                    </button>

                    <!-- KeyZones -->
                    <button mat-button 
                            *ngIf="loaded && layout == 'desktop'"
                            (click)="displayKeyZoneDialog()"
                            [disabled]="submitting"
                            matTooltip="Built: {{state.keyzone.build_ts | date: 'short'}}">
                            <mat-icon style="font-size:20px;">vertical_distribute</mat-icon>&nbsp;KeyZones
                    </button>
                    <button mat-icon-button 
                            *ngIf="loaded && layout == 'mobile'"
                            (click)="displayKeyZoneDialog()"
                            [disabled]="submitting">
                            <mat-icon style="font-size:20px;">vertical_distribute</mat-icon>
                    </button>

                    <!-- Menu -->
                    <button mat-icon-button 
                            (click)="sidenav?.toggle()" 
                            [disabled]="submitting"
                            class="show-on-mobile"><mat-icon style="font-size:26px;">menu</mat-icon></button>
                </div>
            </mat-toolbar>

            <!-- Loader -->
            <div *ngIf="!loaded" class="section-loader">
                <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
            </div>

            <!-- Section Content -->
            <div *ngIf="loaded" [ngClass]="{'section-content': layout == 'mobile'}">
                <!-- Component content -->
                <div class="component padding">
                    <!-- New Version -->
                    <div *ngIf="newVersionAvailable" style="margin: 0 0 15px 0;text-align: center;">
                        <p class="clickable" role="button" (click)="_nav.guiVersion()">
                            <mat-icon>update</mat-icon> Version <strong>{{newVersionAvailable}}</strong> is now available
                        </p>
                    </div>

                    <!-- Dashboard Content-->
                    <div fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="column" fxLayout.sm="column" class="full-width">
                        <!-- Window State -->
                        <div fxFlex="64" fxFlex.xs="100" fxFlex.sm="100" class="chart-card full-width">
                            <!-- Heading -->
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center"
                                class="chart-card-heading">
                                <div class="show-on-desktop">
                                    <h4>Window</h4>
                                    <p class="light-text ts-xs">
                                        {{state.window.ts | date: layout == 'desktop' ? 'medium': 'mediumTime'}}
                                    </p>
                                </div>
                                <span fxFlex class="show-on-desktop"></span>

                                <!-- Long Position -->
                                <div *ngIf="!position.long" 
                                    class="square-badge-success clickable position-badge" role="button" matRipple
                                    [matMenuTriggerFor]="longMenu"
                                    matTooltip="Margin: $0">
                                    LONG: none
                                </div>
                                <div *ngIf="position.long" 
                                    class="clickable square-badge-success position-badge truncate" role="button" matRipple
                                    [matMenuTriggerFor]="longMenu"
                                    [ngClass]="{'losing-position': position.long.unrealized_pnl < 0}"
                                    matTooltip="Margin: ${{position.long.isolated_wallet | number: '1.0-0'}}">
                                    LONG: 
                                    {{position.long.unrealized_pnl > 0 ? '+': ''}}{{position.long.unrealized_pnl | number: '1.1-1'}} | 
                                    {{position.long.roe > 0 ? '+': ''}}{{position.long.roe | number: '1.1-1'}}%
                                </div>
                                <mat-menu #longMenu="matMenu">
                                    <button mat-menu-item 
                                            *ngIf="!position.long && canOpenLong"
                                            (click)="openPosition('LONG')"
                                            [disabled]="submitting">
                                        <mat-icon>add</mat-icon>
                                        <span>Open Long</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.long"
                                            (click)="closePosition('LONG')"
                                            [disabled]="submitting">
                                        <mat-icon>close</mat-icon>
                                        <span>Close Long</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.long && canIncreaseLong"
                                            (click)="increasePosition('LONG')"
                                            [disabled]="submitting">
                                        <mat-icon>switch_access_shortcut</mat-icon>
                                        <span>Increase Long</span>
                                    </button>
                                    <button mat-menu-item
                                            (click)="displayStrategyBuilderDialog('LONG')"
                                            [disabled]="submitting">
                                        <mat-icon>design_services</mat-icon>
                                        <span>Strategy Builder</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.long"
                                            (click)="displayPositionDialog(position.long)"
                                            [disabled]="submitting">
                                        <mat-icon>info</mat-icon>
                                        <span>Position Information</span>
                                    </button>
                                </mat-menu>

                                <span fxFlex="1" fxFlex.xs="2" fxFlex.sm="2"></span>

                                <!-- Short Position -->
                                <div *ngIf="!position.short" 
                                    class="square-badge-error clickable position-badge" role="button" matRipple
                                    [matMenuTriggerFor]="shortMenu"
                                    matTooltip="Margin: $0">
                                    SHORT: none
                                </div>
                                <div *ngIf="position.short" 
                                    class="clickable square-badge-error position-badge truncate" role="button" matRipple
                                    [matMenuTriggerFor]="shortMenu"
                                    [ngClass]="{'losing-position': position.short.unrealized_pnl < 0}"
                                    matTooltip="Margin: ${{position.short.isolated_wallet | number: '1.0-0'}}">
                                    SHORT:
                                    {{position.short.unrealized_pnl > 0 ? '+': ''}}{{position.short.unrealized_pnl | number: '1.1-1'}} | 
                                    {{position.short.roe > 0 ? '+': ''}}{{position.short.roe | number: '1.1-1'}}%
                                </div>
                                <mat-menu #shortMenu="matMenu">
                                    <button mat-menu-item 
                                            *ngIf="!position.short && canOpenShort"
                                            (click)="openPosition('SHORT')"
                                            [disabled]="submitting">
                                        <mat-icon>add</mat-icon>
                                        <span>Open Short</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.short"
                                            (click)="closePosition('SHORT')"
                                            [disabled]="submitting">
                                        <mat-icon>close</mat-icon>
                                        <span>Close Short</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.short && canIncreaseShort"
                                            (click)="increasePosition('SHORT')"
                                            [disabled]="submitting">
                                        <mat-icon>switch_access_shortcut</mat-icon>
                                        <span>Increase Short</span>
                                    </button>
                                    <button mat-menu-item
                                            (click)="displayStrategyBuilderDialog('SHORT')"
                                            [disabled]="submitting">
                                        <mat-icon>design_services</mat-icon>
                                        <span>Strategy Builder</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.short"
                                            (click)="displayPositionDialog(position.short)"
                                            [disabled]="submitting">
                                        <mat-icon>info</mat-icon>
                                        <span>Position Information</span>
                                    </button>
                                </mat-menu>
                            </div>
                            <p class="light-text ts-xs align-center show-on-mobile" style="margin-top:3px;">
                                {{state.window.ts | date: 'mediumTime'}}
                            </p>

                            <!-- Chart -->
                            <div *ngIf="windowChart">
                                <apx-chart
                                    [series]="windowChart.series!"
                                    [chart]="windowChart.chart!"
                                    [plotOptions]="windowChart.plotOptions!"
                                    [xaxis]="windowChart.xaxis!"
                                    [yaxis]="windowChart.yaxis!"
                                    [annotations]="windowChart!.annotations!"
                                ></apx-chart>
                            </div>
                        </div>

                        <span fxFlex></span>

                        <!-- Rest of the Indicators -->
                        <div fxFlex="35" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                            <!-- Trend -->
                            <div class="divider show-on-mobile"></div>
                            <div>
                                <div class="chart-card">
                                    <!-- Heading -->
                                    <div fxLayout="row" fxLayoutAlign="start start" class="chart-card-heading">
                                        <div>
                                            <h4 *ngIf="!activePrediction">Trend</h4>
                                            <h4 *ngIf="activePrediction" matTooltip="Updated: {{activePrediction.t | date: 'short'}}">Trend</h4>
                                            <p *ngIf="activePrediction" class="light-text ts-xs show-on-mobile">
                                                {{activePrediction.t | date: layout == 'desktop' ? 'medium': 'mediumTime'}}
                                            </p>
                                        </div>
                                        <span fxFlex></span>
                                        <div *ngIf="activePrediction"  
                                            class="square-badge margin-right clickable" role="button" matRipple 
                                            (click)="toggleTrendChart()" 
                                            matTooltip="{{userPreferences.splitTrendChart ? 'View Sum Chart': 'View Split Chart'}}">
                                            <mat-icon>{{userPreferences.splitTrendChart ? 'timeline': 'ssid_chart'}}</mat-icon>
                                        </div>
                                        <div *ngIf="activePrediction" 
                                            matTooltip="Prediction Sum" 
                                            class="clickable" role="button" matRipple 
                                            [ngClass]="{
                                                'square-badge-success': activePrediction.r == 1,
                                                'square-badge-error': activePrediction.r == -1,
                                                'square-badge-neutral': activePrediction.r == 0
                                            }" 
                                            (click)="displayFeaturesDialog()">
                                            <mat-icon *ngIf="activePrediction.r == 1">trending_up</mat-icon>
                                            <mat-icon *ngIf="activePrediction.r == -1">trending_down</mat-icon>
                                            <mat-icon *ngIf="activePrediction.r == 0">trending_flat</mat-icon>
                                            {{activeSum | number: '1.0-6'}} 
                                            <span *ngIf="activePredictionState != 0">
                                                | {{activePredictionState! > 0 ? '+': ''}}{{activePredictionState}}
                                            </span>
                                        </div>
                                    </div>
                
                                    <!-- Chart -->
                                    <div *ngIf="!userPreferences.splitTrendChart">
                                        <p *ngIf="!predictionsChart" class="light-text ts-m align-center" style="margin: 30px 0 30px 0!important">No data was found</p>
                                        <div *ngIf="predictionsChart">
                                            <apx-chart
                                                [series]="predictionsChart.series"
                                                [chart]="predictionsChart.chart"
                                                [dataLabels]="predictionsChart.dataLabels"
                                                [xaxis]="predictionsChart.xaxis"
                                                [yaxis]="predictionsChart.yaxis"
                                                [stroke]="predictionsChart.stroke"
                                                [annotations]="predictionsChart.annotations"
                                            ></apx-chart>
                                        </div>
                                    </div>

                                    <!-- Split Chart -->
                                    <div *ngIf="userPreferences.splitTrendChart">
                                        <p *ngIf="!splitPredictionsChart" class="light-text ts-m align-center" style="margin: 30px 0 30px 0!important">No data was found</p>
                                        <div *ngIf="splitPredictionsChart">
                                            <apx-chart
                                                [series]="splitPredictionsChart.series"
                                                [chart]="splitPredictionsChart.chart"
                                                [dataLabels]="splitPredictionsChart.dataLabels"
                                                [xaxis]="splitPredictionsChart.xaxis"
                                                [yaxis]="splitPredictionsChart.yaxis"
                                                [stroke]="splitPredictionsChart.stroke"
                                                [annotations]="splitPredictionsChart.annotations"
                                                [legend]="{show: false}"
                                            ></apx-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="divider show-on-mobile"></div>

                            <!-- Global Indicators -->
                            <div class="chart-card">
                                <!-- Volume & Open Interest -->
                                <div>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="full-width">
                                        <!-- Volume -->
                                        <div fxFlex="48" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                                            <div>
                                                <!-- Heading -->
                                                <div fxLayout="row" fxLayoutAlign="start start" class="chart-card-heading">
                                                    <div>
                                                        <h4 matTooltip="Updated: {{state.volume.ts | date: 'short'}}">Volume</h4>
                                                        <p class="light-text ts-xs show-on-mobile">
                                                            {{state.volume.ts | date: 'mediumTime'}}
                                                        </p>
                                                    </div>
                                                    <span fxFlex></span>
                                                    <div matTooltip="The volume state within the window." 
                                                        [ngClass]="{
                                                            'square-badge-success': state.volume.state == 'increasing',
                                                            'square-badge-error': state.volume.state == 'decreasing',
                                                            'square-badge-neutral': state.volume.state == 'stateless'
                                                        }">
                                                        <mat-icon *ngIf="state.volume.state == 'increasing'">trending_up</mat-icon>
                                                        <mat-icon *ngIf="state.volume.state == 'decreasing'">trending_down</mat-icon>
                                                        <mat-icon *ngIf="state.volume.state == 'stateless'">trending_flat</mat-icon>
                                                        {{state.volume.state_value > 0 ? '+': ''}}{{state.volume.state_value | number: '1.0-1'}}%
                                                    </div>
                                                </div>
                        
                                                <!-- Chart -->
                                                <div *ngIf="volumeChart">
                                                    <apx-chart
                                                        [series]="volumeChart.series"
                                                        [chart]="volumeChart.chart"
                                                        [dataLabels]="volumeChart.dataLabels"
                                                        [xaxis]="volumeChart.xaxis"
                                                        [yaxis]="volumeChart.yaxis"
                                                        [stroke]="volumeChart.stroke"
                                                        [grid]="{show: false}"
                                                    ></apx-chart>
                                                </div>
                                            </div>
                                        </div>
                    
                                        <span fxFlex></span>
                                        <div class="divider show-on-mobile"></div>
                    
                                        <!-- Open Interest -->
                                        <div fxFlex="48" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                                            <div>
                                                <!-- Heading -->
                                                <div fxLayout="row" fxLayoutAlign="start start" class="chart-card-heading">
                                                    <div>
                                                        <h4 matTooltip="Updated: {{state.open_interest.ts | date: 'short'}}">Open Interest</h4>
                                                        <p class="light-text ts-xs show-on-mobile">
                                                            {{state.open_interest.ts | date: 'mediumTime'}}
                                                        </p>
                                                    </div>
                                                    <span fxFlex></span>
                                                    <div matTooltip="The open interest within the window." 
                                                        [ngClass]="{
                                                            'square-badge-success': state.open_interest.state == 'increasing',
                                                            'square-badge-error': state.open_interest.state == 'decreasing',
                                                            'square-badge-neutral': state.open_interest.state == 'stateless'
                                                        }">
                                                        <mat-icon *ngIf="state.open_interest.state == 'increasing'">trending_up</mat-icon>
                                                        <mat-icon *ngIf="state.open_interest.state == 'decreasing'">trending_down</mat-icon>
                                                        <mat-icon *ngIf="state.open_interest.state == 'stateless'">trending_flat</mat-icon>
                                                        {{state.open_interest.state_value > 0 ? '+': ''}}{{state.open_interest.state_value | number: '1.0-1'}}%
                                                    </div>
                                                </div>
                        
                                                <!-- Chart -->
                                                <div *ngIf="openInterestChart">
                                                    <apx-chart
                                                        [series]="openInterestChart.series"
                                                        [chart]="openInterestChart.chart"
                                                        [dataLabels]="openInterestChart.dataLabels"
                                                        [xaxis]="openInterestChart.xaxis"
                                                        [yaxis]="openInterestChart.yaxis"
                                                        [stroke]="openInterestChart.stroke"
                                                        [grid]="{show: false}"
                                                    ></apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Long/Short Ratio & Network Fee-->
                                <div>
                                    <div class="divider show-on-mobile"></div>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="full-width">
                                        <!-- Long/Short Ratio -->
                                        <div fxFlex="48" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                                            <div>
                                                <!-- Heading -->
                                                <div fxLayout="row" fxLayoutAlign="start start" class="chart-card-heading">
                                                    <div>
                                                        <h4 matTooltip="Updated: {{state.long_short_ratio.ts | date: 'short'}}">Long/Short Ratio</h4>
                                                        <p class="light-text ts-xs show-on-mobile">
                                                            {{state.long_short_ratio.ts | date: 'mediumTime'}}
                                                        </p>
                                                    </div>
                                                    <span fxFlex></span>
                                                    <div matTooltip="The long/short ratio state within the window." 
                                                        [ngClass]="{
                                                            'square-badge-success': state.long_short_ratio.state == 'increasing',
                                                            'square-badge-error': state.long_short_ratio.state == 'decreasing',
                                                            'square-badge-neutral': state.long_short_ratio.state == 'stateless'
                                                        }">
                                                        <mat-icon *ngIf="state.long_short_ratio.state == 'increasing'">trending_up</mat-icon>
                                                        <mat-icon *ngIf="state.long_short_ratio.state == 'decreasing'">trending_down</mat-icon>
                                                        <mat-icon *ngIf="state.long_short_ratio.state == 'stateless'">trending_flat</mat-icon>
                                                        {{state.long_short_ratio.state_value > 0 ? '+': ''}}{{state.long_short_ratio.state_value | number: '1.0-1'}}%
                                                    </div>
                                                </div>
                        
                                                <!-- Chart -->
                                                <div *ngIf="longShortRatioChart">
                                                    <apx-chart
                                                        [series]="longShortRatioChart.series"
                                                        [chart]="longShortRatioChart.chart"
                                                        [dataLabels]="longShortRatioChart.dataLabels"
                                                        [xaxis]="longShortRatioChart.xaxis"
                                                        [yaxis]="longShortRatioChart.yaxis"
                                                        [stroke]="longShortRatioChart.stroke"
                                                        [grid]="{show: false}"
                                                    ></apx-chart>
                                                </div>
                                            </div>
                                        </div>

                    
                                        <span fxFlex></span>
                                        <div class="divider show-on-mobile"></div>



                                        <!-- Network Fee -->
                                        <div fxFlex="48" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                                            <div>
                                                <!-- Heading -->
                                                <div fxLayout="row" fxLayoutAlign="start start" class="chart-card-heading">
                                                    <div>
                                                        <h4 matTooltip="Updated: {{state.network_fee.ts | date: 'short'}}">Network Fee</h4>
                                                        <p class="light-text ts-xs show-on-mobile">
                                                            {{state.network_fee.ts | date: 'mediumTime'}}
                                                        </p>
                                                    </div>
                                                    <span fxFlex></span>
                                                    <div matTooltip="The network fee state within the last 24 hours. The current height is: #{{state.network_fee.height}}" 
                                                        [ngClass]="{
                                                            'square-badge-success': state.network_fee.state == 'increasing',
                                                            'square-badge-error': state.network_fee.state == 'decreasing',
                                                            'square-badge-neutral': state.network_fee.state == 'stateless'
                                                        }">
                                                        <mat-icon *ngIf="state.network_fee.state == 'increasing'">trending_up</mat-icon>
                                                        <mat-icon *ngIf="state.network_fee.state == 'decreasing'">trending_down</mat-icon>
                                                        <mat-icon *ngIf="state.network_fee.state == 'stateless'">trending_flat</mat-icon>
                                                        {{state.network_fee.state_value > 0 ? '+': ''}}{{state.network_fee.state_value | number: '1.0-1'}}%
                                                    </div>
                                                </div>
                        
                                                <!-- Chart -->
                                                <div *ngIf="networkFeeChart">
                                                    <apx-chart
                                                        [series]="networkFeeChart.series"
                                                        [chart]="networkFeeChart.chart"
                                                        [dataLabels]="networkFeeChart.dataLabels"
                                                        [xaxis]="networkFeeChart.xaxis"
                                                        [yaxis]="networkFeeChart.yaxis"
                                                        [stroke]="networkFeeChart.stroke"
                                                        [grid]="{show: false}"
                                                    ></apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Submission Card -->
            <div class="submission-status" fxLayout="row" fxLayoutAlign="center center" *ngIf="submitting">
                <mat-spinner diameter="25"></mat-spinner><p class="ts-m">{{submittingText}}</p>
            </div>

            <!-- Mobile Tabs -->
            <app-mobile-tabs *ngIf="layout == 'mobile'"></app-mobile-tabs>
        </div>
    </mat-drawer-content>
</mat-drawer-container>



