@use '@angular/material' as mat;


.mat-toolbar img{
    max-width: 110px;
}

.component {
    overflow-x: hidden;
    h4 { margin:0}
    p {margin: 0}
    .chart-card { 
        padding:0!important;
        .chart-card-heading { padding: 15px 15px 0 15px}
    }



    .inactive { opacity: 0.65;}

    .state-badge { .mat-icon {max-height:17px;}}


    .very-strong-state {
        filter: brightness(75%);
    }




    .reversal-icon {
        width: 17px;margin-right:3px;
    }
}




.prediction-candlesticks-container {

}


.trend-grid { p { font-size:9.5px!important; font-weight: 700!important}}



.global-indicators {
    .global-indicators-section { padding: 15px; }
}






.action-container {
    text-align: center;
    color:white;
	background-color: #000000;
    p{ 
        margin:0;
        font-weight:600;
        font-size:11px!important;
    }
	
	.state-icon { width: 17px;max-height:15px;margin-right:3px;}
}
@for $i from 0 through 100 {
    $width: $i * 1%;
    .support-reversal-#{$i} {
        @extend .action-container;
        background: linear-gradient(90deg, #004D40 $width, #00897B $width);
    }
    .resistance-reversal-#{$i} {
        @extend .action-container;
        background: linear-gradient(90deg, #B71C1C  $width, #E53935 $width);
    }
}




.volume-state-0 {
    @extend .action-container;
    background-color: #78909C;
}
.volume-state-1 {
    @extend .action-container;
    background: linear-gradient(90deg, #004D40 33%, #00897B 33%);
}
.volume-state-2 {
    @extend .action-container;
    background: linear-gradient(90deg, #004D40 66%, #00897B 66%);
}
.volume-state-3 {
    @extend .action-container;
    background: linear-gradient(90deg, #004D40 100%, #00897B 100%);
}







/* Coins' States */

// Strong Sell Variations
.strong-sell-strong-sell { @extend .action-container; background: linear-gradient(90deg, #B71C1C 50%, #B71C1C 50%);}
.strong-sell-sell { @extend .action-container; background: linear-gradient(90deg, #B71C1C 50%, #D32F2F 50%);}
.strong-sell-neutral { @extend .action-container; background: linear-gradient(90deg, #B71C1C 50%, #78909C 50%);}
.strong-sell-buy { @extend .action-container; background: linear-gradient(90deg, #B71C1C 50%, #00796B 50%);}
.strong-sell-strong-buy { @extend .action-container; background: linear-gradient(90deg, #B71C1C 50%, #004D40 50%);}

// Sell Variations
.sell-strong-sell { @extend .action-container; background: linear-gradient(90deg, #D32F2F 50%, #B71C1C 50%);}
.sell-sell { @extend .action-container; background: linear-gradient(90deg, #D32F2F 50%, #D32F2F 50%);}
.sell-neutral { @extend .action-container; background: linear-gradient(90deg, #D32F2F 50%, #78909C 50%);}
.sell-buy { @extend .action-container; background: linear-gradient(90deg, #D32F2F 50%, #00796B 50%);}
.sell-strong-buy { @extend .action-container; background: linear-gradient(90deg, #D32F2F 50%, #004D40 50%);}

// Neutral Variations
.neutral-strong-sell { @extend .action-container; background: linear-gradient(90deg, #78909C 50%, #B71C1C 50%);}
.neutral-sell { @extend .action-container; background: linear-gradient(90deg, #78909C 50%, #D32F2F 50%);}
.neutral-neutral { @extend .action-container; background: linear-gradient(90deg, #78909C 50%, #78909C 50%);}
.neutral-buy { @extend .action-container; background: linear-gradient(90deg, #78909C 50%, #00796B 50%);}
.neutral-strong-buy { @extend .action-container; background: linear-gradient(90deg, #78909C 50%, #004D40 50%);}

// Buy Variations
.buy-strong-sell { @extend .action-container; background: linear-gradient(90deg, #00796B 50%, #B71C1C 50%);}
.buy-sell { @extend .action-container; background: linear-gradient(90deg, #00796B 50%, #D32F2F 50%);}
.buy-neutral { @extend .action-container; background: linear-gradient(90deg, #00796B 50%, #78909C 50%);}
.buy-buy { @extend .action-container; background: linear-gradient(90deg, #00796B 50%, #00796B 50%);}
.buy-strong-buy { @extend .action-container; background: linear-gradient(90deg, #00796B 50%, #004D40 50%);}

// Strong Buy Variations
.strong-buy-strong-sell { @extend .action-container; background: linear-gradient(90deg, #004D40 50%, #B71C1C 50%);}
.strong-buy-sell { @extend .action-container; background: linear-gradient(90deg, #004D40 50%, #D32F2F 50%);}
.strong-buy-neutral { @extend .action-container; background: linear-gradient(90deg, #004D40 50%, #78909C 50%);}
.strong-buy-buy { @extend .action-container; background: linear-gradient(90deg, #004D40 50%, #00796B 50%);}
.strong-buy-strong-buy { @extend .action-container; background: linear-gradient(90deg, #004D40 50%, #004D40 50%);}



.left-sell {
    @extend .action-container;
    background-color: var(--error-color);
    background-position: left center;
    background-size: 100% 50%;
    background: linear-gradient(90deg, var(--error-color) 50%, var(--neutral-color) 50%);
}

.right-neutral {
    @extend .action-container;
    background: linear-gradient(90deg, var(--neutral-color) 50%, var(--neutral-color) 50%);
    opacity: 0.8;
}



/* Responsiveness */


/* mobile: sm & xs */
@media only screen and (max-width: 959px) {
    .chart-container {
        margin: 25px 15px 80px 15px;
    }
    .divider { margin: 25px 0 25px 0;}
    .chart-card {.chart-card-heading { padding: 0!important}}


    .prediction-candlesticks-container {

    }


    .trend-grid { p { font-size:11px!important; font-weight: 600!important}}

    .global-indicators {
        .global-indicators-section { padding: 0px; }
    }
}



/* desktop: md^ */
@media only screen and (min-width: 960px) {
    
}