<!-- SideNav Container -->
<mat-drawer-container class="section-container">

    <!-- Sidenav -->
    <mat-drawer #homeSidenav [(opened)]="sidenavOpened" class="sidenav" position="end" mode="over" autoFocus="false" *ngIf="layout == 'mobile'">

        <!-- Menu Heading Toolbar -->
        <mat-toolbar color="primary">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span>Menu</span>
                <span fxFlex></span>
                <button mat-icon-button (click)="signOut()" matTooltip="Sign Out"><mat-icon>logout</mat-icon></button>
                <button mat-icon-button (click)="createNewInstance()" matTooltip="Create New Instance"><mat-icon>open_in_new</mat-icon></button>
                <button mat-icon-button (click)="sidenav?.toggle()"><mat-icon>arrow_forward</mat-icon></button>
            </div>
        </mat-toolbar>

        <!-- Menu Content -->
        <mat-list>
            <!-- Epochs -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.epochs()">
                    <mat-icon svgIcon="brain"></mat-icon><span>Epochs</span>
                </button>
            </mat-list-item>

            <!-- Users -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.users()">
                    <mat-icon>people_alt</mat-icon><span>Users</span>
                </button>
            </mat-list-item>

            
            <!-- GUI Version -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.guiVersion()">
                    <mat-icon>update</mat-icon><span>GUI Version</span>
                </button>
            </mat-list-item>

            <!-- IP Blacklist -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.ipBlacklist()">
                    <mat-icon>vpn_lock</mat-icon><span>IP Blacklist</span>
                </button>
            </mat-list-item>



            <!-- Epoch Builder Menu -->
            <mat-list-item [ngClass]="{'active-sub-menu': builderExpanded}">
                <button mat-button class="left-icon-button" (click)="builderExpanded = !builderExpanded">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon svgIcon="compass_drafting" class="compass-drafting"></mat-icon>&nbsp;
                        <span>Epoch Builder</span>
                        <span fxFlex></span>
                        <mat-icon>{{builderExpanded ? 'arrow_drop_up': 'arrow_drop_down'}}</mat-icon>
                    </div>
                </button>
            </mat-list-item>

            <!-- Regression Training Certificates -->
            <mat-list-item *ngIf="builderExpanded" class="active-sub-menu">
                <button mat-button (click)="_nav.regressions()">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Regressions</span>
                        <span fxFlex></span>
                        <img src="assets/img/model_logos/Regression.png" alt="Model Logo" class="small-model-logo">
                    </div>
                </button>
            </mat-list-item>

            <!-- Prediction Model Certificates -->
            <mat-list-item *ngIf="builderExpanded" class="active-sub-menu">
                <button mat-button (click)="_nav.predictionModels()">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Prediction Models</span>
                        <span fxFlex></span>
                        <img src="assets/img/model_logos/PredictionModel.png" alt="Model Logo" class="small-model-logo">
                    </div>
                </button>
            </mat-list-item>
            <!-- Epoch Builder Menu -->



            <!-- PGAdmin -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.openPGAdmin()">
                    <mat-icon>open_in_new</mat-icon><span>PGAdmin</span>
                </button>
            </mat-list-item>


            <!-- Dozzle -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.openDozzle()">
                    <mat-icon>open_in_new</mat-icon><span>Dozzle</span>
                </button>
            </mat-list-item>

            <!-- Local Database -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.localDatabase()">
                    <mat-icon svgIcon="database"></mat-icon><span>Local Database</span>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>




    <!-- Section Content -->
    <mat-drawer-content>
        <div>


            <!-- Section Header -->
            <mat-toolbar class="secondary-header">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <!-- Logo -->
                    <img *ngIf="!epoch && layout == 'mobile'" src="assets/img/logo.png" alt="Logo">
                    <img *ngIf="epoch && layout == 'mobile'" src="assets/img/logo.png" alt="Logo" 
                        matRipple
                        (click)="_nav.displayPredictionModelConfigDialog(epoch.model)">
                    <span *ngIf="!epoch && layout == 'desktop'">Dashboard</span>
                    <span *ngIf="epoch && layout == 'desktop'" 
                            class="clickable" 
                            (click)="_nav.displayPredictionModelConfigDialog(epoch.model)">
                            {{epoch.id}}
                    </span>
                    
                    <span fxFlex></span>

                    <!-- Business -->
                    <button mat-button 
                            *ngIf="loaded && layout == 'desktop'"
                            (click)="displayBusinessMenu()">
                            <mat-icon>storefront</mat-icon>&nbsp;Business
                    </button>
                    <button mat-icon-button 
                            *ngIf="loaded && layout == 'mobile'"
                            (click)="displayBusinessMenu()">
                            <mat-icon>storefront</mat-icon>
                    </button>

                    <!-- Adjustments -->
                    <button mat-button 
                            *ngIf="loaded && layout == 'desktop'"
                            (click)="displayAdjustmentsMenu()">
                            <mat-icon style="font-size:23px;">tune</mat-icon>&nbsp;Adjustments
                    </button>
                    <button mat-icon-button 
                            *ngIf="loaded && layout == 'mobile'"
                            (click)="displayAdjustmentsMenu()">
                            <mat-icon style="font-size:22px;">tune</mat-icon>
                    </button>

                    <!-- Menu -->
                    <button mat-icon-button 
                            (click)="sidenav?.toggle()" 
                            class="show-on-mobile"><mat-icon style="font-size:26px;">menu</mat-icon></button>
                </div>
            </mat-toolbar>

            <!-- Loader -->
            <div *ngIf="!loaded" class="section-loader">
                <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
            </div>

            <!-- Section Content -->
            <div *ngIf="loaded" [ngClass]="{'section-content': layout == 'mobile'}">
                <!-- Component content -->
                <div class="component padding">
                    <!-- New Version -->
                    <div *ngIf="newVersionAvailable" style="margin: 0 0 15px 0;text-align: center;">
                        <p class="clickable" role="button" (click)="_nav.guiVersion()">
                            <mat-icon>update</mat-icon> Version <strong>{{newVersionAvailable}}</strong> is now available
                        </p>
                    </div>

                    <!-- Dashboard Content-->
                    <div fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="column" fxLayout.sm="column" class="full-width">
                        <!-- Window State -->
                        <div fxFlex="64" fxFlex.xs="100" fxFlex.sm="100" class="chart-card full-width">
                            <!-- Heading -->
                            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" 
                                fxLayoutAlign="start start" fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center"
                                class="chart-card-heading">
                                <div class="clickable" role="button" (click)="displayZoomMenu()"
                                    [ngClass]="{'margin-bottom': layout == 'mobile', 'full-width': layout == 'mobile'}">
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <h4 *ngIf="!activeZoom">Window</h4>
                                        <h4 *ngIf="activeZoom">Window {{activeZoom.id | uppercase}}</h4>
                                        <mat-icon style="margin-left:5px;width:16px;height:16px"
                                            [ngClass]="{
                                                'success-color': state.window.s > 0,
                                                'error-color': state.window.s < 0,
                                                'light-text': state.window.s == 0
                                            }" 
                                            [svgIcon]="_ms.icons[state.window.s]"></mat-icon>

                                            <span fxFlex class="show-on-mobile"></span>                                    
                                            <p class="light-text ts-xs show-on-mobile">
                                                {{state.window.w[state.window.w.length - 1].ct | date: 'mediumTime'}}
                                            </p>
                                    </div>
                                    <p class="light-text ts-xs show-on-desktop">
                                        {{state.window.w[state.window.w.length - 1].ct | date: 'medium'}}
                                    </p>
                                </div>
                                <span fxFlex class="show-on-desktop"></span>

                                <div fxFlex class="full-width">
                                    <mat-grid-list [cols]="4" [rowHeight]="layout == 'desktop' ? '35px': '35px'" gutterSize="1px">
                                        <mat-grid-tile *ngFor="let id of _ms.splits" 
                                                        class="clickable" role="button" matRipple
                                                        (click)="displayWindowDialog(id)"
                                                        [ngClass]="{
                                                            'buy-action-container': state.window.ss[id].s > 0,
                                                            'sell-action-container': state.window.ss[id].s < 0,
                                                            'neutral-action-container': state.window.ss[id].s == 0,
                                                            'weak-state': state.window.ss[id].s != 2 && state.window.ss[id].s != -2
                                                        }">
                                                <p>{{state.window.ss[id].c > 0 ? '+': ''}}{{state.window.ss[id].c | number: '1.0-1'}}%</p>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                            </div>

                            <!-- Chart -->
                            <div *ngIf="windowChart">
                                <apx-chart
                                    [series]="windowChart.series!"
                                    [chart]="windowChart.chart!"
                                    [plotOptions]="windowChart.plotOptions!"
                                    [xaxis]="windowChart.xaxis!"
                                    [yaxis]="windowChart.yaxis!"
                                    [annotations]="windowChart!.annotations!"
                                ></apx-chart>
                            </div>
                        </div>

                        <span fxFlex></span>

                        <!-- Rest of the Indicators -->
                        <div fxFlex="35" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                            <!-- Trend -->
                            <div class="divider show-on-mobile"></div>
                            <div>
                                <div class="chart-card">
                                    <!-- Heading -->
                                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" 
                                        fxLayoutAlign="start start" fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center"
                                        class="chart-card-heading badged-header full-width">
                                        <div class="clickable" role="button" (click)="displayActivePredictionDialog()"
                                            [ngClass]="{'margin-bottom': layout == 'mobile', 'full-width': layout == 'mobile'}">
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <h4>Trend</h4>
                                                <mat-icon style="margin-left:5px;width:16px;height:16px"
                                                    [ngClass]="{
                                                        'success-color': state.trend.s > 0,
                                                        'error-color': state.trend.s < 0,
                                                        'light-text': state.trend.s == 0
                                                    }" 
                                                    [svgIcon]="_ms.icons[state.trend.s]"></mat-icon>

                                                <span fxFlex class="show-on-mobile"></span>
                                                <p *ngIf="activePrediction" class="light-text ts-xs show-on-mobile">
                                                    {{activePrediction.t | date: 'mediumTime'}}
                                                </p>
                                                <p *ngIf="!activePrediction" class="light-text ts-xs show-on-mobile">
                                                    Unknown
                                                </p>
                                            </div>
                                            <p *ngIf="activePrediction" class="light-text ts-xs show-on-desktop">
                                                {{activePrediction.t | date: 'medium'}}
                                            </p>
                                            <p *ngIf="!activePrediction" class="light-text ts-xs show-on-desktop">Unknown</p>
                                        </div>
                                        <span fxFlex class="show-on-desktop"></span>

                                        <!-- Trend -->
                                        <div fxFlex class="full-width">
                                            <mat-grid-list [cols]="4" [rowHeight]="layout == 'desktop' ? '30px': '35px'" gutterSize="1px" class="trend-grid">
                                                <mat-grid-tile *ngFor="let id of _ms.splits" 
                                                                class="clickable" role="button" matRipple
                                                                (click)="displayTrendDialog(id)"
                                                                [ngClass]="{
                                                                    'buy-action-container': state.trend.ss[id].s > 0,
                                                                    'sell-action-container': state.trend.ss[id].s < 0,
                                                                    'neutral-action-container': state.trend.ss[id].s == 0,
                                                                    'weak-state': state.trend.ss[id].s != 2 && state.trend.ss[id].s != -2
                                                                }">
                                                        <p>
                                                            {{state.trend.ss[id].s > 0 ? '+': ''}}{{state.trend.ss[id].s < 0 ? '-': ''}}{{state.trend.ss[id].c | number: '1.0-2'}}
                                                        </p>
                                                </mat-grid-tile>
                                            </mat-grid-list>
                                        </div>
                                    </div>
                                    
                                    <!-- Candlesticks Chart -->
                                    <div class="prediction-candlesticks-container">
                                        <apx-chart
                                                [series]="predictionCandlesticksChart!.series!"
                                                [chart]="predictionCandlesticksChart!.chart!"
                                                [plotOptions]="predictionCandlesticksChart!.plotOptions!"
                                                [xaxis]="predictionCandlesticksChart!.xaxis!"
                                                [yaxis]="predictionCandlesticksChart!.yaxis!"
                                                [annotations]="predictionCandlesticksChart!.annotations!"
                                                [title]="predictionCandlesticksChart!.title!"
                                        ></apx-chart>
                                    </div>
                                </div>
                            </div>

                            <div class="divider show-on-mobile"></div>

                            <!-- Global Indicators -->
                            <div class="global-indicators">

                                <!-- Container -->
                                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="full-width">

                                    <!-- Positions & General Indicators -->
                                    <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" class="full-width">

                                        <!-- Positions -->
                                        <div class="global-indicators-section">
                                            <mat-grid-list [cols]="3" [rowHeight]="layout == 'desktop' ? '42px': '50px'" gutterSize="1px">
                                                <!-- Active Positions -->
                                                <mat-grid-tile *ngFor="let pos of positions" class="clickable" role="button" matRipple
                                                    (click)="displayPositionRecordDialog(pos.id)"
                                                    [ngClass]="{
                                                        'buy-action-container': pos.sd == 'LONG',
                                                        'sell-action-container': pos.sd == 'SHORT',
                                                        'weak-state': pos.g > 0 && pos.g < 0.35,
                                                        'very-weak-state': pos.g <= 0
                                                    }">
                                                    <p>{{pos.s | baseAssetName}} {{pos.g > 0 ? '+': ''}}{{pos.g | number:'1.0-1'}}%</p>
                                                </mat-grid-tile>

                                                <!-- Placeholders -->
                                                <mat-grid-tile *ngFor="let placeholder of positionsPlaceholders" class="placeholder-action-container"></mat-grid-tile>
                                            </mat-grid-list>
                                        </div>

                                        <div class="divider show-on-mobile"></div>

                                        <!-- General Indicators -->
                                        <div class="global-indicators-section">
                                            <mat-grid-list [cols]="3" [rowHeight]="layout == 'desktop' ? '49px': '50px'" gutterSize="1px">
                                                <!-- Volume -->
                                                <mat-grid-tile class="clickable" role="button" matRipple
                                                               (click)="displayVolumeDialog()"
                                                                [ngClass]="{
                                                                    'buy-action-container': state.volume > 0,
                                                                    'sell-action-container': state.volume < 0,
                                                                    'neutral-action-container': state.volume == 0,
                                                                    'weak-state': state.volume != 2 && state.volume != -2
                                                                }"><p>VOLUME</p></mat-grid-tile>

                                                <!-- KeyZones -->
                                                <mat-grid-tile *ngIf="!state.keyzones.event" 
                                                                class="clickable" role="button" matRipple
                                                               (click)="displayKeyZonesDialog()"
                                                                [ngClass]="{
                                                                    'action-container': state.keyzones.active,
                                                                    'neutral-action-container': !state.keyzones.active,
                                                                    'weak-state': !state.keyzones.active
                                                                }"><p>KEYZONES</p></mat-grid-tile>
                                                <mat-grid-tile *ngIf="state.keyzones.event && state.keyzones.event.k == 's'" 
                                                        class="clickable sell-action-container" role="button" matRipple
                                                        (click)="displayKeyZonesDialog()">
                                                            <mat-icon>vertical_align_bottom</mat-icon> <p>SUP.</p>
                                                    </mat-grid-tile>
                                                <mat-grid-tile *ngIf="state.keyzones.event && state.keyzones.event.k == 'r'" 
                                                        class="clickable buy-action-container" role="button" matRipple
                                                        (click)="displayKeyZonesDialog()">
                                                            <mat-icon>vertical_align_top</mat-icon> <p>RES.</p>
                                                </mat-grid-tile>

                                                <!-- Coins -->
                                                <mat-grid-tile class="clickable" role="button" matRipple
                                                               (click)="displayCoinsIndicatorDialog()"
                                                                [ngClass]="{
                                                                    'buy-action-container': state.coins.cd > 0,
                                                                    'sell-action-container': state.coins.cd < 0,
                                                                    'neutral-action-container': state.coins.cd == 0,
                                                                    'weak-state': state.coins.cd != 2 && state.coins.cd != -2
                                                                }"><p>COINS</p></mat-grid-tile>
                                                
                                                <!-- Placeholders -->
                                                <mat-grid-tile class="placeholder-action-container"></mat-grid-tile>
                                                <mat-grid-tile class="placeholder-action-container"></mat-grid-tile>
                                                <mat-grid-tile class="placeholder-action-container"></mat-grid-tile>
                                            </mat-grid-list>
                                        </div>
                                    </div>


                                    <!-- Altcoins -->
                                    <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                                        <div class="divider show-on-mobile"></div>
                                        <div class="global-indicators-section">
                                            <mat-grid-list [cols]="4" [rowHeight]="layout == 'desktop' ? '42px': '80px'" gutterSize="1px">
                                                <!-- Previous Navigation -->
                                                <mat-grid-tile *ngIf="activeCoinPage > 1" class="clickable action-container" role="button" matRipple 
                                                    (click)="activateFirstCoinsPage()">
                                                    <mat-icon>navigate_before</mat-icon>
                                                </mat-grid-tile>

                                                <!-- Coins -->
                                                <mat-grid-tile *ngFor="let symbol of visibleSymbols" 
                                                                class="clickable" role="button" matRipple fxLayout="row" fxLayoutAlign="center center"
                                                                [ngClass]="{
                                                                    'buy-action-container': state.coins.sbs[symbol].s > 0,
                                                                    'sell-action-container': state.coins.sbs[symbol].s < 0,
                                                                    'neutral-action-container': state.coins.sbs[symbol].s == 0,
                                                                    'weak-state': state.coins.sbs[symbol].s != 2 && state.coins.sbs[symbol].s != -2,
                                                                    'very-strong-state': state.coins.sbs[symbol].se == 2 || state.coins.sbs[symbol].se == -2
                                                                }" 
                                                                (click)="displayCoinDialog(symbol)">
                                                    <mat-icon *ngIf="state.coins.sbs[symbol].se != 0" class="state-icon" [svgIcon]="_ms.coinStateIcons[state.coins.sbs[symbol].se]"></mat-icon>
                                                    <p style="max-width:35px" class="truncate">{{symbol | baseAssetName}}</p>
                                                </mat-grid-tile>


                                                <!-- Placeholders -->
                                                <mat-grid-tile *ngFor="let placeholder of coinPlaceholders" class="placeholder-action-container"></mat-grid-tile>
                                                
                                                <!-- Next Navigation -->
                                                <mat-grid-tile *ngIf="activeCoinPage < totalCoinPages" class="clickable action-container" role="button" matRipple 
                                                    (click)="activateNextCoinsPage()">
                                                    <mat-icon>navigate_next</mat-icon>
                                                </mat-grid-tile>
                                            </mat-grid-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile Tabs -->
            <app-mobile-tabs *ngIf="layout == 'mobile'"></app-mobile-tabs>
        </div>
    </mat-drawer-content>
</mat-drawer-container>



