@use '@angular/material' as mat;


.mat-toolbar img{
    max-width: 110px;
}

.component {
    overflow-x: hidden;
    h4 { margin:0}
    p {margin: 0}
    .chart-card { 
        padding:0!important;
        .chart-card-heading { padding: 15px 15px 0 15px}
    }


    .long-position-button { 
        border-radius: 7px;
        min-width: 100px;
        max-width:100%;
        height:35px;
        background-color: #26A69A;
        .hp {
            top:0;
            left:0;
            position: absolute;
            height:35px;
            background-color: #004D40;
        }
        p {
            position: relative;
            padding:7px;
            text-align: center;
            height:35px;
            font-weight: 600;
            font-size:12px!important;
            color:#FFFFFF;
        }
    }

    .short-position-button { 
        border-radius: 7px;
        min-width: 100px;
        max-width:100%;
        height:35px;
        background-color: #EF5350;
        .hp {
            top:0;
            left:0;
            position: absolute;
            height:35px;
            background-color: #B71C1C;
        }
        p {
            position: relative;
            padding:7px;
            text-align: center;
            height:35px;
            font-weight: 600;
            font-size:12px!important;
            color:#FFFFFF;
        }
    }


    .close-position-menu {
        max-width:15px!important;
        .mat-menu-item { max-width:15px!important;}
    }
    .inactive { opacity: 0.65;}

    .state-badge { .mat-icon {max-height:17px;}}



}



/* Submission */
.submission-status {
	position: fixed;
	bottom: 25px;
	left: 50%;
	width: 250px;
	margin-left:-125px;
	z-index:2;
	background:white;
	padding:10px;
	min-height:45px;
	@include mat.elevation(3);
}
.submission-status p{
	margin: 0 0 0 6px;
}



.prediction-candlesticks-container {
    min-height: 185px;
}



/* Responsiveness */


/* mobile: sm & xs */
@media only screen and (max-width: 959px) {
    .chart-container {
        margin: 25px 15px 80px 15px;
    }
    .divider { margin: 25px 0 25px 0;}
    .chart-card {.chart-card-heading { padding: 0!important}}

    //.prediction-header-indicators {margin-top:10px;}
    .long-position-button, .short-position-button { 
        width: 100%;
    }

    .submission-status { bottom: 75px;}

    .prediction-candlesticks-container {
        min-height: 245px;
    }
}



/* desktop: md^ */
@media only screen and (min-width: 960px) {
    
}