<!-- SideNav Container -->
<mat-drawer-container class="section-container">

    <!-- Sidenav -->
    <mat-drawer #homeSidenav [(opened)]="sidenavOpened" class="sidenav" position="end" mode="over" autoFocus="false" *ngIf="layout == 'mobile'">

        <!-- Menu Heading Toolbar -->
        <mat-toolbar color="primary">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span>Menu</span>
                <span fxFlex></span>
                <button mat-icon-button (click)="signOut()" matTooltip="Sign Out"><mat-icon>logout</mat-icon></button>
                <button mat-icon-button (click)="createNewInstance()" matTooltip="Create New Instance"><mat-icon>open_in_new</mat-icon></button>
                <button mat-icon-button (click)="sidenav?.toggle()"><mat-icon>arrow_forward</mat-icon></button>
            </div>
        </mat-toolbar>

        <!-- Menu Content -->
        <mat-list>
            <!-- Epochs -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.epochs()">
                    <mat-icon svgIcon="brain"></mat-icon><span>Epochs</span>
                </button>
            </mat-list-item>

            <!-- Order Book -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.orderBook()">
                    <mat-icon>menu_book</mat-icon><span>Order Book</span>
                </button>
            </mat-list-item>

            <!-- Users -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.users()">
                    <mat-icon>people_alt</mat-icon><span>Users</span>
                </button>
            </mat-list-item>

            
            <!-- GUI Version -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.guiVersion()">
                    <mat-icon>update</mat-icon><span>GUI Version</span>
                </button>
            </mat-list-item>

            <!-- IP Blacklist -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.ipBlacklist()">
                    <mat-icon>vpn_lock</mat-icon><span>IP Blacklist</span>
                </button>
            </mat-list-item>



            <!-- Epoch Builder Menu -->
            <mat-list-item [ngClass]="{'active-sub-menu': builderExpanded}">
                <button mat-button class="left-icon-button" (click)="builderExpanded = !builderExpanded">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon svgIcon="compass_drafting" class="compass-drafting"></mat-icon>&nbsp;
                        <span>Epoch Builder</span>
                        <span fxFlex></span>
                        <mat-icon>{{builderExpanded ? 'arrow_drop_up': 'arrow_drop_down'}}</mat-icon>
                    </div>
                </button>
            </mat-list-item>

            <!-- Regression Training Certificates -->
            <mat-list-item *ngIf="builderExpanded" class="active-sub-menu">
                <button mat-button (click)="_nav.regressions()">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Regressions</span>
                        <span fxFlex></span>
                        <img src="assets/img/model_logos/Regression.png" alt="Model Logo" class="small-model-logo">
                    </div>
                </button>
            </mat-list-item>

            <!-- Prediction Model Certificates -->
            <mat-list-item *ngIf="builderExpanded" class="active-sub-menu">
                <button mat-button (click)="_nav.predictionModels()">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Prediction Models</span>
                        <span fxFlex></span>
                        <img src="assets/img/model_logos/PredictionModel.png" alt="Model Logo" class="small-model-logo">
                    </div>
                </button>
            </mat-list-item>
            <!-- Epoch Builder Menu -->



            <!-- PGAdmin -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.openPGAdmin()">
                    <mat-icon>open_in_new</mat-icon><span>PGAdmin</span>
                </button>
            </mat-list-item>


            <!-- Dozzle -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.openDozzle()">
                    <mat-icon>open_in_new</mat-icon><span>Dozzle</span>
                </button>
            </mat-list-item>

            <!-- Local Database -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.localDatabase()">
                    <mat-icon svgIcon="database"></mat-icon><span>Local Database</span>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>




    <!-- Section Content -->
    <mat-drawer-content>
        <div>


            <!-- Section Header -->
            <mat-toolbar class="secondary-header">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <!-- Logo -->
                    <img *ngIf="!epoch && layout == 'mobile'" src="assets/img/logo.png" alt="Logo">
                    <img *ngIf="epoch && layout == 'mobile'" src="assets/img/logo.png" alt="Logo" 
                        matRipple
                        (click)="_nav.displayPredictionModelConfigDialog(epoch.model)">
                    <span *ngIf="!epoch && layout == 'desktop'">Dashboard</span>
                    <span *ngIf="epoch && layout == 'desktop'" 
                            class="clickable" 
                            (click)="_nav.displayPredictionModelConfigDialog(epoch.model)">
                            {{epoch.id}}
                    </span>
                    
                    <span fxFlex></span>

                    <!-- Balance -->
                    <button mat-button 
                            *ngIf="loaded && layout == 'desktop'"
                            (click)="displayBalanceDialog()"
                            [disabled]="submitting"
                            matTooltip="Updated: {{position.balance.ts | date: 'short'}}">
                            <mat-icon style="font-size:22px;">account_balance_wallet</mat-icon>&nbsp;Balance
                    </button>
                    <button mat-icon-button 
                            *ngIf="loaded && layout == 'mobile'"
                            (click)="displayBalanceDialog()"
                            [disabled]="submitting">
                            <mat-icon style="font-size:22px;">account_balance_wallet</mat-icon>
                    </button>

                    <!-- Adjustments -->
                    <button mat-button 
                            *ngIf="loaded && layout == 'desktop'"
                            [matMenuTriggerFor]="adjustmentsMenu"
                            [disabled]="submitting">
                            <mat-icon style="font-size:23px;">tune</mat-icon>&nbsp;Adjustments
                    </button>
                    <button mat-icon-button 
                            *ngIf="loaded && layout == 'mobile'"
                            [matMenuTriggerFor]="adjustmentsMenu"
                            [disabled]="submitting">
                            <mat-icon style="font-size:22px;">tune</mat-icon>
                    </button>
                    <mat-menu #adjustmentsMenu="matMenu">
                        <button mat-menu-item (click)="displayStrategyFormDialog()">
                            <mat-icon svgIcon="money_bill_transfer"></mat-icon> <span>Trading Strategy</span>
                        </button>
                        <button mat-menu-item [matMenuTriggerFor]="signalPoliciesMenu">
                            <mat-icon>podcasts</mat-icon> <span>Signal Policies</span>
                        </button>
                        <button mat-menu-item (click)="displayPositionHealthWeightsFormDialog()">
                            <mat-icon>monitor_heart</mat-icon> <span>Health Point Weights</span>
                        </button>
                    </mat-menu>
                    <mat-menu #signalPoliciesMenu="matMenu">
                        <button mat-menu-item (click)="displaySignalPoliciesDialog('LONG')">
                            <mat-icon>trending_up</mat-icon> <span>Long Policies</span>
                        </button>
                        <button mat-menu-item (click)="displaySignalPoliciesDialog('SHORT')">
                            <mat-icon>trending_down</mat-icon> <span>Short Policies</span>
                        </button>
                    </mat-menu>

                    <!-- Menu -->
                    <button mat-icon-button 
                            (click)="sidenav?.toggle()" 
                            [disabled]="submitting"
                            class="show-on-mobile"><mat-icon style="font-size:26px;">menu</mat-icon></button>
                </div>
            </mat-toolbar>

            <!-- Loader -->
            <div *ngIf="!loaded" class="section-loader">
                <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
            </div>

            <!-- Section Content -->
            <div *ngIf="loaded" [ngClass]="{'section-content': layout == 'mobile'}">
                <!-- Component content -->
                <div class="component padding">
                    <!-- New Version -->
                    <div *ngIf="newVersionAvailable" style="margin: 0 0 15px 0;text-align: center;">
                        <p class="clickable" role="button" (click)="_nav.guiVersion()">
                            <mat-icon>update</mat-icon> Version <strong>{{newVersionAvailable}}</strong> is now available
                        </p>
                    </div>

                    <!-- Dashboard Content-->
                    <div fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="column" fxLayout.sm="column" class="full-width">
                        <!-- Window State -->
                        <div fxFlex="64" fxFlex.xs="100" fxFlex.sm="100" class="chart-card full-width">
                            <!-- Heading -->
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center"
                                class="chart-card-heading">
                                <div class="show-on-desktop">
                                    <h4>
                                        Window 
                                        <mat-icon style="font-size:14px;" 
                                                class="clickable" 
                                                role="button" 
                                                (click)="windowTooltip()" 
                                                matTooltip="More information">question_mark</mat-icon>
                                    </h4>
                                    <p class="light-text ts-xs">
                                        {{state.window.ts | date: layout == 'desktop' ? 'medium': 'mediumTime'}}
                                    </p>
                                </div>
                                <span fxFlex class="show-on-desktop"></span>

                                <!-- Long Position -->
                                <div *ngIf="!position.long" 
                                    class="clickable long-position-button truncate" role="button" matRipple
                                    [matMenuTriggerFor]="longMenu">
                                    <div class="hp" style="width:100%;"></div>
                                    <p>LONG: none</p>
                                </div>
                                <div *ngIf="position.long" 
                                    class="clickable long-position-button truncate" role="button" matRipple
                                    [matMenuTriggerFor]="longMenu"
                                    [matTooltip]="userPreferences.positionButtonPNL ? longHPState: longPNLState">
                                    <div *ngIf="position.health.long" class="hp" 
                                            [ngStyle]="{'width': -(position.health.long.dd) + '%'}"></div>
                                    <p class="truncate">LONG: {{userPreferences.positionButtonPNL ? longPNLState: longHPState}}</p>
                                </div>
                                <mat-menu #longMenu="matMenu">
                                    <button mat-menu-item 
                                            *ngIf="!position.long && canOpenLong"
                                            (click)="openPosition('LONG')"
                                            [disabled]="submitting">
                                        <mat-icon>add</mat-icon>
                                        <span>Open Long</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.long"
                                            (click)="togglePositionButtonContent()"
                                            [disabled]="submitting">
                                        <mat-icon>visibility</mat-icon>
                                        <span>{{userPreferences.positionButtonPNL ? longHPState: longPNLState}}</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.long"
                                            (click)="displayPositionDialog(position.long)"
                                            [disabled]="submitting || !position.health">
                                        <mat-icon>info</mat-icon>
                                        <span>Position Details</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.health && position.health.long"
                                            (click)="displayHealthDialog('LONG')"
                                            [disabled]="submitting">
                                        <mat-icon>monitor_heart</mat-icon>
                                        <span>Position Health</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.long"
                                            [matMenuTriggerFor]="closeLongMenu"
                                            [disabled]="submitting">
                                        <mat-icon>close</mat-icon>
                                        <span>Close Long</span>
                                    </button>
                                </mat-menu>
                                <mat-menu #closeLongMenu="matMenu">
                                    <div *ngIf="longChunkSize">
                                        <button mat-menu-item (click)="closePosition('LONG', 1)">
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <strong>100%</strong>&nbsp;&nbsp;
                                                <span fxFlex></span>
                                                <span class="light-text ts-xs">{{longChunkSize[1] | currency}}</span>
                                            </div>
                                        </button>
                                        <button mat-menu-item (click)="closePosition('LONG', 0.75)">
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <strong>75%</strong>
                                                <span fxFlex></span>
                                                <span class="light-text ts-xs">{{longChunkSize[0.75] | currency}}</span>
                                            </div>
                                        </button>
                                        <button mat-menu-item (click)="closePosition('LONG', 0.66)">
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <strong>66%</strong>
                                                <span fxFlex></span>
                                                <span class="light-text ts-xs">{{longChunkSize[0.66] | currency}}</span>
                                            </div>
                                        </button>
                                        <button mat-menu-item (click)="closePosition('LONG', 0.5)">
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <strong>50%</strong>
                                                <span fxFlex></span>
                                                <span class="light-text ts-xs">{{longChunkSize[0.5] | currency}}</span>
                                            </div>
                                        </button>
                                        <button mat-menu-item (click)="closePosition('LONG', 0.33)">
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <strong>33%</strong>
                                                <span fxFlex></span>
                                                <span class="light-text ts-xs">{{longChunkSize[0.33] | currency}}</span>
                                            </div>
                                        </button>
                                        <button mat-menu-item (click)="closePosition('LONG', 0.25)">
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <strong>25%</strong>
                                                <span fxFlex></span>
                                                <span class="light-text ts-xs">{{longChunkSize[0.25] | currency}}</span>
                                            </div>
                                        </button>
                                    </div>
                                </mat-menu>

                                <span fxFlex="1" fxFlex.xs="2" fxFlex.sm="2"></span>

                                <!-- Short Position -->
                                <div *ngIf="!position.short" 
                                    class="clickable short-position-button" role="button" matRipple
                                    [matMenuTriggerFor]="shortMenu">
                                    <div class="hp" style="width:100%;"></div>
                                    <p>SHORT: none</p>
                                </div>
                                <div *ngIf="position.short" 
                                    class="clickable short-position-button truncate" role="button" matRipple
                                    [matMenuTriggerFor]="shortMenu"
                                    [matTooltip]="userPreferences.positionButtonPNL ? shortHPState: shortPNLState">
                                    <div *ngIf="position.health.short" class="hp" 
                                            [ngStyle]="{'width': -(position.health.short.dd)  + '%'}"></div>
                                    <p>SHORT: {{userPreferences.positionButtonPNL ? shortPNLState: shortHPState}}</p>
                                </div>
                                <mat-menu #shortMenu="matMenu">
                                    <button mat-menu-item 
                                            *ngIf="!position.short && canOpenShort"
                                            (click)="openPosition('SHORT')"
                                            [disabled]="submitting">
                                        <mat-icon>add</mat-icon>
                                        <span>Open Short</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.short"
                                            (click)="togglePositionButtonContent()"
                                            [disabled]="submitting">
                                        <mat-icon>visibility</mat-icon>
                                        <span>{{userPreferences.positionButtonPNL ? shortHPState: shortPNLState}}</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.short"
                                            (click)="displayPositionDialog(position.short)"
                                            [disabled]="submitting || !position.health">
                                        <mat-icon>info</mat-icon>
                                        <span>Position Details</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.health && position.health.short"
                                            (click)="displayHealthDialog('SHORT')"
                                            [disabled]="submitting">
                                        <mat-icon>monitor_heart</mat-icon>
                                        <span>Position Health</span>
                                    </button>
                                    <button mat-menu-item 
                                            *ngIf="position.short"
                                            [matMenuTriggerFor]="closeShortMenu"
                                            [disabled]="submitting">
                                        <mat-icon>close</mat-icon>
                                        <span>Close Short</span>
                                    </button>
                                </mat-menu>
                                <mat-menu #closeShortMenu="matMenu">
                                    <div *ngIf="shortChunkSize">
                                        <button mat-menu-item (click)="closePosition('SHORT', 1)">
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <strong>100%</strong>&nbsp;&nbsp;
                                                <span fxFlex></span>
                                                <span class="light-text ts-xs">{{shortChunkSize[1] | currency}}</span>
                                            </div>
                                        </button>
                                        <button mat-menu-item (click)="closePosition('SHORT', 0.75)">
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <strong>75%</strong>
                                                <span fxFlex></span>
                                                <span class="light-text ts-xs">{{shortChunkSize[0.75] | currency}}</span>
                                            </div>
                                        </button>
                                        <button mat-menu-item (click)="closePosition('SHORT', 0.66)">
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <strong>66%</strong>
                                                <span fxFlex></span>
                                                <span class="light-text ts-xs">{{shortChunkSize[0.66] | currency}}</span>
                                            </div>
                                        </button>
                                        <button mat-menu-item (click)="closePosition('SHORT', 0.5)">
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <strong>50%</strong>
                                                <span fxFlex></span>
                                                <span class="light-text ts-xs">{{shortChunkSize[0.5] | currency}}</span>
                                            </div>
                                        </button>
                                        <button mat-menu-item (click)="closePosition('SHORT', 0.33)">
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <strong>33%</strong>
                                                <span fxFlex></span>
                                                <span class="light-text ts-xs">{{shortChunkSize[0.33] | currency}}</span>
                                            </div>
                                        </button>
                                        <button mat-menu-item (click)="closePosition('SHORT', 0.25)">
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <strong>25%</strong>
                                                <span fxFlex></span>
                                                <span class="light-text ts-xs">{{shortChunkSize[0.25] | currency}}</span>
                                            </div>
                                        </button>
                                    </div>
                                </mat-menu>
                            </div>
                            <p class="light-text ts-xs align-center show-on-mobile" style="margin-top:3px;">
                                {{state.window.ts | date: 'mediumTime'}}
                            </p>

                            <!-- Chart -->
                            <div *ngIf="windowChart">
                                <apx-chart
                                    [series]="windowChart.series!"
                                    [chart]="windowChart.chart!"
                                    [plotOptions]="windowChart.plotOptions!"
                                    [xaxis]="windowChart.xaxis!"
                                    [yaxis]="windowChart.yaxis!"
                                    [annotations]="windowChart!.annotations!"
                                ></apx-chart>
                            </div>
                        </div>

                        <span fxFlex></span>

                        <!-- Rest of the Indicators -->
                        <div fxFlex="35" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                            <!-- Trend -->
                            <div class="divider show-on-mobile"></div>
                            <div>
                                <div class="chart-card">
                                    <!-- Heading -->
                                    <div fxLayout="row" fxLayoutAlign="center center"
                                        class="chart-card-heading badged-header full-width">
                                        <!-- Signal -->
                                        <div fxLayout="row"
                                            matTooltip="Pred: {{predLastUpdate}} | TA: {{taLastUpdate}}">
                                            <mat-icon>podcasts</mat-icon>&nbsp;
                                            <h4 *ngIf="!activePrediction">Neutral</h4>
                                            <h4 *ngIf="activePrediction">{{_prediction.resultNames[signal]}}</h4>
                                        </div>

                                        <span fxFlex></span>

                                        <!-- Desktop Technnicals -->
                                        <div *ngIf="layout == 'desktop'" fxLayout="row" fxLayoutAlign="center center">
                                            <div class="clickable" role="button" matRipple 
                                                *ngFor="let taInterval of taIntervals"
                                                (click)="displayTechnicalAnalysisDialog(taInterval)"
                                                [ngClass]="{
                                                    'square-badge-success': state.technical_analysis[taInterval].s.a > 0,
                                                    'square-badge-error': state.technical_analysis[taInterval].s.a < 0,
                                                    'square-badge-neutral': state.technical_analysis[taInterval].s.a == 0,
                                                    'state': state.technical_analysis[taInterval].s.a == 1 || state.technical_analysis[taInterval].s.a == -1,
                                                    'stateless': state.technical_analysis[taInterval].s.a == 0
                                                }" [matTooltip]="_ms.taStates[state.technical_analysis[taInterval].s.a]">
                                                {{taInterval}}
                                            </div>
                                        </div>

                                        <!-- Trend -->
                                        <div *ngIf="activePrediction" 
                                            matTooltip="Trend Sum: {{activeSum | number: '1.0-6'}}" 
                                            [matMenuTriggerFor]="predictionMenu"
                                            class="state-badge clickable" role="button" matRipple 
                                            [ngClass]="{
                                                'square-badge-success': activePredictionStateIntensity > 0,
                                                'square-badge-error': activePredictionStateIntensity < 0,
                                                'square-badge-neutral': activePredictionStateIntensity == 0,
                                                'state': activePredictionStateIntensity == 1 || activePredictionStateIntensity == -1,
                                                'stateless': activePredictionStateIntensity == 0
                                            }">
                                            <mat-icon [svgIcon]="_ms.icons[activePredictionStateIntensity]"></mat-icon>
                                            {{activeSum | number: '1.0-2'}} 
                                            <span>
                                                | {{activePredictionState! > 0 ? '+': ''}}{{activePredictionState}}
                                            </span>
                                        </div>
                                        <mat-menu #predictionMenu="matMenu">
                                            <button *ngIf="!displayPredictionCandlesticks" mat-menu-item (click)="toggleTrendChart()">
                                                <mat-icon>{{userPreferences.splitTrendChart ? 'timeline': 'ssid_chart'}}</mat-icon> 
                                                View {{userPreferences.splitTrendChart ? 'Sum Chart': 'Split Chart'}}
                                            </button>
                                            <button *ngIf="displayPredictionCandlesticks" mat-menu-item (click)="deactivatePredictionCandlesticks()">
                                                <mat-icon>{{userPreferences.splitTrendChart ? 'ssid_chart': 'timeline'}}</mat-icon> 
                                                View {{userPreferences.splitTrendChart ? 'Split Chart': 'Sum Chart'}}
                                            </button>
                                            <button *ngIf="!displayPredictionCandlesticks" mat-menu-item (click)="activatePredictionCandlesticks()">
                                                <mat-icon>candlestick_chart</mat-icon> View last 32 hours
                                            </button>
                                            <button mat-menu-item (click)="displayActivePredictionDialog()">
                                                &nbsp;<mat-icon svgIcon="wand_magic_sparkles" style="max-width:20px;"></mat-icon>&nbsp;Active Prediction
                                            </button>
                                            <button mat-menu-item (click)="predictionModelTooltip()">
                                                <mat-icon>question_mark</mat-icon> More information
                                            </button>
                                        </mat-menu>
                                    </div>

                                    <!-- Mobile Technicals-->
                                    <div *ngIf="layout == 'mobile'" fxLayout="row" fxLayoutAlign="center center" class="badged-header margin-top">
                                        <div class="clickable" role="button" matRipple 
                                            *ngFor="let taInterval of taIntervals"
                                            (click)="displayTechnicalAnalysisDialog(taInterval)"
                                            [ngClass]="{
                                                'square-badge-success': state.technical_analysis[taInterval].s.a > 0,
                                                'square-badge-error': state.technical_analysis[taInterval].s.a < 0,
                                                'square-badge-neutral': state.technical_analysis[taInterval].s.a == 0,
                                                'state': state.technical_analysis[taInterval].s.a == 1 || state.technical_analysis[taInterval].s.a == -1,
                                                'stateless': state.technical_analysis[taInterval].s.a == 0
                                            }" [matTooltip]="_ms.taStates[state.technical_analysis[taInterval].s.a]">
                                            {{taInterval}}
                                        </div>
                                    </div>
                
                                    <!-- Sum Chart -->
                                    <div *ngIf="!userPreferences.splitTrendChart && !displayPredictionCandlesticks">
                                        <p *ngIf="!predictionsChart" class="light-text ts-m align-center" style="margin: 30px 0 30px 0!important">No data was found</p>
                                        <div *ngIf="predictionsChart">
                                            <apx-chart
                                                [series]="predictionsChart.series"
                                                [chart]="predictionsChart.chart"
                                                [dataLabels]="predictionsChart.dataLabels"
                                                [xaxis]="predictionsChart.xaxis"
                                                [yaxis]="predictionsChart.yaxis"
                                                [stroke]="predictionsChart.stroke"
                                                [annotations]="predictionsChart.annotations"
                                            ></apx-chart>
                                        </div>
                                    </div>

                                    <!-- Split Chart -->
                                    <div *ngIf="userPreferences.splitTrendChart && !displayPredictionCandlesticks">
                                        <p *ngIf="!splitPredictionsChart" class="light-text ts-m align-center" style="margin: 30px 0 30px 0!important">No data was found</p>
                                        <div *ngIf="splitPredictionsChart">
                                            <apx-chart
                                                [series]="splitPredictionsChart.series"
                                                [chart]="splitPredictionsChart.chart"
                                                [dataLabels]="splitPredictionsChart.dataLabels"
                                                [xaxis]="splitPredictionsChart.xaxis"
                                                [yaxis]="splitPredictionsChart.yaxis"
                                                [stroke]="splitPredictionsChart.stroke"
                                                [annotations]="splitPredictionsChart.annotations"
                                                [legend]="{show: false}"
                                            ></apx-chart>
                                        </div>
                                    </div>

                                    <!-- Candlesticks Chart -->
                                    <div *ngIf="displayPredictionCandlesticks" class="prediction-candlesticks-container">
                                        <div *ngIf="!predictionCandlesticksChart" class="loader">
                                            <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="35"></mat-spinner></div>
                                        </div>
                                        <div *ngIf="predictionCandlesticksChart">
                                            <apx-chart
                                                [series]="predictionCandlesticksChart.series!"
                                                [chart]="predictionCandlesticksChart.chart!"
                                                [plotOptions]="predictionCandlesticksChart.plotOptions!"
                                                [xaxis]="predictionCandlesticksChart.xaxis!"
                                                [yaxis]="predictionCandlesticksChart.yaxis!"
                                                [annotations]="predictionCandlesticksChart!.annotations!"
                                                [title]="predictionCandlesticksChart.title!"
                                            ></apx-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="divider show-on-mobile"></div>

                            <!-- Global Indicators -->
                            <div class="chart-card">
                                <!-- Volume & Open Interest -->
                                <div>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="full-width">
                                        <!-- Volume -->
                                        <div fxFlex="48" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                                            <div [ngClass]="{
                                                    'state': state.volume.state == 1 || state.volume.state == -1,
                                                    'stateless': state.volume.state == 0
                                                }">
                                                <!-- Heading -->
                                                <div fxLayout="row" fxLayoutAlign="center center" class="chart-card-heading">
                                                    <h4 matTooltip="Updated: {{state.volume.ts | date: 'short'}}">Volume</h4>
                                                    <span fxFlex></span>
                                                    <div matTooltip="More information"
                                                        (click)="volumeTooltip()"
                                                        class="state-badge clickable" role="button" matRipple
                                                        [ngClass]="{
                                                            'square-badge-success': state.volume.state > 0,
                                                            'square-badge-error': state.volume.state < 0,
                                                            'square-badge-neutral': state.volume.state == 0
                                                        }">
                                                        <mat-icon [svgIcon]="_ms.icons[state.volume.state]"></mat-icon>
                                                        {{state.volume.state_value > 0 ? '+': ''}}{{state.volume.state_value | number: '1.0-0'}}%
                                                    </div>
                                                </div>
                        
                                                <!-- Chart -->
                                                <div *ngIf="volumeChart">
                                                    <apx-chart
                                                        [series]="volumeChart.series"
                                                        [chart]="volumeChart.chart"
                                                        [dataLabels]="volumeChart.dataLabels"
                                                        [xaxis]="volumeChart.xaxis"
                                                        [yaxis]="volumeChart.yaxis"
                                                        [stroke]="volumeChart.stroke"
                                                        [grid]="{show: false}"
                                                    ></apx-chart>
                                                </div>
                                            </div>
                                        </div>
                    
                                        <span fxFlex></span>
                                        <div class="divider show-on-mobile"></div>
                    
                                        <!-- Open Interest -->
                                        <div fxFlex="48" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                                            <div [ngClass]="{
                                                    'state': state.open_interest.state == 1 || state.open_interest.state == -1,
                                                    'stateless': state.open_interest.state == 0
                                                }">
                                                <!-- Heading -->
                                                <div fxLayout="row" fxLayoutAlign="center center" class="chart-card-heading">
                                                    <h4 matTooltip="Updated: {{state.open_interest.ts | date: 'short'}}">Open Interest</h4>
                                                    <span fxFlex></span>
                                                    <div matTooltip="More information"
                                                        (click)="openInterestTooltip()"
                                                        class="state-badge clickable" role="button" matRipple
                                                        [ngClass]="{
                                                            'square-badge-success': state.open_interest.state > 0,
                                                            'square-badge-error': state.open_interest.state < 0,
                                                            'square-badge-neutral': state.open_interest.state == 0
                                                        }">
                                                        <mat-icon [svgIcon]="_ms.icons[state.open_interest.state]"></mat-icon>
                                                        {{state.open_interest.state_value > 0 ? '+': ''}}{{state.open_interest.state_value | number: '1.0-1'}}%
                                                    </div>
                                                </div>
                        
                                                <!-- Chart -->
                                                <div *ngIf="openInterestChart">
                                                    <apx-chart
                                                        [series]="openInterestChart.series"
                                                        [chart]="openInterestChart.chart"
                                                        [dataLabels]="openInterestChart.dataLabels"
                                                        [xaxis]="openInterestChart.xaxis"
                                                        [yaxis]="openInterestChart.yaxis"
                                                        [stroke]="openInterestChart.stroke"
                                                        [grid]="{show: false}"
                                                    ></apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Long/Short Ratio & Network Fee-->
                                <div>
                                    <div class="divider show-on-mobile"></div>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="full-width">
                                        <!-- Long/Short Ratio -->
                                        <div fxFlex="48" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                                            <div [ngClass]="{
                                                    'state': state.long_short_ratio.state == 1 || state.long_short_ratio.state == -1,
                                                    'stateless': state.long_short_ratio.state == 0
                                                }">
                                                <!-- Heading -->
                                                <div fxLayout="row" fxLayoutAlign="center center" class="chart-card-heading">
                                                    <h4 matTooltip="Updated: {{state.long_short_ratio.ts | date: 'short'}}">Long/Short Ratio</h4>
                                                    <span fxFlex></span>
                                                    <div matTooltip="More information"
                                                        (click)="longShortRatioTooltip()" 
                                                        class="state-badge clickable" role="button" matRipple
                                                        [ngClass]="{
                                                            'square-badge-success': state.long_short_ratio.state > 0,
                                                            'square-badge-error': state.long_short_ratio.state < 0,
                                                            'square-badge-neutral': state.long_short_ratio.state == 0
                                                        }">
                                                        <mat-icon [svgIcon]="_ms.icons[state.long_short_ratio.state]"></mat-icon>
                                                        {{state.long_short_ratio.state_value > 0 ? '+': ''}}{{state.long_short_ratio.state_value | number: '1.0-1'}}%
                                                    </div>
                                                </div>
                        
                                                <!-- Chart -->
                                                <div *ngIf="longShortRatioChart">
                                                    <apx-chart
                                                        [series]="longShortRatioChart.series"
                                                        [chart]="longShortRatioChart.chart"
                                                        [dataLabels]="longShortRatioChart.dataLabels"
                                                        [xaxis]="longShortRatioChart.xaxis"
                                                        [yaxis]="longShortRatioChart.yaxis"
                                                        [stroke]="longShortRatioChart.stroke"
                                                        [grid]="{show: false}"
                                                    ></apx-chart>
                                                </div>
                                            </div>
                                        </div>

                    
                                        <span fxFlex></span>
                                        <div class="divider show-on-mobile"></div>



                                        <!-- Network Fee -->
                                        <div fxFlex="48" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                                            <div [ngClass]="{
                                                    'state': state.network_fee.state == 1 || state.network_fee.state == -1,
                                                    'stateless': state.network_fee.state == 0
                                                }">
                                                <!-- Heading -->
                                                <div fxLayout="row" fxLayoutAlign="center center" class="chart-card-heading">
                                                    <h4 matTooltip="Updated: {{state.network_fee.ts | date: 'short'}}">Network Fee</h4>
                                                    <span fxFlex></span>
                                                    <div matTooltip="More information"
                                                        (click)="networkFeeTooltip()"
                                                        class="state-badge clickable" role="button" matRipple 
                                                        [ngClass]="{
                                                            'square-badge-success': state.network_fee.state > 0,
                                                            'square-badge-error': state.network_fee.state < 0,
                                                            'square-badge-neutral': state.network_fee.state == 0
                                                        }">
                                                        <mat-icon [svgIcon]="_ms.icons[state.network_fee.state]"></mat-icon>
                                                        {{state.network_fee.state_value > 0 ? '+': ''}}{{state.network_fee.state_value | number: '1.0-0'}}%
                                                    </div>
                                                </div>
                        
                                                <!-- Chart -->
                                                <div *ngIf="networkFeeChart">
                                                    <apx-chart
                                                        [series]="networkFeeChart.series"
                                                        [chart]="networkFeeChart.chart"
                                                        [dataLabels]="networkFeeChart.dataLabels"
                                                        [xaxis]="networkFeeChart.xaxis"
                                                        [yaxis]="networkFeeChart.yaxis"
                                                        [stroke]="networkFeeChart.stroke"
                                                        [grid]="{show: false}"
                                                    ></apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Submission Card -->
            <div class="submission-status" fxLayout="row" fxLayoutAlign="center center" *ngIf="submitting">
                <mat-spinner diameter="25"></mat-spinner><p class="ts-m">{{submittingText}}</p>
            </div>

            <!-- Mobile Tabs -->
            <app-mobile-tabs *ngIf="layout == 'mobile'"></app-mobile-tabs>
        </div>
    </mat-drawer-content>
</mat-drawer-container>



