@use '@angular/material' as mat;


.mat-toolbar img{
    max-width: 110px;
}

.component {
    overflow-x: hidden;
    h4 { margin:0}
    p {margin: 0}
    .chart-card { 
        padding:0!important;
        .chart-card-heading { padding: 15px 15px 0 15px}
    }



    .inactive { opacity: 0.65;}

    .state-badge { .mat-icon {max-height:17px;}}



}




.prediction-candlesticks-container {

}


.trend-grid { p { font-size:9.5px!important; font-weight: 700!important}}



.global-indicators {
    .global-indicators-section { padding: 15px; }
}




/* Responsiveness */


/* mobile: sm & xs */
@media only screen and (max-width: 959px) {
    .chart-container {
        margin: 25px 15px 80px 15px;
    }
    .divider { margin: 25px 0 25px 0;}
    .chart-card {.chart-card-heading { padding: 0!important}}


    .prediction-candlesticks-container {

    }


    .trend-grid { p { font-size:11px!important; font-weight: 600!important}}

    .global-indicators {
        .global-indicators-section { padding: 0px; }
    }
}



/* desktop: md^ */
@media only screen and (min-width: 960px) {
    
}