<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">{{_forecast.forecastResultText[forecast.result]}} Forecast</span>
        <span fxFlex></span>
        <button mat-icon-button (click)="_nav.displayForecastChartDialog(forecast.start, forecast.end)"><mat-icon>waterfall_chart</mat-icon></button>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <div class="padding">
        <!-- Price -->
        <div class="content-row" fxLayout="row" fxLayoutAlign="start center">
            <h5>Price</h5>
            <span fxFlex></span>

            <!-- Trend -->
            <div style="margin-right:7px;">
                <mat-icon *ngIf="forecast.state.resistanceDominance >= 75" class="error-color">south</mat-icon>
                <mat-icon *ngIf="forecast.state.resistanceDominance >= 60 && forecast.state.resistanceDominance < 75" class="error-color">south_east</mat-icon>
                <mat-icon *ngIf="forecast.state.resistanceDominance < 60 && forecast.state.supportDominance < 60" class="light-text">east</mat-icon>
                <mat-icon *ngIf="forecast.state.supportDominance >= 60 && forecast.state.supportDominance < 75" class="success-color">north_east</mat-icon>
                <mat-icon *ngIf="forecast.state.supportDominance >= 75" class="success-color">north</mat-icon>
            </div>


            <!-- Price & Action -->
            <div class="align-right">
                <p [ngClass]="actionColorClass">{{forecast.state.price | currency}}</p>
                <p *ngIf="!forecast.state.brokeResistance && !forecast.state.touchedResistance && !forecast.state.touchedSupport && !forecast.state.brokeSupport" class="ts-m light-text">
                    Actionless
                </p>
                <p *ngIf="forecast.state.brokeResistance" class="ts-m success-color">Broke Resistance</p>
                <p *ngIf="forecast.state.touchedResistance" class="ts-m success-color">Touched Resistance</p>
                <p *ngIf="forecast.state.touchedSupport" class="ts-m error-color">Touched Support</p>
                <p *ngIf="forecast.state.brokeSupport" class="ts-m error-color">Broke Support</p>
            </div>
        </div>

        <!-- Resistances -->
        <div class="content-row resistances">
            <!-- Header -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <h5>Resistance Zones</h5>
                <span fxFlex></span>
                <div class="square-badge-success">{{forecast.state.zonesAbove.length}}</div>
            </div>

            <p *ngIf="!forecast.state.zonesAbove.length" class="no-data-found">No resistances were found</p>
            <div *ngIf="forecast.state.zonesAbove.length > 2 && visibleResistances < forecast.state.zonesAbove.length">
                <button mat-button class="success-color full-width" (click)="visibleResistances = visibleResistances + 2">View More</button>
            </div>
            <div *ngFor="let zone of forecast.state.zonesAbove.slice().reverse(); let i = index" class="key-zone-element">
                <app-key-zone *ngIf="i >= (forecast.state.zonesAbove.length - visibleResistances)" [keyZone]="zone" [price]="forecast.state.price"></app-key-zone>
            </div>
        </div>

        <!-- Active Key Zone -->
        <div class="content-row" *ngIf="activeZone">
            <h5>Active Zone</h5>
            <div  class="key-zone-element">
                <app-key-zone [keyZone]="activeZone" [price]="forecast.state.price"></app-key-zone>
            </div>
        </div>

        <!-- Supports -->
        <div class="content-row supports">
            <!-- Header -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <h5>Support Zones</h5>
                <span fxFlex></span>
                <div class="square-badge-error">{{forecast.state.zonesBelow.length}}</div>
            </div>

            <p *ngIf="!forecast.state.zonesBelow.length" class="no-data-found">No supports were found</p>
            <div *ngFor="let zone of forecast.state.zonesBelow; let i = index" class="key-zone-element">
                <app-key-zone *ngIf="i < visibleSupports" [keyZone]="zone" [price]="forecast.state.price"></app-key-zone>
            </div>
            <div *ngIf="forecast.state.zonesBelow.length > 2 && visibleSupports < forecast.state.zonesBelow.length">
                <button mat-button class="error-color full-width" (click)="visibleSupports = visibleSupports + 2">View More</button>
            </div>
        </div>


        <!-- Period -->
        <div class="content-row" fxLayout="row" fxLayoutAlign="start center">
            <h5>Period</h5>
            <span fxFlex></span>
            <div class="align-right">
                <p class="ts-m">{{forecast.start | date: 'medium'}}</p>
                <p class="ts-m">{{forecast.end | date: 'medium'}}</p>
            </div>
        </div>
    </div>
</div>
