<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate" matTooltip="PNL(ROE%). Updated: {{position.ts | date: 'short'}}">
            {{position.side}}: 
            {{position.unrealized_pnl > 0 ? '+': ''}}{{position.unrealized_pnl | currency}}
            | {{position.roe > 0 ? '+': ''}}{{position.roe}}%
        </span>
        <span fxFlex></span>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Container -->
    <div class="component">
        <!-- Position Details-->
        <div class="padding">
            <!-- Open -->
            <div fxLayout="row" fxLayoutAlign="start start">
                <p class="light-text ts-m truncate">Open</p>
                <span fxFlex></span>
                <p matTooltip="The time at which the Position Health record was created.">
                    {{health.ts | date: 'medium'}}
                </p>
            </div>

            <!-- Mark Price -->
            <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                <p class="light-text ts-m truncate">Mark Price</p>
                <span fxFlex></span>
                <div class="align-right">
                    <p matTooltip="Binance mark price when the active positions were updated." 
                        [ngClass]="{'error-color': spotDistance && (spotDistance > 1 || spotDistance < -1)}">
                        {{position.mark_price | currency}}
                    </p>
                    <p *ngIf="spotDistance && (spotDistance > 1 || spotDistance < -1)" class="error-color ts-xs">
                        {{spotDistance}}% away from spot
                    </p>
                </div>
            </div>

            <!-- Entry Price -->
            <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                <p class="light-text ts-m truncate">Entry Price</p>
                <span fxFlex></span>
                <p matTooltip="The weighted entry price based on all the trades within the position.">
                    {{position.entry_price | currency}}
                </p>
            </div>

            <!-- Stop Loss Price -->
            <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                <p class="light-text ts-m truncate">Stop Loss</p>
                <span fxFlex></span>
                <div matTooltip="The price in which the position is labeled as 'unsuccessful' and is ready to be closed."
                    class="align-right" 
                    [ngClass]="{
                        'error-color': !stopLossDistance || (stopLossDistance && stopLossDistance >= -1.5 && stopLossDistance <= 1.5),
                        'light-text': stopLossDistance && (
                            (stopLossDistance > -2.5 && stopLossDistance <= -1.5) || 
                            (stopLossDistance >= 1.5 && stopLossDistance < 2.5)
                        ), 
                        'success-color': stopLossDistance && (stopLossDistance <= -2.5 || stopLossDistance >= 2.5)}">
                    <p>{{position.stop_loss_price | currency}}</p>
                    <p *ngIf="stopLossDistance" class="ts-xs">{{stopLossDistance}}% away</p>
                    <p *ngIf="!stopLossDistance" class="ts-xs">Stop Loss Hit</p>
                </div>
            </div>

            <!-- Take Profit Price 1 -->
            <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                <p class="light-text ts-m truncate">Take Profit 1</p>
                <span fxFlex></span>
                <div matTooltip="Take Profit Level 1"
                    class="align-right" 
                    [ngClass]="{'success-color': !takeProfit1Distance, 'light-text': takeProfit1Distance}">
                    <p>{{position.take_profit_price_1 | currency}}</p>
                    <p *ngIf="takeProfit1Distance" class="ts-xs">{{takeProfit1Distance}}% away</p>
                </div>
            </div>

            <!-- Take Profit Price 2 -->
            <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                <p class="light-text ts-m truncate">Take Profit 2</p>
                <span fxFlex></span>
                <div matTooltip="Take Profit Level 2"
                    class="align-right" 
                    [ngClass]="{'success-color': !takeProfit2Distance, 'light-text': takeProfit2Distance}">
                    <p>{{position.take_profit_price_2 | currency}}</p>
                    <p *ngIf="takeProfit2Distance" class="ts-xs">{{takeProfit2Distance}}% away</p>
                </div>
            </div>

            <!-- Take Profit Price 3 -->
            <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                <p class="light-text ts-m truncate">Take Profit 3</p>
                <span fxFlex></span>
                <div matTooltip="Take Profit Level 3"
                    class="align-right" 
                    [ngClass]="{'success-color': !takeProfit3Distance, 'light-text': takeProfit3Distance}">
                    <p>{{position.take_profit_price_3 | currency}}</p>
                    <p *ngIf="takeProfit3Distance" class="ts-xs">{{takeProfit3Distance}}% away</p>
                </div>
            </div>

            <!-- Take Profit Price 4 -->
            <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                <p class="light-text ts-m truncate">Take Profit 4</p>
                <span fxFlex></span>
                <div matTooltip="Take Profit Level 4"
                    class="align-right" 
                    [ngClass]="{'success-color': !takeProfit4Distance, 'light-text': takeProfit4Distance}">
                    <p>{{position.take_profit_price_4 | currency}}</p>
                    <p *ngIf="takeProfit4Distance" class="ts-xs">{{takeProfit4Distance}}% away</p>
                </div>
            </div>

            <!-- Take Profit Price 5 -->
            <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                <p class="light-text ts-m truncate">Take Profit 5</p>
                <span fxFlex></span>
                <div matTooltip="Take Profit Level 5"
                    class="align-right" 
                    [ngClass]="{'success-color': !takeProfit5Distance, 'light-text': takeProfit5Distance}">
                    <p>{{position.take_profit_price_5 | currency}}</p>
                    <p *ngIf="takeProfit5Distance" class="ts-xs">{{takeProfit5Distance}}% away</p>
                    <p *ngIf="!takeProfit5Distance" class="ts-xs">Take Profit Hit</p>
                </div>
            </div>

            <!-- Liquidation-->
            <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                <p class="light-text ts-m truncate">Liquidation</p>
                <span fxFlex></span>
                <div matTooltip="Liquidation Price (Distance)" class="align-right" 
                    [ngClass]="{'success-color': liquidationDistance >= 15,'error-color': liquidationDistance < 15}">
                    <p>{{position.liquidation_price | currency}}</p>
                    <p class="ts-xs">{{liquidationDistance}}% away</p>
                </div>
            </div>

            <!-- Margin -->
            <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                <p class="light-text ts-m truncate">Margin</p>
                <span fxFlex></span>
                <div class="align-right" >
                    <p matTooltip="The total margin (USDT) put into the position.">
                        {{position.isolated_wallet | currency}}
                    </p>
                    <p class="ts-xs light-text" 
                        matTooltip="The current value of the isolated_wallet + unrealized_pnl.">
                        ~{{position.isolated_margin | currency}}
                    </p>
                </div>
            </div>

            <!-- Position Size -->
            <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                <p class="light-text ts-m truncate">Position Size</p>
                <span fxFlex></span>
                <div matTooltip="Position Amount (BTC) and Notional (USDT)" class="align-right" >
                    <p>{{position.position_amount | number: '1.0-8'}} BTC</p>
                    <p class="ts-xs light-text">{{position.notional | currency}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
