<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate" matTooltip="PNL(ROE%). Updated: {{position.ts | date: 'short'}}">
            {{position.side}}: 
            {{position.unrealized_pnl > 0 ? '+': ''}}{{position.unrealized_pnl | currency}}
            | {{position.roe > 0 ? '+': ''}}{{position.roe}}%
        </span>
        <span fxFlex></span>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Container -->
    <div class="component">
        <!-- Tabs Navigation-->
        <mat-tab-group [selectedIndex]="activeIndex" 
            (selectedIndexChange)="activeIndex = $event" 
            mat-align-tabs="center" 
            mat-stretch-tabs 
            backgroundColor="primary">
            <mat-tab>
                <ng-template mat-tab-label><mat-icon>monitor_heart</mat-icon><span class="show-on-desktop">&nbsp;State</span></ng-template>
                <div class="clickable short-position-button" role="button" matRipple 
                    (click)="displayHealthDialog()"
                    [ngClass]="{
                        'long-position-button': position.side == 'LONG',
                        'short-position-button': position.side == 'SHORT'
                    }">
                    <div class="hp" [ngStyle]="{'width': health.chp + '%'}"></div>
                    <p>{{health.chp}} HP {{health.dd}}%</p>
                </div>
                <div style="padding: 0 15px 15px 15px">
                    <apx-chart
                        [series]="chart.series"
                        [chart]="chart.chart"
                        [dataLabels]="chart.dataLabels"
                        [xaxis]="chart.xaxis"
                        [yaxis]="chart.yaxis"
                        [stroke]="chart.stroke"
                        [annotations]="chart.annotations"
                    ></apx-chart>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label><mat-icon>info</mat-icon><span class="show-on-desktop">&nbsp;Details</span></ng-template>
                <div class="padding">
                    <!-- Mark Price -->
                    <div fxLayout="row" fxLayoutAlign="start start" style="margin-top:10px;">
                        <p class="light-text ts-m truncate">Mark Price</p>
                        <span fxFlex></span>
                        <p matTooltip="Binance mark price when the active positions were updated.">
                            <strong>{{position.mark_price | currency}}</strong>
                        </p>
                    </div>

                    <!-- Entry Price -->
                    <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                        <p class="light-text ts-m truncate">Entry Price</p>
                        <span fxFlex></span>
                        <p matTooltip="The weighted entry price based on all the trades within the position.">
                            {{position.entry_price | currency}}
                        </p>
                    </div>

                    <!-- Stop Loss Price -->
                    <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                        <p class="light-text ts-m truncate">Stop Loss</p>
                        <span fxFlex></span>
                        <div matTooltip="The price in which the position is labeled as 'unsuccessful' and is ready to be closed."
                            class="align-right" [ngClass]="{'error-color': !stopLossDistance}">
                            <p>{{position.stop_loss_price | currency}}</p>
                            <p *ngIf="stopLossDistance" class="ts-xs light-text">{{stopLossDistance}}% away</p>
                            <p *ngIf="!stopLossDistance" class="ts-xs">Stop Loss Hit</p>
                        </div>
                    </div>

                    <!-- Take Profit Price -->
                    <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                        <p class="light-text ts-m truncate">Take Profit</p>
                        <span fxFlex></span>
                        <div matTooltip="The price in which the position is labeled as 'successful' and is ready to be closed."
                            class="align-right" [ngClass]="{'success-color': !takeProfitDistance}">
                            <p>{{position.take_profit_price | currency}}</p>
                            <p *ngIf="takeProfitDistance" class="ts-xs light-text">{{takeProfitDistance}}% away</p>
                            <p *ngIf="!takeProfitDistance" class="ts-xs">Take Profit Hit</p>
                        </div>
                    </div>

                    <!-- Liquidation-->
                    <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                        <p class="light-text ts-m truncate">Liquidation</p>
                        <span fxFlex></span>
                        <div matTooltip="Liquidation Price (Distance)" class="align-right" 
                            [ngClass]="{'success-color': liquidationDistance > 17,'error-color': liquidationDistance < 17}">
                            <p>{{position.liquidation_price | currency}}</p>
                            <p class="ts-xs">{{liquidationDistance}}% away</p>
                        </div>
                    </div>

                    <!-- Margin -->
                    <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                        <p class="light-text ts-m truncate">Margin</p>
                        <span fxFlex></span>
                        <div class="align-right" >
                            <p matTooltip="The total margin (USDT) put into the position.">
                                {{position.isolated_wallet | currency}}
                            </p>
                            <p class="ts-xs light-text" 
                                matTooltip="The current value of the isolated_wallet + unrealized_pnl.">
                                ~{{position.isolated_margin | currency}}
                            </p>
                        </div>
                    </div>

                    <!-- Position Size -->
                    <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                        <p class="light-text ts-m truncate">Position Size</p>
                        <span fxFlex></span>
                        <div matTooltip="Position Amount (BTC) and Notional (USDT)" class="align-right" >
                            <p>{{position.position_amount | number: '1.0-8'}} BTC</p>
                            <p class="ts-xs light-text">{{position.notional | currency}}</p>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
