<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="cancel()" [disabled]="submitting"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate" matTooltip="Last Update: {{strategy.ts | date: 'medium'}}">Trading Strategy</span>
        <span fxFlex></span>
        <button mat-icon-button (click)="update()" [disabled]="submitting || form.invalid" matTooltip="Update Strategy"><mat-icon>save</mat-icon></button>
        <button mat-icon-button [disabled]="submitting" (click)="tradingStrategyTooltip()" matTooltip="More information" type="button" tabindex="-1"><mat-icon>question_mark</mat-icon></button>
        <button mat-icon-button class="show-on-desktop" (click)="cancel()" [disabled]="submitting"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Container -->
    <div class="fadeIn padding">

        <!-- Form -->
        <div *ngIf="form">
            <form [formGroup]="form" (ngSubmit)="update()">
                <!-- Long & Short Status -->
                <div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <h5>Status</h5>
                        <span fxFlex></span>
                        <button mat-icon-button (click)="statusTooltip()" matTooltip="More information" type="button" tabindex="-1"><mat-icon>question_mark</mat-icon></button>
                    </div> 
                    <div fxLayout="row" fxLayoutAlign="start start" class="section-content">
                        <div fxFlex>
                            <div fxLayout="row" fxLayoutAlign="center start">
                                <div>
                                    <h6>Long</h6>
                                    <p *ngIf="long_status.value" class="success-color ts-s">Running</p>
                                    <p *ngIf="!long_status.value" class="light-text ts-s truncate">Not running</p>
                                    <p *ngIf="longIdling" class="light-text ts-s truncate">
                                        Idle until {{strategy.long_idle_until | date: 'shortTime'}}
                                    </p>
                                </div>
                                <span fxFlex></span>
                                <mat-slide-toggle 
                                    formControlName="long_status"
                                    [appDisableControl]="submitting">
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <div fxLayout="row" fxLayoutAlign="center start">
                                <div>
                                    <h6>Short</h6>
                                    <p *ngIf="short_status.value" class="success-color ts-s">Running</p>
                                    <p *ngIf="!short_status.value" class="light-text ts-s">Not running</p>
                                    <p *ngIf="shortIdling" class="light-text ts-s">
                                        Idle until {{strategy.short_idle_until | date: 'shortTime'}}
                                    </p>
                                </div>
                                <span fxFlex></span>
                                <mat-slide-toggle 
                                    formControlName="short_status"
                                    [appDisableControl]="submitting">
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <!-- Leverage & Margin -->
                <div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <h5>Position Size</h5>
                        <span fxFlex></span>
                        <button mat-icon-button (click)="positionSizeTooltip()" matTooltip="More information" type="button" tabindex="-1"><mat-icon>question_mark</mat-icon></button>
                    </div> 
                    <div fxLayout="row" fxLayoutAlign="start start" class="section-content">
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Leverage</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="leverage"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 2">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Margin</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="position_size"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 1500">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <!-- Profit Optimization -->
                <div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <h5>Profit Optimization Strategy</h5>
                        <span fxFlex></span>
                        <button mat-icon-button [matMenuTriggerFor]="profitMenu" matTooltip="More information" type="button" tabindex="-1"><mat-icon>question_mark</mat-icon></button>
                        <mat-menu #profitMenu="matMenu">
                            <button mat-menu-item (click)="healthPointsTooltip()" type="button" tabindex="-1">Health Points System</button>
                            <button mat-menu-item (click)="profitOptimizationTooltip()" type="button" tabindex="-1">Profit Optimization Strategy</button>
                        </mat-menu>
                    </div>

                    <!-- Take Profit Levels -->
                    <div class="margin-top">
                        <h6>Take Profit Levels</h6>

                        <!-- Take Profit 1 -->
                        <div class="margin-top">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div>
                                    <p><strong>#1&nbsp;&nbsp;&nbsp;</strong></p>
                                </div>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Take Profit%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_1_pcr"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. 0.75">
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Max HP Drawdown%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_1_dd"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. -40">
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Max Gain Drawdown%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_1_gdd"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. -80">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <!-- Take Profit 2 -->
                        <div class="margin-top">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div>
                                    <p><strong>#2&nbsp;&nbsp;&nbsp;</strong></p>
                                </div>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Take Profit%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_2_pcr"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. 1.5">
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Max HP Drawdown%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_2_dd"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. -30">
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Max Gain Drawdown%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_2_gdd"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. -60">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <!-- Take Profit 3 -->
                        <div class="margin-top">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div>
                                    <p><strong>#3&nbsp;&nbsp;&nbsp;</strong></p>
                                </div>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Take Profit%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_3_pcr"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. 2.25">
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Max HP Drawdown%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_3_dd"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. -15">
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Max Gain Drawdown%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_3_gdd"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. -40">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <!-- Take Profit 4 -->
                        <div class="margin-top">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div>
                                    <p><strong>#4&nbsp;&nbsp;&nbsp;</strong></p>
                                </div>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Take Profit%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_4_pcr"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. 3">
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Max HP Drawdown%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_4_dd"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. -10">
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Max Gain Drawdown%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_4_gdd"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. -20">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <!-- Take Profit 5 -->
                        <div class="margin-top">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div>
                                    <p><strong>#5&nbsp;&nbsp;&nbsp;</strong></p>
                                </div>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Take Profit%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_5_pcr"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. 6">
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Max HP Drawdown%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_5_dd"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. -5">
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Max Gain Drawdown%</mat-label>
                                        <input type="number"
                                            matInput
                                            formControlName="take_profit_5_gdd"
                                            autocomplete="off"
                                            [appDisableControl]="submitting"
                                            placeholder="e.g. -10">
                                    </mat-form-field>
                                </div>
                            </div>
                            <p class="light-text ts-xs">
                                <strong>*Important:</strong> setting <strong>Level 5's Max HP Drawdown%</strong> to 0 will close positions immediately 
                                when hit by the market. What's more, setting the <strong>Max Gain Drawdown%</strong> to -100 will disable the functionality 
                                on the level.
                            </p>
                        </div>
                    </div>

                    <!-- Max HP Drawdown in profit-->
                    <div class="margin-top-x2">
                        <h6>Max HP Drawdown% in Profit</h6>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <div fxFlex>
                                <mat-form-field>
                                    <input type="number"
                                           matInput
                                           formControlName="max_hp_drawdown_in_profit"
                                           autocomplete="off"
                                           [appDisableControl]="submitting"
                                           placeholder="e.g. -35">
                                </mat-form-field>
                            </div>
                            <span fxFlex="5"></span>
                            <div fxFlex>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <!-- Stop Loss -->
                <div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <h5>Loss Optimization Strategy</h5>
                        <span fxFlex></span>
                        <button mat-icon-button [matMenuTriggerFor]="lossMenu" matTooltip="More information" type="button" tabindex="-1"><mat-icon>question_mark</mat-icon></button>
                        <mat-menu #lossMenu="matMenu">
                            <button mat-menu-item (click)="healthPointsTooltip()" type="button" tabindex="-1">Health Points System</button>
                            <button mat-menu-item (click)="lossOptimizationTooltip()" type="button" tabindex="-1">Loss Optimization Strategy</button>
                        </mat-menu>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" class="section-content">
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Stop Loss%</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="stop_loss"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 3">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Max HP Drawdown% in Loss</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="max_hp_drawdown_in_loss"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. -50">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <!-- Idle Duration -->
                <div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <h5>Idling</h5>
                        <span fxFlex></span>
                        <button mat-icon-button (click)="idlingTooltip()" matTooltip="More information" type="button" tabindex="-1"><mat-icon>question_mark</mat-icon></button>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" class="section-content">
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Long Idle Minutes</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="long_idle_minutes"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 30">
                            </mat-form-field>
                        </div>
                        <span fxFlex="5"></span>
                        <div fxFlex>
                            <mat-form-field>
                                <mat-label>Short Idle Minutes</mat-label>
                                <input type="number"
                                       matInput
                                       formControlName="short_idle_minutes"
                                       autocomplete="off"
                                       [appDisableControl]="submitting"
                                       placeholder="e.g. 30">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <!-- Trading Mode -->
                <div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <h5>{{hedge_mode.value ? 'Hedge Mode': 'One-Way Mode'}}</h5>
                        <span fxFlex></span>
                        <button mat-icon-button (click)="tradingModeTooltip()" matTooltip="More information" type="button" tabindex="-1"><mat-icon>question_mark</mat-icon></button>
                    </div> 
                    <div class="section-content">
                        <mat-slide-toggle 
                            formControlName="hedge_mode"
                            [appDisableControl]="submitting">
                            Hedge Mode
                        </mat-slide-toggle>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
