<!-- App Container -->
<mat-sidenav-container class="full-height">

    <!-- Side Navigation -->
    <mat-sidenav #rootSidenav [(opened)]="sidenavOpened" position="end" class="sidenav" autoFocus="false" *ngIf="layout == 'desktop' && uid">

        <!-- Menu Heading Toolbar -->
        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
            <span>Menu</span>
            <span fxFlex></span>
            <button mat-icon-button (click)="signOut()" matTooltip="Sign Out"><mat-icon>logout</mat-icon></button>
            <button mat-icon-button (click)="createNewInstance()" matTooltip="Create New Instance"><mat-icon>open_in_new</mat-icon></button>
            <button mat-icon-button (click)="sidenav?.toggle()"><mat-icon>arrow_forward</mat-icon></button>
        </mat-toolbar>

        <!-- Menu Content -->
        <mat-list>
            <!-- Dashboard -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.dashboard()" [disabled]="state.module == 'dashboard'">
                    <mat-icon svgIcon="home"></mat-icon><span>Dashboard</span>
                </button>
            </mat-list-item>

            <!-- Epochs -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.epochs()" [disabled]="state.module == 'epochs'">
                    <mat-icon svgIcon="brain"></mat-icon><span>{{_app.epoch.value ? _app.epoch.value.id: 'Epochs'}}</span>
                </button>
            </mat-list-item>

            <!-- Trading Sessions -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.tradingSessions()" [disabled]="state.module == 'tradingSessions'">
                    <mat-icon svgIcon="auto_graph"></mat-icon><span>Trading Sessions</span>
                </button>
            </mat-list-item>

            <!-- Market State -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.marketState()" [disabled]="state.module == 'marketState'">
                    <mat-icon svgIcon="bitcoin"></mat-icon><span>Market State</span>
                </button>
            </mat-list-item>

            <!-- Predictions -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.predictions()" [disabled]="state.module == 'predictions'">
                    <mat-icon svgIcon="wand_magic_sparkles"></mat-icon><span>Predictions</span>
                </button>
            </mat-list-item>

            <!-- Candlesticks -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.candlesticks()" [disabled]="state.module == 'candlesticks'">
                    <mat-icon>waterfall_chart</mat-icon><span>Candlesticks</span>
                </button>
            </mat-list-item>

            <!-- Order Book -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.orderBook()" [disabled]="state.module == 'orderBook'">
                    <mat-icon>menu_book</mat-icon><span>Order Book</span>
                </button>
            </mat-list-item>

            <!-- Server -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.server()" [disabled]="state.module == 'server'">
                    <mat-icon svgIcon="server"></mat-icon><span>Server</span>
                </button>
            </mat-list-item>

            <!-- Users -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.users()" [disabled]="state.module == 'users'">
                    <mat-icon>people_alt</mat-icon><span>Users</span>
                </button>
            </mat-list-item>

            
            <!-- GUI Version -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.guiVersion()" [disabled]="state.module == 'guiVersion'">
                    <mat-icon>update</mat-icon><span>GUI Version</span>
                </button>
            </mat-list-item>

            <!-- IP Blacklist -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.ipBlacklist()" [disabled]="state.module == 'ipBlacklist'">
                    <mat-icon>vpn_lock</mat-icon><span>IP Blacklist</span>
                </button>
            </mat-list-item>



            <!-- Epoch Builder Menu -->
            <mat-list-item [ngClass]="{'active-sub-menu': builderExpanded}">
                <button mat-button class="left-icon-button" (click)="builderExpanded = !builderExpanded">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon svgIcon="compass_drafting" class="compass-drafting"></mat-icon>&nbsp;
                        <span>Epoch Builder</span>
                        <span fxFlex></span>
                        <mat-icon>{{builderExpanded ? 'arrow_drop_up': 'arrow_drop_down'}}</mat-icon>
                    </div>
                </button>
            </mat-list-item>

            <!-- Regression Training Certificates -->
            <mat-list-item *ngIf="builderExpanded" class="active-sub-menu">
                <button mat-button (click)="_nav.regressions()" [disabled]="state.subModule == 'regressions'">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Regressions</span>
                        <span fxFlex></span>
                        <img src="assets/img/model_logos/Regression.png" alt="Model Logo" class="small-model-logo">
                    </div>
                </button>
            </mat-list-item>

            <!-- Prediction Model Certificates -->
            <mat-list-item *ngIf="builderExpanded" class="active-sub-menu">
                <button mat-button (click)="_nav.predictionModels()" [disabled]="state.subModule == 'predictionModels'">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Prediction Models</span>
                        <span fxFlex></span>
                        <img src="assets/img/model_logos/PredictionModel.png" alt="Model Logo" class="small-model-logo">
                    </div>
                </button>
            </mat-list-item>
            <!-- Epoch Builder Menu -->



            <!-- PGAdmin -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.openPGAdmin()">
                    <mat-icon>open_in_new</mat-icon><span>PGAdmin</span>
                </button>
            </mat-list-item>


            <!-- Dozzle -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.openDozzle()">
                    <mat-icon>open_in_new</mat-icon><span>Dozzle</span>
                </button>
            </mat-list-item>

            <!-- Local Database -->
            <mat-list-item>
                <button mat-button class="left-icon-button" (click)="_nav.localDatabase()" [disabled]="state.module == 'localDatabase'">
                    <mat-icon svgIcon="database"></mat-icon><span>Local Database</span>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>


    <!-- App Content -->
    <mat-sidenav-content class="app-content">

        <!-- Navigation progress bar -->
        <mat-progress-bar *ngIf="state.navigating || (uid && !_app.serverTime.value)" 
                        class="navigation-progress-bar" 
                        mode="indeterminate" 
                        color="accent"></mat-progress-bar>



        <!-- Desktop Heading Toolbar -->
        <div class="primary-header heading-bar" *ngIf="layout != 'mobile'">
            <mat-toolbar fxLayout="row" fxLayoutAlign="center center">
                <!-- Logo -->
                <img src="assets/img/logo.png" alt="Logo">


                <span fxFlex></span>

                <!-- Dashboard -->
                <button mat-button class="left-icon-button" (click)="_nav.dashboard()" [disabled]="state.module == 'dashboard'" *ngIf="uid">
                    <mat-icon svgIcon="home"></mat-icon><span>Dashboard</span>
                </button>

                <!-- Trading Session -->
                <button mat-button 
                        class="left-icon-button" 
                        (click)="_nav.tradingSessions()" 
                        [matBadge]="_app.tradingSessionTrades.value" 
                        [matBadgeHidden]="!_app.epoch.value" 
                        [disabled]="state.module == 'tradingSessions'" 
                        *ngIf="uid">
                    <mat-icon svgIcon="auto_graph"></mat-icon><span>Trading Sessions</span>
                </button>

                <!-- Market State -->
                <button mat-button 
                        class="left-icon-button" 
                        (click)="_nav.marketState()" 
                        [disabled]="state.module == 'marketState'" 
                        *ngIf="uid">
                    <mat-icon svgIcon="bitcoin"></mat-icon><span>Market State</span>
                </button>

                <!-- Predictions -->
                <button mat-button 
                        class="left-icon-button" 
                        (click)="_nav.predictions()" 
                        matBadge="0" 
                        [appMatBadgeIcon]="_app.predictionIcon.value ? _app.predictionIcon.value: ''"
                        [matBadgeHidden]="!_app.epoch.value || !_app.predictionIcon.value" 
                        *ngIf="uid" 
                        [disabled]="state.module == 'predictions'">
                    <mat-icon svgIcon="wand_magic_sparkles"></mat-icon><span>Predictions</span>
                </button>

                <!-- Server -->
                <button mat-button 
                        class="left-icon-button" 
                        (click)="_nav.server()" 
                        [disabled]="state.module == 'server'" 
                        *ngIf="uid">
                    <mat-icon svgIcon="server"></mat-icon><span>Server</span>
                </button>

                <!-- Menu -->
                <button mat-icon-button (click)="sidenav?.toggle()" *ngIf="uid"><mat-icon>menu</mat-icon></button>
            </mat-toolbar>
        </div>


        <!-- Main Router Outlet -->
        <router-outlet></router-outlet>


        <!-- FCM Permission -->
        <div *ngIf="fcmVisible" (click)="enableFCM()" 
            cdkDrag (cdkDragMoved)="fcmDragged($event)"
            role="button" class="fake-button fcm fadeIn" matRipple
            fxLayout="row" fxLayoutAlign="start center">
            <p>Enable FCM Notifications on this device.</p>
            <span fxFlex></span>
            <mat-icon>notifications</mat-icon>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>





<!-- Icons Preloader -->
<div class="icons-preloader"><mat-icon *ngFor="let icon of customIcons" [svgIcon]="icon"></mat-icon></div>
