



.component {
    
    p { margin:0}
    h5 { margin:0}

    .no-records {
        color: var(--light-text-color);
        text-align: center;
        margin:35px;
    }



    .symbols {
        text-align: right;
        max-width: 100%;
        .symbol {
            margin:3px;
            display:inline-block;
        }
    }


    .divider { margin: 20px 0 20px 0!important}
}