<div fxLayout="row" fxLayoutAlign="start center">
    <p [ngClass]="{'formula': !compact, 'compact-formula': compact}"
        matTooltip="Lookback: The number of candlesticks that will be used from the past in order to make a prediction.">
        [{{config.lookback}}] >
    </p>
    <p class="clickable" [ngClass]="{'formula': !compact, 'compact-formula': compact}"
        role="button" 
        [matTooltip]="config.id" 
        (click)="_nav.displayKerasModelDialog(config)">
        &nbsp;{{config.id | stringOverview: _app.layout.value == 'desktop' ? 14: 12: true}}
    </p>
    <p [ngClass]="{'formula': !compact, 'compact-formula': compact}"
        matTooltip="Predictions: The number of predictions that will be generated in a single shot by the Regression in order to evaluate the 
        results from beginning to end.">
        &nbsp;> [{{config.predictions}}]
    </p>
</div>