<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate" *ngIf="!forecast">Loading...</span>
        <span class="truncate" *ngIf="forecast">{{_forecast.forecastResultText[forecast.result]}} Forecast</span>
        <span fxFlex></span>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="section-loader"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>

    <div class="padding" *ngIf="loaded && forecast">
        <app-candlestick-chart [data]="{candlesticks: forecast.candlesticks!, annotations: annotations}"></app-candlestick-chart>
    </div>
</div>
