<div mat-dialog-title fxLayout="row" fxLayoutAlign="start center">
    <h1 *ngIf="!loaded">Loading...</h1>
    <h1 *ngIf="loaded">{{hp | number: '1.0-2'}} HP</h1>
    <span fxFlex></span>
    <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
</div>
<div mat-dialog-content>
    <div *ngIf="!loaded">
        <div class="loader"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="30"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded && results.length" class="component fadeIn">
        <div *ngFor="let result of results" class="hp-item" [ngClass]="{'inactive': result.percentage >= 50 && result.percentage < 60}">
            <div fxLayout="row" fxLayoutAlign="center center"
                [ngClass]="{
                    'error-color': result.percentage < 50,
                    'light-text': result.percentage >= 50 && result.percentage < 60,
                    'success-color': result.percentage >= 60,
                    'strong-item': result.percentage < 50 || result.percentage >= 60
                }">
                <p class="truncate">{{result.name}}</p>
                <span fxFlex></span>
                <p class="ts-xs">
                    {{result.points | number: '1.0-2'}} / {{result.maxPoints | number: '1.0-2'}}
                </p>
            </div>
            <mat-progress-bar mode="determinate" [value]="result.percentage" [color]="result.percentage >= 50 ? 'primary': 'warn'"></mat-progress-bar>
        </div>
    </div>
</div>
