<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

    <div fxFlex="40" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
        <!-- Accuracy -->
        <div class="desktop-card">
            <div class="badged-header" fxLayout="row" fxLayoutAlign="start center">
                <h4 class="truncate">{{layout == 'desktop' ? 'Accuracy': 'Acc.'}}</h4>
                <span fxFlex></span>
                <div class="square-badge-success" matTooltip="Increase Accuracy">
                    {{discovery.increase_accuracy| number: '1.0-2'}}%
                </div>
                <div class="square-badge-error" matTooltip="Decrease Accuracy">
                    {{discovery.decrease_accuracy| number: '1.0-2'}}%
                </div>
                <div class="square-badge" matTooltip="Accuracy">
                    {{discovery.accuracy| number: '1.0-2'}}%
                </div>
            </div>
            <div>
                <apx-chart
                    [series]="accuracyChart.series"
                    [chart]="accuracyChart.chart"
                    [plotOptions]="accuracyChart.plotOptions"
                    [xaxis]="accuracyChart.xaxis"
                    [yaxis]="accuracyChart.yaxis"
                    [dataLabels]="accuracyChart.dataLabels"
                    [colors]="accuracyChart.colors"
                    [grid]="accuracyChart.grid"
                ></apx-chart>
            </div>
        </div>

        <div class="divider show-on-mobile"></div>

        <!-- Discovery -->
        <div class="desktop-card">
            <app-discovery-content [discovery]="discovery"></app-discovery-content>
        </div>
    </div>

    <span fxFlex></span>
    <div class="divider show-on-mobile"></div>


    <div fxFlex="58" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
        <!-- Predictions Insight -->
        <div class="desktop-card">
            <!-- Header -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <h4>{{layout == 'desktop' ? 'Prediction Insights': 'Insights'}}</h4>
                <span fxFlex></span>
                <button mat-button [matMenuTriggerFor]="menu" [ngClass]="activeInsight.class">
                    <mat-icon>{{activeInsight.icon}}</mat-icon>&nbsp;&nbsp;<span>{{activeInsight.name}}</span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item 
                        *ngFor="let insight of predictionInsights; index as insightIndex"
                        [ngClass]="insight.class" 
                        [disabled]="activeInsight.class == insight.class" (click)="activateInsight(insightIndex)">
                        <mat-icon>{{insight.icon}}</mat-icon> <span>{{insight.name}}</span>
                    </button>
                </mat-menu>                  
            </div>

            <!-- Predictions -->
            <apx-chart
                [series]="predictionInsightChart.series"
                [chart]="predictionInsightChart.chart"
                [xaxis]="predictionInsightChart.xaxis"
                [dataLabels]="predictionInsightChart.dataLabels"
                [yaxis]="predictionInsightChart.yaxis"
            ></apx-chart>
        </div>

        <div class="divider show-on-mobile"></div>

        <!-- Predictions vs Outcomes -->
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="full-width">
            <!-- Predictions-->
            <div fxFlex="49" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                <div class="desktop-card no-margin">
                    <div class="badged-header" fxLayout="row" fxLayoutAlign="start center">
                        <h4 class="truncate">{{layout == 'desktop' ? 'Predictions': 'Preds.'}}</h4>
                        <span fxFlex></span>
                        <div class="square-badge-neutral" 
                            matTooltip="The number of neutral predictions generated by the Model.">
                            {{discovery.neutral_num | number}}
                        </div>
                        <div class="square-badge-success" 
                            matTooltip="The number of increase predictions generated by the Model.">
                            {{discovery.increase_num | number}}
                        </div>
                        <div class="square-badge-error" 
                            matTooltip="The number of decrease predictions generated by the Model.">
                            {{discovery.decrease_num | number}}
                        </div>
                        <div class="square-badge" 
                            matTooltip="The number of non-neutral predictions generated by the Model.">
                            {{discovery.increase_num + discovery.decrease_num | number}}
                        </div>
                    </div>

                    <div>
                        <apx-chart
                            [series]="predictionsChart.series"
                            [chart]="predictionsChart.chart"
                            [labels]="predictionsChart.labels"
                            [colors]="predictionsChart.colors"
                            [legend]="predictionsChart.legend"
                            [responsive]="predictionsChart.responsive"
                        ></apx-chart>
                    </div>
                </div>
            </div>

            <span fxFlex></span>
            <div class="divider show-on-mobile"></div>


            <!-- Outcomes-->
            <div fxFlex="49" fxFlex.xs="100" fxFlex.sm="100" class="full-width">
                <div class="desktop-card no-margin">
                    <div class="badged-header" fxLayout="row" fxLayoutAlign="start center">
                        <h4 class="truncate">{{layout == 'desktop' ? 'Outcomes': 'Outs.'}}</h4>
                        <span fxFlex></span>
                        <div class="square-badge-success" 
                            matTooltip="The number of increase outcomes during the discovery.">
                            {{discovery.increase_outcome_num | number}}
                        </div>
                        <div class="square-badge-error" 
                            matTooltip="The number of decrease outcomes during the discovery.">
                            {{discovery.decrease_outcome_num | number}}
                        </div>
                        <div class="square-badge" 
                            matTooltip="The total number outcomes during the discovery.">
                            {{discovery.increase_outcome_num + discovery.decrease_outcome_num | number}}
                        </div>
                    </div>

                    <div>
                        <apx-chart
                            [series]="outcomesChart.series"
                            [chart]="outcomesChart.chart"
                            [labels]="outcomesChart.labels"
                            [colors]="outcomesChart.colors"
                            [legend]="outcomesChart.legend"
                            [responsive]="outcomesChart.responsive"
                        ></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>