<!-- Secondary Header -->
<mat-toolbar class="secondary-header">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button (click)="_nav.dashboard()" class="show-on-mobile"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">{{epoch ? epoch.id: 'Epochs'}}</span>
        <span fxFlex></span>
        
        <!-- Epoch Installer -->
        <button mat-button 
                *ngIf="initialized && _app.epoch.value === undefined && !epoch" 
                (click)="install()">INSTALL</button>


        <!-- Epoch Uninstaller -->
        <button mat-button 
                *ngIf="initialized && epoch && _app.epoch.value && _app.epoch.value.id == epoch.id && loaded" 
                (click)="uninstall()">UNINSTALL</button>

        <!-- Epoch Closer -->
        <button mat-icon-button 
                *ngIf="epoch && loaded"
                matTooltip="Close {{epoch.id}}"
                (click)="initializeEpochData()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>

<!-- Content -->
<div>
    <div>
        <!-- Epoch Menu -->
        <div *ngIf="initialized && !epoch" fxLayout="row" fxLayoutAlign="center center" class="padding">
            <div fxFlex="30" fxFlex.xs="100" fxFlex.sm="100">
                <app-epochs-menu (epochID)="initializeEpochData($event)"></app-epochs-menu>
            </div>
        </div>

        <!-- Epoch Container -->
        <div *ngIf="initialized && epoch">
            <!-- Loader -->
            <div *ngIf="!loaded" class="section-loader">
                <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
            </div>

            <!-- Epoch Content -->
            <div *ngIf="loaded" class="fadeIn">
                <!-- Tabs Navigation -->
                <mat-tab-group *ngIf="layout == 'mobile'" 
                            [selectedIndex]="activeTab" (selectedIndexChange)="activeTab = $event"
                            mat-stretch-tabs class="mat-elevation-z3" backgroundColor="primary">
                    <mat-tab><ng-template mat-tab-label><mat-icon svgIcon="brain"></mat-icon></ng-template></mat-tab>
                    <mat-tab><ng-template mat-tab-label><mat-icon>settings</mat-icon></ng-template></mat-tab>
                    <mat-tab><ng-template mat-tab-label><mat-icon>price_check</mat-icon></ng-template></mat-tab>
                </mat-tab-group>
                <mat-tab-group *ngIf="layout == 'desktop'"  
                                [selectedIndex]="activeTab" (selectedIndexChange)="activeTab = $event" 
                                mat-align-tabs="center">
                    <mat-tab><ng-template mat-tab-label><mat-icon svgIcon="brain"></mat-icon>&nbsp;Model</ng-template></mat-tab>
                    <mat-tab><ng-template mat-tab-label><mat-icon>settings</mat-icon>&nbsp;Configuration</ng-template></mat-tab>
                    <mat-tab><ng-template mat-tab-label><mat-icon>price_check</mat-icon>&nbsp;Backtest</ng-template></mat-tab>
                </mat-tab-group>

                <!-- Content -->
                <div class="padding">

                    <!-- Model -->
                    <div *ngIf="activeTab == 0" class="fadeIn" fxLayout="row" fxLayoutAlign="center start">
                        <div fxFlex fxFlex.md="35" fxFlex.lg="30" fxFlex.xl="25" class="full-width">
                            <div class="desktop-card">
                                <mat-icon style="float:right;" 
                                        class="success-color" 
                                        matTooltip="Running"
                                        *ngIf="!epoch.uninstalled">toggle_on</mat-icon>
                                <mat-icon style="float:right;" 
                                        class="light-text" 
                                        matTooltip="Not Running"
                                        *ngIf="epoch.uninstalled">toggle_off</mat-icon>
                                <app-prediction-model-content [model]="epoch.model" [epochID]="epoch.id"></app-prediction-model-content>
                            </div>
                        </div>
                    </div>

                    <!-- Configuration -->
                    <div *ngIf="activeTab == 1" class="fadeIn" fxLayout="row" fxLayoutAlign="center start">
                        <div fxFlex fxFlex.md="35" fxFlex.lg="30" fxFlex.xl="25" class="full-width">
                            <div class="desktop-card">
                                <h4 class="show-on-desktop margin-bottom">Configuration</h4>
    
                                <!-- Installed -->
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <p class="light-text">Installed</p>
                                    <span fxFlex></span>
                                    <p class="ts-s" 
                                        matTooltip="The date in which the Epoch was installed.">
                                        {{epoch.installed | date: 'medium'}}
                                    </p>
                                </div>
    
                                <!-- Uninstalled -->
                                <div *ngIf="epoch.uninstalled" fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                    <p class="light-text">Uninstalled</p>
                                    <span fxFlex></span>
                                    <p class="ts-s"
                                    matTooltip="The date in which the Epoch was uninstalled.">
                                        {{epoch.uninstalled | date: 'medium'}}
                                    </p>
                                </div>
    
                                <!-- Seed -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                    <p class="light-text">Seed</p>
                                    <span fxFlex></span>
                                    <p matTooltip="The random seed used to train and evaluate the models.">{{epoch.config.seed}}</p>
                                </div>
    
                                <!-- SMA Window Size -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                    <p class="light-text">SMA Window Size</p>
                                    <span fxFlex></span>
                                    <p matTooltip="The window size used to calculate the Simple Moving Average.">{{epoch.config.sma_window_size}}</p>
                                </div>
    
                                <!-- Train Split -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                    <p class="light-text">Train Split</p>
                                    <span fxFlex></span>
                                    <p matTooltip="The split applied to the data in order to separate the train and test datasets.">
                                        {{epoch.config.train_split | percent}}
                                    </p>
                                </div>
    
                                <!-- Validation Split -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                    <p class="light-text">Validation Split</p>
                                    <span fxFlex></span>
                                    <p matTooltip="The split applied to the train dataset in order to separate the train and validation datasets.">
                                        {{epoch.config.validation_split | percent}}
                                    </p>
                                </div>
    
                                <!-- Epoch Date Range -->
                                <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                                    <p class="light-text">Range</p>
                                    <span fxFlex></span>
                                    <div class="align-right" matTooltip="The date range covered by the Epoch.">
                                        <p class="ts-s">{{epoch.config.start | date: 'medium'}}</p>
                                        <p class="ts-s">{{epoch.config.end | date: 'medium'}}</p>
                                    </div>
                                </div>
    
                                <!-- Test DS Date Range -->
                                <div fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                                    <p class="light-text">Test DS Range</p>
                                    <span fxFlex></span>
                                    <div class="align-right" matTooltip="The date range covered in the test dataset. This is the range used to train and evaluate models.">
                                        <p class="ts-s">{{epoch.config.test_ds_start | date: 'medium'}}</p>
                                        <p class="ts-s">{{epoch.config.test_ds_end | date: 'medium'}}</p>
                                    </div>
                                </div>
    
    
                                <!-- Price SMA Range -->
                                <div *ngIf="epoch.uninstalled" fxLayout="row" fxLayoutAlign="start start" class="margin-top">
                                    <p class="light-text">Price SMA Range</p>
                                    <span fxFlex></span>
                                    <div class="align-right" 
                                        matTooltip="The highest and lowest price simple moving average present in the Epoch's range.">
                                        <p>{{epoch.config.lowest_price_sma | currency}}</p>
                                        <p>{{epoch.config.highest_price_sma | currency}}</p>
                                    </div>
                                </div>
    
                                <!-- Regression -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                    <p class="light-text">Regression</p>
                                    <span fxFlex></span>
                                    <p class="formula" matTooltip="The anatomy of a Regression Model.">
                                        [{{epoch.config.regression_lookback}}] > MODEL > [{{epoch.config.regression_predictions}}]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Backtest -->
                    <div *ngIf="activeTab == 2" class="fadeIn" fxLayout="row" fxLayoutAlign="center start">
                        <div fxFlex fxFlex.md="35" fxFlex.lg="30" fxFlex.xl="25" class="full-width">
                            <div class="desktop-card">
                                <h4 class="show-on-desktop margin-bottom">Backtest</h4>
    
                                <!-- Date Range -->
                                <div fxLayout="row" fxLayoutAlign="start start">
                                    <p class="light-text">Date Range</p>
                                    <span fxFlex></span>
                                    <div class="align-right" matTooltip="The date range covered in the test dataset. This is the range used to train and evaluate models.">
                                        <p class="ts-s">{{epoch.config.test_ds_start | date: 'medium'}}</p>
                                        <p class="ts-s">{{epoch.config.test_ds_end | date: 'medium'}}</p>
                                    </div>
                                </div>
    
                                <!-- Exchange Fee -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                    <p class="light-text">Exchange Fee</p>
                                    <span fxFlex></span>
                                    <p matTooltip="The exchange fee used when backtesting prediction models.">
                                        {{epoch.config.exchange_fee}}%
                                    </p>
                                </div>
    
                                <!-- Position Size -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                    <p class="light-text">Position Size</p>
                                    <span fxFlex></span>
                                    <p matTooltip="The position size used when backtesting prediction models.">
                                        {{epoch.config.position_size | currency}}
                                    </p>
                                </div>
    
                                <!-- Leverage -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                    <p class="light-text">Leverage</p>
                                    <span fxFlex></span>
                                    <p matTooltip="The leverage used when backtesting prediction models.">x{{epoch.config.leverage}}</p>
                                </div>
    
                                <!-- Idle on Position Close -->
                                <div fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                    <p class="light-text">Idle on Position Close</p>
                                    <span fxFlex></span>
                                    <p matTooltip="The idle minutes used when backtesting prediction models.">
                                        {{epoch.config.idle_minutes_on_position_close}} mins
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
