<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">Position Action Payloads</span>
        <span fxFlex></span>
        <button mat-icon-button (click)="displayTooltip()" matTooltip="What is this?"><mat-icon>question_mark</mat-icon></button>
        <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="!loaded">
            <mat-icon>date_range</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item 
                    *ngFor="let item of histMenu" 
                    [disabled]="item.id == activeHistMenuItem.id && item.id != 'custom'" 
                    (click)="loadHist(item)">{{item.name}}</button>
        </mat-menu>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <div class="component">
        <!-- Tabs Navigation-->
        <mat-tab-group [selectedIndex]="activeTab" (selectedIndexChange)="tabChanged($event)" 
            mat-align-tabs="center" 
            mat-stretch-tabs  
            backgroundColor="primary">
            <mat-tab [disabled]="!loaded" label="POSITION_OPEN"></mat-tab>
            <mat-tab [disabled]="!loaded" label="POSITION_CLOSE"></mat-tab>
        </mat-tab-group>

        <!-- Loader -->
        <div *ngIf="!loaded">
            <div class="section-loader show-on-mobile"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
            <div class="loader show-on-desktop"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
        </div>
        <div *ngIf="loaded" class="padding">
            <p *ngIf="!hist.length" class="no-records">No records were found</p>
            <div *ngFor="let pos of hist; last as lastRecord" class="clickable" role="button" (click)="_nav.displayTradeExecutionPayloadDialog(pos.p)">
                <div fxLayout="row" fxLayoutAlign="center start">
                    <h6>{{pos.s | baseAssetName}} {{pos.sd}}</h6>
                    <span fxFlex></span>
                    <p class="light-text ts-s">{{pos.t | date: 'short'}}</p>
                </div>
                <div *ngIf="!lastRecord" class="divider"></div>
            </div>
        </div>
    </div>
</div>
