

p {margin:0;}

h5{ margin:0;}


.policy-items {
    max-width: 100%;
    text-align: left;
    margin-top:30px;
    .policy-item {
        margin:5px;
        display:inline-block;
    }
    .policy-item:first-child {
        margin-left: 0px;
    }
    .policy-item:last-child {
        margin-right: 0px;
    }
}

.inactive { opacity: 0.4;}


//.divider { margin: 30px 0 30px 0 }






/* Responsiveness */


/* mobile: sm & xs */
@media only screen and (max-width: 959px) {

}



/* desktop: md */
@media only screen and (min-width: 960px) {

}