<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">Signal Cancellation Policy</span>&nbsp;
        <span fxFlex></span>
        <button mat-icon-button 
                *ngIf="loaded && longForm && shortForm"
                [disabled]="longForm.invalid || shortForm.invalid"
                (click)="updatePolicies()"><mat-icon>save</mat-icon></button>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="loader show-on-desktop"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
        <div class="section-loader show-on-mobile"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded && longForm && shortForm">
        <!-- Tabs Navigation-->
        <mat-tab-group [selectedIndex]="activeTab" 
            (selectedIndexChange)="activeTab = $event" 
            mat-align-tabs="center" 
            mat-stretch-tabs 
            backgroundColor="primary">

            <!-- Long Policies -->
            <mat-tab label="LONG">
                <div class="padding">
                    <form [formGroup]="longForm" (ngSubmit)="updatePolicies()">
                        <div>
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>TA 30m</mat-label>
                                        <mat-select formControlName="ta_30m">
                                          <mat-option *ngFor="let state of taStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>TA 2h</mat-label>
                                        <mat-select formControlName="ta_2h">
                                          <mat-option *ngFor="let state of taStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>TA 4h</mat-label>
                                        <mat-select formControlName="ta_4h">
                                          <mat-option *ngFor="let state of taStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>TA 1d</mat-label>
                                        <mat-select formControlName="ta_1d">
                                          <mat-option *ngFor="let state of taStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Open Interest</mat-label>
                                        <mat-select formControlName="open_interest">
                                          <mat-option *ngFor="let state of msStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Long/Short Ratio</mat-label>
                                        <mat-select formControlName="long_short_ratio">
                                          <mat-option *ngFor="let state of msStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Window</mat-label>
                                        <mat-select formControlName="window">
                                          <mat-option *ngFor="let state of msStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Volume</mat-label>
                                        <mat-select formControlName="volume">
                                          <mat-option *ngFor="let state of msStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Network Fee</mat-label>
                                        <mat-select formControlName="network_fee">
                                          <mat-option *ngFor="let state of msStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
      
                                </div>
                            </div>
                        </div>
        
                    </form>
                </div>
            </mat-tab>


            <!-- Short Policies -->
            <mat-tab label="SHORT">
                <div class="padding">
                    <form [formGroup]="shortForm" (ngSubmit)="updatePolicies()">
                        <div>
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>TA 30m</mat-label>
                                        <mat-select formControlName="ta_30m">
                                          <mat-option *ngFor="let state of taStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>TA 2h</mat-label>
                                        <mat-select formControlName="ta_2h">
                                          <mat-option *ngFor="let state of taStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>TA 4h</mat-label>
                                        <mat-select formControlName="ta_4h">
                                          <mat-option *ngFor="let state of taStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>TA 1d</mat-label>
                                        <mat-select formControlName="ta_1d">
                                          <mat-option *ngFor="let state of taStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Open Interest</mat-label>
                                        <mat-select formControlName="open_interest">
                                          <mat-option *ngFor="let state of msStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Long/Short Ratio</mat-label>
                                        <mat-select formControlName="long_short_ratio">
                                          <mat-option *ngFor="let state of msStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Window</mat-label>
                                        <mat-select formControlName="window">
                                          <mat-option *ngFor="let state of msStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Volume</mat-label>
                                        <mat-select formControlName="volume">
                                          <mat-option *ngFor="let state of msStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Network Fee</mat-label>
                                        <mat-select formControlName="network_fee">
                                          <mat-option *ngFor="let state of msStates" [value]="state">
                                            {{state}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <span fxFlex="5"></span>
                                <div fxFlex>
      
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
