<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">{{side}} Policies</span>
        <span fxFlex></span>
        <button mat-icon-button *ngIf="loaded" (click)="updatePolicies()" matTooltip="Update Policies"><mat-icon>save</mat-icon></button>
        <button mat-icon-button *ngIf="loaded"  (click)="displayTooltip()" matTooltip="More information"><mat-icon>question_mark</mat-icon></button>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="section-loader"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded && policies">
        <!-- Tabs Navigation-->
        <mat-tab-group [selectedIndex]="activeIndex" (selectedIndexChange)="activeIndex = $event" 
            mat-align-tabs="center" 
            mat-stretch-tabs  
            backgroundColor="primary">
            <mat-tab label="ISSUANCE"></mat-tab>
            <mat-tab label="CANCELLATION"></mat-tab>
        </mat-tab-group>

        <!-- Issuance Policies -->
        <div *ngIf="activeIndex == 0" class="padding">
            <!-- Strong Trend -->
            <div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Strong Trend</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle [checked]="true" [disabled]="true" matTooltip="Enabled"></mat-slide-toggle>
                </div>
                <div *ngIf="side == 'LONG'" class="policy-items">
                    <div class="policy-item square-badge-success">
                        Trend Sum >= min_increase_sum
                    </div>
                    <div class="policy-item state-badge square-badge-success state" [matTooltip]="_ms.marketStates[1]">
                        <mat-icon svgIcon="arrow_trend_up"></mat-icon> Trend State +3<mat-icon class="state-badge-caret" svgIcon="angle_up"></mat-icon>
                    </div>
                </div>
                <div *ngIf="side == 'SHORT'" class="policy-items">
                    <div class="policy-item square-badge-error">
                        Trend Sum <= min_decrease_sum
                    </div>
                    <div class="policy-item state-badge square-badge-error state" [matTooltip]="_ms.marketStates[-1]">
                        <mat-icon svgIcon="arrow_trend_down"></mat-icon> Trend State -3<mat-icon class="state-badge-caret" svgIcon="angle_down"></mat-icon>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Strong Trend Reversal -->
            <div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Strong Trend Reversal</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle [checked]="true" [disabled]="true" matTooltip="Enabled"></mat-slide-toggle>
                </div>
                <div *ngIf="side == 'LONG'" class="policy-items">
                    <div class="policy-item square-badge-error">
                        Trend Sum >= min_decrease_sum
                    </div>
                    <div class="policy-item state-badge square-badge-success" [matTooltip]="_ms.marketStates[2]">
                        <mat-icon svgIcon="arrow_turn_up"></mat-icon> Trend State +5
                    </div>
                </div>
                <div *ngIf="side == 'SHORT'" class="policy-items">
                    <div class="policy-item square-badge-success">
                        Trend Sum <= min_increase_sum
                    </div>
                    <div class="policy-item state-badge square-badge-error" [matTooltip]="_ms.marketStates[-2]">
                        <mat-icon svgIcon="arrow_turn_down"></mat-icon> Trend State -5
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Volume -->
            <div [ngClass]="{'inactive': !policies.issuance.volume.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Volume</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.issuance.volume.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.issuance.volume.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Trend Sum -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume'"
                        [id]="'trend_sum'" 
                        [value]="policies.issuance.volume.trend_sum"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Trend State -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume'"
                        [id]="'trend_state'" 
                        [value]="policies.issuance.volume.trend_state"
                        [value2]="policies.issuance.volume.trend_intensity"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Volume -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume'"
                        [id]="'volume'" 
                        [value]="policies.issuance.volume.volume"
                        [value2]="policies.issuance.volume.volume_direction"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Technicals -->
            <div [ngClass]="{'inactive': !policies.issuance.technicals.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Technicals</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.issuance.technicals.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.issuance.technicals.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Trend Sum -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'technicals'"
                        [id]="'trend_sum'" 
                        [value]="policies.issuance.technicals.trend_sum"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Trend State -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'technicals'"
                        [id]="'trend_state'" 
                        [value]="policies.issuance.technicals.trend_state"
                        [value2]="policies.issuance.technicals.trend_intensity"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Technicals -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'technicals'"
                        [id]="'technicals'" 
                        [disableable]="false"
                        [value]="policies.issuance.technicals.technicals"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Open Interest -->
            <div [ngClass]="{'inactive': !policies.issuance.open_interest.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Open Interest</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.issuance.open_interest.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.issuance.open_interest.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Trend Sum -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'open_interest'"
                        [id]="'trend_sum'" 
                        [value]="policies.issuance.open_interest.trend_sum"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Trend State -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'open_interest'"
                        [id]="'trend_state'" 
                        [value]="policies.issuance.open_interest.trend_state"
                        [value2]="policies.issuance.open_interest.trend_intensity"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Open Interest -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'open_interest'"
                        [id]="'open_interest'" 
                        [value]="policies.issuance.open_interest.open_interest"
                        [disableable]="false"
                        [immutable]="true"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Long/Short Ratio -->
            <div [ngClass]="{'inactive': !policies.issuance.long_short_ratio.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Long/Short Ratio</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.issuance.long_short_ratio.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.issuance.long_short_ratio.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Trend Sum -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'long_short_ratio'"
                        [id]="'trend_sum'" 
                        [value]="policies.issuance.long_short_ratio.trend_sum"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Trend State -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'long_short_ratio'"
                        [id]="'trend_state'" 
                        [value]="policies.issuance.long_short_ratio.trend_state"
                        [value2]="policies.issuance.long_short_ratio.trend_intensity"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Long/Short Ratio -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'long_short_ratio'"
                        [id]="'long_short_ratio'" 
                        [value]="policies.issuance.long_short_ratio.long_short_ratio"
                        [disableable]="false"
                        [immutable]="true"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Volume Technicals -->
            <div [ngClass]="{'inactive': !policies.issuance.volume_technicals.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Volume Technicals</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.issuance.volume_technicals.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.issuance.volume_technicals.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Trend Sum -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume_technicals'"
                        [id]="'trend_sum'" 
                        [value]="policies.issuance.volume_technicals.trend_sum"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Trend State -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume_technicals'"
                        [id]="'trend_state'" 
                        [value]="policies.issuance.volume_technicals.trend_state"
                        [value2]="policies.issuance.volume_technicals.trend_intensity"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Volume -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume_technicals'"
                        [id]="'volume'" 
                        [value]="policies.issuance.volume_technicals.volume"
                        [value2]="policies.issuance.volume_technicals.volume_direction"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Technicals -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume_technicals'"
                        [id]="'technicals'" 
                        [disableable]="false"
                        [value]="policies.issuance.volume_technicals.technicals"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Volume Open Interest -->
            <div [ngClass]="{'inactive': !policies.issuance.volume_open_interest.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Volume Open Interest</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.issuance.volume_open_interest.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.issuance.volume_open_interest.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Trend Sum -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume_open_interest'"
                        [id]="'trend_sum'" 
                        [value]="policies.issuance.volume_open_interest.trend_sum"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Trend State -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume_open_interest'"
                        [id]="'trend_state'" 
                        [value]="policies.issuance.volume_open_interest.trend_state"
                        [value2]="policies.issuance.volume_open_interest.trend_intensity"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Volume -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume_open_interest'"
                        [id]="'volume'" 
                        [value]="policies.issuance.volume_open_interest.volume"
                        [value2]="policies.issuance.volume_open_interest.volume_direction"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Open Interest -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume_open_interest'"
                        [id]="'open_interest'" 
                        [value]="policies.issuance.volume_open_interest.open_interest"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Volume Long/Short Ratio -->
            <div [ngClass]="{'inactive': !policies.issuance.volume_long_short_ratio.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Volume Long/Short Ratio</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.issuance.volume_long_short_ratio.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.issuance.volume_long_short_ratio.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Trend Sum -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume_long_short_ratio'"
                        [id]="'trend_sum'" 
                        [value]="policies.issuance.volume_long_short_ratio.trend_sum"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Trend State -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume_long_short_ratio'"
                        [id]="'trend_state'" 
                        [value]="policies.issuance.volume_long_short_ratio.trend_state"
                        [value2]="policies.issuance.volume_long_short_ratio.trend_intensity"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Volume -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume_long_short_ratio'"
                        [id]="'volume'" 
                        [value]="policies.issuance.volume_long_short_ratio.volume"
                        [value2]="policies.issuance.volume_long_short_ratio.volume_direction"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Long/Short Ratio -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'volume_long_short_ratio'"
                        [id]="'long_short_ratio'" 
                        [value]="policies.issuance.volume_long_short_ratio.long_short_ratio"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Technicals Open Interest -->
            <div [ngClass]="{'inactive': !policies.issuance.technicals_open_interest.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Technicals Open Interest</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.issuance.technicals_open_interest.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.issuance.technicals_open_interest.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Trend Sum -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'technicals_open_interest'"
                        [id]="'trend_sum'" 
                        [value]="policies.issuance.technicals_open_interest.trend_sum"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Trend State -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'technicals_open_interest'"
                        [id]="'trend_state'" 
                        [value]="policies.issuance.technicals_open_interest.trend_state"
                        [value2]="policies.issuance.technicals_open_interest.trend_intensity"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Technicals -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'technicals_open_interest'"
                        [id]="'technicals'" 
                        [disableable]="false"
                        [value]="policies.issuance.technicals_open_interest.technicals"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Open Interest -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'technicals_open_interest'"
                        [id]="'open_interest'" 
                        [value]="policies.issuance.technicals_open_interest.open_interest"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>
    
            <!-- Technicals Long/Short Ratio -->
            <div [ngClass]="{'inactive': !policies.issuance.technicals_long_short_ratio.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Technicals Long/Short Ratio</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.issuance.technicals_long_short_ratio.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.issuance.technicals_long_short_ratio.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Trend Sum -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'technicals_long_short_ratio'"
                        [id]="'trend_sum'" 
                        [value]="policies.issuance.technicals_long_short_ratio.trend_sum"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Trend State -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'technicals_long_short_ratio'"
                        [id]="'trend_state'" 
                        [value]="policies.issuance.technicals_long_short_ratio.trend_state"
                        [value2]="policies.issuance.technicals_long_short_ratio.trend_intensity"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Technicals -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'technicals_long_short_ratio'"
                        [id]="'technicals'" 
                        [disableable]="false"
                        [value]="policies.issuance.technicals_long_short_ratio.technicals"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Long/Short Ratio -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'technicals_long_short_ratio'"
                        [id]="'long_short_ratio'" 
                        [value]="policies.issuance.technicals_long_short_ratio.long_short_ratio"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Open Interest Long/Short Ratio -->
            <div [ngClass]="{'inactive': !policies.issuance.open_interest_long_short_ratio.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Open Interest Long/Short Ratio</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.issuance.open_interest_long_short_ratio.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.issuance.open_interest_long_short_ratio.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Trend Sum -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'open_interest_long_short_ratio'"
                        [id]="'trend_sum'" 
                        [value]="policies.issuance.open_interest_long_short_ratio.trend_sum"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Trend State -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'open_interest_long_short_ratio'"
                        [id]="'trend_state'" 
                        [value]="policies.issuance.open_interest_long_short_ratio.trend_state"
                        [value2]="policies.issuance.open_interest_long_short_ratio.trend_intensity"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Open Interest -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'open_interest_long_short_ratio'"
                        [id]="'open_interest'" 
                        [value]="policies.issuance.open_interest_long_short_ratio.open_interest"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Long/Short Ratio -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'issuance'" 
                        [policyID]="'open_interest_long_short_ratio'"
                        [id]="'long_short_ratio'" 
                        [value]="policies.issuance.open_interest_long_short_ratio.long_short_ratio"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>
        </div>



















        <!-- Cancellation Policies -->
        <div *ngIf="activeIndex == 1" class="padding">

            <!-- Window -->
            <div [ngClass]="{'inactive': !policies.cancellation.window.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Window</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.cancellation.window.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.cancellation.window.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'window'"
                        [id]="'window'" 
                        [value]="policies.cancellation.window.window"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Volume -->
            <div [ngClass]="{'inactive': !policies.cancellation.volume.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Volume</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.cancellation.volume.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.cancellation.volume.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'volume'"
                        [id]="'volume'" 
                        [value]="policies.cancellation.volume.volume"
                        [value2]="policies.cancellation.volume.volume_direction"
                        [disableable]="false"
                        [immutable]="true"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Open Interest -->
            <div [ngClass]="{'inactive': !policies.cancellation.open_interest.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Open Interest</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.cancellation.open_interest.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.cancellation.open_interest.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'open_interest'"
                        [id]="'open_interest'" 
                        [value]="policies.cancellation.open_interest.open_interest"
                        [disableable]="false"
                        [immutable]="true"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Long/Short Ratio -->
            <div [ngClass]="{'inactive': !policies.cancellation.long_short_ratio.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Long/Short Ratio</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.cancellation.long_short_ratio.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.cancellation.long_short_ratio.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'long_short_ratio'"
                        [id]="'long_short_ratio'" 
                        [value]="policies.cancellation.long_short_ratio.long_short_ratio"
                        [disableable]="false"
                        [immutable]="true"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Technicals -->
            <div [ngClass]="{'inactive': !policies.cancellation.technicals.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Technicals</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.cancellation.technicals.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.cancellation.technicals.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Technicals -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'technicals'"
                        [id]="'technicals'" 
                        [disableable]="false"
                        [immutable]="true"
                        [value]="policies.cancellation.technicals.technicals"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Volume Technicals -->
            <div [ngClass]="{'inactive': !policies.cancellation.volume_technicals.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Volume Technicals</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.cancellation.volume_technicals.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.cancellation.volume_technicals.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Volume -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'volume_technicals'"
                        [id]="'volume'" 
                        [value]="policies.cancellation.volume_technicals.volume"
                        [value2]="policies.cancellation.volume_technicals.volume_direction"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Technicals -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'volume_technicals'"
                        [id]="'technicals'" 
                        [disableable]="false"
                        [value]="policies.cancellation.volume_technicals.technicals"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Volume Open Interest -->
            <div [ngClass]="{'inactive': !policies.cancellation.volume_open_interest.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Volume Open Interest</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.cancellation.volume_open_interest.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.cancellation.volume_open_interest.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Volume -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'volume_open_interest'"
                        [id]="'volume'" 
                        [value]="policies.cancellation.volume_open_interest.volume"
                        [value2]="policies.cancellation.volume_open_interest.volume_direction"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Open Interest -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'volume_open_interest'"
                        [id]="'open_interest'" 
                        [value]="policies.cancellation.volume_open_interest.open_interest"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>
    
            <!-- Volume Long/Short Ratio -->
            <div [ngClass]="{'inactive': !policies.cancellation.volume_long_short_ratio.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Volume Long/Short Ratio</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.cancellation.volume_long_short_ratio.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.cancellation.volume_long_short_ratio.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Volume -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'volume_long_short_ratio'"
                        [id]="'volume'" 
                        [value]="policies.cancellation.volume_long_short_ratio.volume"
                        [value2]="policies.cancellation.volume_long_short_ratio.volume_direction"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Long/Short Ratio -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'volume_long_short_ratio'"
                        [id]="'long_short_ratio'" 
                        [value]="policies.cancellation.volume_long_short_ratio.long_short_ratio"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Technicals Open Interest -->
            <div [ngClass]="{'inactive': !policies.cancellation.technicals_open_interest.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Technicals Open Interest</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.cancellation.technicals_open_interest.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.cancellation.technicals_open_interest.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Technicals -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'technicals_open_interest'"
                        [id]="'technicals'" 
                        [disableable]="false"
                        [value]="policies.cancellation.technicals_open_interest.technicals"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Open Interest -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'technicals_open_interest'"
                        [id]="'open_interest'" 
                        [value]="policies.cancellation.technicals_open_interest.open_interest"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>
    
            <!-- Technicals Long/Short Ratio -->
            <div [ngClass]="{'inactive': !policies.cancellation.technicals_long_short_ratio.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Technicals Long/Short Ratio</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.cancellation.technicals_long_short_ratio.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.cancellation.technicals_long_short_ratio.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Technicals -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'technicals_long_short_ratio'"
                        [id]="'technicals'" 
                        [disableable]="false"
                        [value]="policies.cancellation.technicals_long_short_ratio.technicals"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Long/Short Ratio -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'technicals_long_short_ratio'"
                        [id]="'long_short_ratio'" 
                        [value]="policies.cancellation.technicals_long_short_ratio.long_short_ratio"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Open Interest Long/Short Ratio -->
            <div [ngClass]="{'inactive': !policies.cancellation.open_interest_long_short_ratio.enabled}">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5 class="truncate">Open Interest Long/Short Ratio</h5>
                    <span fxFlex></span>
                    <mat-slide-toggle 
                        [matTooltip]="policies.cancellation.open_interest_long_short_ratio.enabled ? 'Enabled': 'Disabled'" 
                        [(ngModel)]="policies.cancellation.open_interest_long_short_ratio.enabled"></mat-slide-toggle>
                </div>
                <div class="policy-items">
                    <!-- Open Interest -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'open_interest_long_short_ratio'"
                        [id]="'open_interest'" 
                        [value]="policies.cancellation.open_interest_long_short_ratio.open_interest"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>

                    <!-- Long/Short Ratio -->
                    <app-signal-policy-item 
                        class="policy-item" 
                        [side]="side" 
                        [category]="'cancellation'" 
                        [policyID]="'open_interest_long_short_ratio'"
                        [id]="'long_short_ratio'" 
                        [value]="policies.cancellation.open_interest_long_short_ratio.long_short_ratio"
                        [disableable]="false"
                        (valueChanged)="valueChanged($event)"></app-signal-policy-item>
                </div>
            </div>
        </div>



    </div>
</div>
