<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">{{side}} Policies</span>
        <span fxFlex></span>
        <button mat-icon-button (click)="displayTooltip()" matTooltip="More information"><mat-icon>question_mark</mat-icon></button>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="loader show-on-desktop"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
        <div class="section-loader show-on-mobile"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded && policies">
        <!-- Tabs Navigation-->
        <mat-tab-group [selectedIndex]="activeIndex" (selectedIndexChange)="activeIndex = $event" 
            mat-align-tabs="center" 
            mat-stretch-tabs  
            backgroundColor="primary">
            <mat-tab label="ISSUANCE"></mat-tab>
            <mat-tab label="CANCELLATION"></mat-tab>
        </mat-tab-group>

        <!-- Issuance Policies -->
        <div *ngIf="activeIndex == 0" class="padding">
            <!-- Prediction Model Strong Trend -->
            <div>
                <h5 class="truncate">Pred. Model Strong Trend</h5>
                <div *ngIf="side == 'LONG'" class="policy-items">
                    <div class="policy-item square-badge-success">
                        Trend Sum >= {{min_increase_sum ? min_increase_sum: 'min_increase_sum'}}
                    </div>
                    <div class="policy-item state-badge square-badge-success state" [matTooltip]="_ms.marketStates[1]">
                        <mat-icon svgIcon="arrow_trend_up"></mat-icon> Trend State +3<mat-icon class="caret" svgIcon="angle_up"></mat-icon>
                    </div>
                </div>
                <div *ngIf="side == 'SHORT'" class="policy-items">
                    <div class="policy-item square-badge-error">
                        Trend Sum <= {{min_decrease_sum ? min_decrease_sum: 'min_decrease_sum'}}
                    </div>
                    <div class="policy-item state-badge square-badge-error state" [matTooltip]="_ms.marketStates[-1]">
                        <mat-icon svgIcon="arrow_trend_down"></mat-icon> Trend State -3<mat-icon class="caret" svgIcon="angle_down"></mat-icon>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Prediction Model Strong Trend Reversal -->
            <div>
                <h5 class="truncate">Pred. Model Strong Trend Reversal</h5>
                <div *ngIf="side == 'LONG'" class="policy-items">
                    <div class="policy-item square-badge-success">
                        Trend Sum >= {{min_decrease_sum ? min_decrease_sum: 'min_decrease_sum'}}
                    </div>
                    <div class="policy-item state-badge square-badge-success" [matTooltip]="_ms.marketStates[2]">
                        <mat-icon svgIcon="arrow_turn_up"></mat-icon> Trend State +5<mat-icon class="caret" svgIcon="angle_up"></mat-icon>
                    </div>
                </div>
                <div *ngIf="side == 'SHORT'" class="policy-items">
                    <div class="policy-item square-badge-error">
                        Trend Sum <= {{min_increase_sum ? min_increase_sum: 'min_increase_sum'}}
                    </div>
                    <div class="policy-item state-badge square-badge-error" [matTooltip]="_ms.marketStates[-2]">
                        <mat-icon svgIcon="arrow_turn_down"></mat-icon> Trend State -5<mat-icon class="caret" svgIcon="angle_down"></mat-icon>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Technicals -->
            <div>
                <h5 class="truncate">Technicals</h5>
                <div class="policy-items">
                    <div class="policy-item state-badge"
                        [matTooltip]="_ms.marketStates[policies.issuance.technicals.trend_intensity]"
                        [ngClass]="{
                            'square-badge-success': side == 'LONG',
                            'square-badge-error': side == 'SHORT',
                            'state': policies.issuance.technicals.trend_intensity == 1 || policies.issuance.technicals.trend_intensity == -1,
                            'stateless': policies.issuance.technicals.trend_intensity == 0
                        }">
                        <mat-icon [svgIcon]="_ms.icons[policies.issuance.technicals.trend_intensity]"></mat-icon> 
                        Trend State {{policies.issuance.technicals.trend_state > 0 ? '+': ''}}{{policies.issuance.technicals.trend_state}}<mat-icon class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.issuance.technicals.ta_30m]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.technicals.ta_30m > 0,
                            'square-badge-error': policies.issuance.technicals.ta_30m < 0,
                            'square-badge-neutral': policies.issuance.technicals.ta_30m == 0,
                            'state': policies.issuance.technicals.ta_30m == 1 || policies.issuance.technicals.ta_30m == -1,
                            'stateless': policies.issuance.technicals.ta_30m == 0
                        }">
                        ta_30m<mat-icon *ngIf="policies.issuance.technicals.ta_30m != 2 && policies.issuance.technicals.ta_30m != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.issuance.technicals.ta_1h]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.technicals.ta_1h > 0,
                            'square-badge-error': policies.issuance.technicals.ta_1h < 0,
                            'square-badge-neutral': policies.issuance.technicals.ta_1h == 0,
                            'state': policies.issuance.technicals.ta_1h == 1 || policies.issuance.technicals.ta_1h == -1,
                            'stateless': policies.issuance.technicals.ta_1h == 0
                        }">
                        ta_1h<mat-icon *ngIf="policies.issuance.technicals.ta_1h != 2 && policies.issuance.technicals.ta_1h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.issuance.technicals.ta_2h]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.technicals.ta_2h > 0,
                            'square-badge-error': policies.issuance.technicals.ta_2h < 0,
                            'square-badge-neutral': policies.issuance.technicals.ta_2h == 0,
                            'state': policies.issuance.technicals.ta_2h == 1 || policies.issuance.technicals.ta_2h == -1,
                            'stateless': policies.issuance.technicals.ta_2h == 0
                        }">
                        ta_2h<mat-icon *ngIf="policies.issuance.technicals.ta_2h != 2 && policies.issuance.technicals.ta_2h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.issuance.technicals.ta_4h]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.technicals.ta_4h > 0,
                            'square-badge-error': policies.issuance.technicals.ta_4h < 0,
                            'square-badge-neutral': policies.issuance.technicals.ta_4h == 0,
                            'state': policies.issuance.technicals.ta_4h == 1 || policies.issuance.technicals.ta_4h == -1,
                            'stateless': policies.issuance.technicals.ta_4h == 0
                        }">
                        ta_4h<mat-icon *ngIf="policies.issuance.technicals.ta_4h != 2 && policies.issuance.technicals.ta_4h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.issuance.technicals.ta_1d]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.technicals.ta_1d > 0,
                            'square-badge-error': policies.issuance.technicals.ta_1d < 0,
                            'square-badge-neutral': policies.issuance.technicals.ta_1d == 0,
                            'state': policies.issuance.technicals.ta_1d == 1 || policies.issuance.technicals.ta_1d == -1,
                            'stateless': policies.issuance.technicals.ta_1d == 0
                        }">
                        ta_1d<mat-icon *ngIf="policies.issuance.technicals.ta_1d != 2 && policies.issuance.technicals.ta_1d != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Technicals Open Interest -->
            <div>
                <h5 class="truncate">Technicals Open Interest</h5>
                <div class="policy-items">
                    <div class="policy-item state-badge"
                        [matTooltip]="_ms.marketStates[policies.issuance.technicals_open_interest.trend_intensity]"
                        [ngClass]="{
                            'square-badge-success': side == 'LONG',
                            'square-badge-error': side == 'SHORT',
                            'state': policies.issuance.technicals_open_interest.trend_intensity == 1 || policies.issuance.technicals_open_interest.trend_intensity == -1,
                            'stateless': policies.issuance.technicals_open_interest.trend_intensity == 0
                        }">
                        <mat-icon [svgIcon]="_ms.icons[policies.issuance.technicals_open_interest.trend_intensity]"></mat-icon> 
                        Trend State {{policies.issuance.technicals_open_interest.trend_state > 0 ? '+': ''}}{{policies.issuance.technicals_open_interest.trend_state}}<mat-icon class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.issuance.technicals_open_interest.ta_2h]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.technicals_open_interest.ta_2h > 0,
                            'square-badge-error': policies.issuance.technicals_open_interest.ta_2h < 0,
                            'square-badge-neutral': policies.issuance.technicals_open_interest.ta_2h == 0,
                            'state': policies.issuance.technicals_open_interest.ta_2h == 1 || policies.issuance.technicals_open_interest.ta_2h == -1,
                            'stateless': policies.issuance.technicals_open_interest.ta_2h == 0
                        }">
                        ta_2h<mat-icon *ngIf="policies.issuance.technicals_open_interest.ta_2h != 2 && policies.issuance.technicals_open_interest.ta_2h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.issuance.technicals_open_interest.ta_4h]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.technicals_open_interest.ta_4h > 0,
                            'square-badge-error': policies.issuance.technicals_open_interest.ta_4h < 0,
                            'square-badge-neutral': policies.issuance.technicals_open_interest.ta_4h == 0,
                            'state': policies.issuance.technicals_open_interest.ta_4h == 1 || policies.issuance.technicals_open_interest.ta_4h == -1,
                            'stateless': policies.issuance.technicals_open_interest.ta_4h == 0
                        }">
                        ta_4h<mat-icon *ngIf="policies.issuance.technicals_open_interest.ta_4h != 2 && policies.issuance.technicals_open_interest.ta_4h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.issuance.technicals_open_interest.ta_1d]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.technicals_open_interest.ta_1d > 0,
                            'square-badge-error': policies.issuance.technicals_open_interest.ta_1d < 0,
                            'square-badge-neutral': policies.issuance.technicals_open_interest.ta_1d == 0,
                            'state': policies.issuance.technicals_open_interest.ta_1d == 1 || policies.issuance.technicals_open_interest.ta_1d == -1,
                            'stateless': policies.issuance.technicals_open_interest.ta_1d == 0
                        }">
                        ta_1d<mat-icon *ngIf="policies.issuance.technicals_open_interest.ta_1d != 2 && policies.issuance.technicals_open_interest.ta_1d != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item state-badge"
                        [matTooltip]="_ms.marketStates[policies.issuance.technicals_open_interest.open_interest]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.technicals_open_interest.open_interest > 0,
                            'square-badge-error': policies.issuance.technicals_open_interest.open_interest < 0,
                            'square-badge-neutral': policies.issuance.technicals_open_interest.open_interest == 0,
                            'state': policies.issuance.technicals_open_interest.open_interest == 1 || policies.issuance.technicals_open_interest.open_interest == -1,
                            'stateless': policies.issuance.technicals_open_interest.open_interest == 0
                        }">
                        <mat-icon [svgIcon]="_ms.icons[policies.issuance.technicals_open_interest.open_interest]"></mat-icon> Open Interest<mat-icon *ngIf="policies.issuance.technicals_open_interest.open_interest != 2 && policies.issuance.technicals_open_interest.open_interest != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                </div>
            </div>

            <div class="divider"></div>
    
            <!-- Technicals Long/Short Ratio -->
            <div>
                <h5 class="truncate">Technicals Long/Short Ratio</h5>
                <div class="policy-items">
                    <div class="policy-item state-badge"
                        [matTooltip]="_ms.marketStates[policies.issuance.technicals_long_short_ratio.trend_intensity]"
                        [ngClass]="{
                            'square-badge-success': side == 'LONG',
                            'square-badge-error': side == 'SHORT',
                            'state': policies.issuance.technicals_long_short_ratio.trend_intensity == 1 || policies.issuance.technicals_long_short_ratio.trend_intensity == -1,
                            'stateless': policies.issuance.technicals_long_short_ratio.trend_intensity == 0
                        }">
                        <mat-icon [svgIcon]="_ms.icons[policies.issuance.technicals_long_short_ratio.trend_intensity]"></mat-icon> 
                        Trend State {{policies.issuance.technicals_long_short_ratio.trend_state > 0 ? '+': ''}}{{policies.issuance.technicals_long_short_ratio.trend_state}}<mat-icon class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.issuance.technicals_long_short_ratio.ta_2h]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.technicals_long_short_ratio.ta_2h > 0,
                            'square-badge-error': policies.issuance.technicals_long_short_ratio.ta_2h < 0,
                            'square-badge-neutral': policies.issuance.technicals_long_short_ratio.ta_2h == 0,
                            'state': policies.issuance.technicals_long_short_ratio.ta_2h == 1 || policies.issuance.technicals_long_short_ratio.ta_2h == -1,
                            'stateless': policies.issuance.technicals_long_short_ratio.ta_2h == 0
                        }">
                        ta_2h<mat-icon *ngIf="policies.issuance.technicals_long_short_ratio.ta_2h != 2 && policies.issuance.technicals_long_short_ratio.ta_2h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.issuance.technicals_long_short_ratio.ta_4h]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.technicals_long_short_ratio.ta_4h > 0,
                            'square-badge-error': policies.issuance.technicals_long_short_ratio.ta_4h < 0,
                            'square-badge-neutral': policies.issuance.technicals_long_short_ratio.ta_4h == 0,
                            'state': policies.issuance.technicals_long_short_ratio.ta_4h == 1 || policies.issuance.technicals_long_short_ratio.ta_4h == -1,
                            'stateless': policies.issuance.technicals_long_short_ratio.ta_4h == 0
                        }">
                        ta_4h<mat-icon *ngIf="policies.issuance.technicals_long_short_ratio.ta_4h != 2 && policies.issuance.technicals_long_short_ratio.ta_4h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.issuance.technicals_long_short_ratio.ta_1d]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.technicals_long_short_ratio.ta_1d > 0,
                            'square-badge-error': policies.issuance.technicals_long_short_ratio.ta_1d < 0,
                            'square-badge-neutral': policies.issuance.technicals_long_short_ratio.ta_1d == 0,
                            'state': policies.issuance.technicals_long_short_ratio.ta_1d == 1 || policies.issuance.technicals_long_short_ratio.ta_1d == -1,
                            'stateless': policies.issuance.technicals_long_short_ratio.ta_1d == 0
                        }">
                        ta_1d<mat-icon *ngIf="policies.issuance.technicals_long_short_ratio.ta_1d != 2 && policies.issuance.technicals_long_short_ratio.ta_1d != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item state-badge"
                        [matTooltip]="_ms.marketStates[policies.issuance.technicals_long_short_ratio.long_short_ratio]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.technicals_long_short_ratio.long_short_ratio > 0,
                            'square-badge-error': policies.issuance.technicals_long_short_ratio.long_short_ratio < 0,
                            'square-badge-neutral': policies.issuance.technicals_long_short_ratio.long_short_ratio == 0,
                            'state': policies.issuance.technicals_long_short_ratio.long_short_ratio == 1 || policies.issuance.technicals_long_short_ratio.long_short_ratio == -1,
                            'stateless': policies.issuance.technicals_long_short_ratio.long_short_ratio == 0
                        }">
                        <mat-icon [svgIcon]="_ms.icons[policies.issuance.technicals_long_short_ratio.long_short_ratio]"></mat-icon> Long/Short Ratio<mat-icon *ngIf="policies.issuance.technicals_long_short_ratio.long_short_ratio != 2 && policies.issuance.technicals_long_short_ratio.long_short_ratio != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Open Interest Long/Short Ratio -->
            <div>
                <h5 class="truncate">Open Interest Long/Short Ratio</h5>
                <div class="policy-items">
                    <div class="policy-item state-badge"
                        [matTooltip]="_ms.marketStates[policies.issuance.open_interest_long_short_ratio.trend_intensity]"
                        [ngClass]="{
                            'square-badge-success': side == 'LONG',
                            'square-badge-error': side == 'SHORT',
                            'state': policies.issuance.open_interest_long_short_ratio.trend_intensity == 1 || policies.issuance.open_interest_long_short_ratio.trend_intensity == -1,
                            'stateless': policies.issuance.open_interest_long_short_ratio.trend_intensity == 0
                        }">
                        <mat-icon [svgIcon]="_ms.icons[policies.issuance.open_interest_long_short_ratio.trend_intensity]"></mat-icon> 
                        Trend State {{policies.issuance.open_interest_long_short_ratio.trend_state > 0 ? '+': ''}}{{policies.issuance.open_interest_long_short_ratio.trend_state}}<mat-icon class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item state-badge"
                        [matTooltip]="_ms.marketStates[policies.issuance.open_interest_long_short_ratio.open_interest]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.open_interest_long_short_ratio.open_interest > 0,
                            'square-badge-error': policies.issuance.open_interest_long_short_ratio.open_interest < 0,
                            'square-badge-neutral': policies.issuance.open_interest_long_short_ratio.open_interest == 0,
                            'state': policies.issuance.open_interest_long_short_ratio.open_interest == 1 || policies.issuance.open_interest_long_short_ratio.open_interest == -1,
                            'stateless': policies.issuance.open_interest_long_short_ratio.open_interest == 0
                        }">
                        <mat-icon [svgIcon]="_ms.icons[policies.issuance.open_interest_long_short_ratio.open_interest]"></mat-icon> Open Interest<mat-icon *ngIf="policies.issuance.open_interest_long_short_ratio.open_interest != 2 && policies.issuance.open_interest_long_short_ratio.open_interest != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                    <div class="policy-item state-badge"
                        [matTooltip]="_ms.marketStates[policies.issuance.open_interest_long_short_ratio.long_short_ratio]"
                        [ngClass]="{
                            'square-badge-success': policies.issuance.open_interest_long_short_ratio.long_short_ratio > 0,
                            'square-badge-error': policies.issuance.open_interest_long_short_ratio.long_short_ratio < 0,
                            'square-badge-neutral': policies.issuance.open_interest_long_short_ratio.long_short_ratio == 0,
                            'state': policies.issuance.open_interest_long_short_ratio.long_short_ratio == 1 || policies.issuance.open_interest_long_short_ratio.long_short_ratio == -1,
                            'stateless': policies.issuance.open_interest_long_short_ratio.long_short_ratio == 0
                        }">
                        <mat-icon [svgIcon]="_ms.icons[policies.issuance.open_interest_long_short_ratio.long_short_ratio]"></mat-icon> Long/Short Ratio<mat-icon *ngIf="policies.issuance.open_interest_long_short_ratio.long_short_ratio != 2 && policies.issuance.open_interest_long_short_ratio.long_short_ratio != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                </div>
            </div>
        </div>


        <!-- Cancellation Policies -->
        <div *ngIf="activeIndex == 1" class="padding">
            <!-- Window -->
            <div>
                <h5 class="truncate">Window</h5>
                <div class="policy-items">
                    <div class="policy-item state-badge"
                        [matTooltip]="_ms.marketStates[policies.cancellation.window.window]"
                        [ngClass]="{
                            'square-badge-success': side == 'LONG',
                            'square-badge-error': side == 'SHORT',
                            'state': policies.cancellation.window.window == 1 || policies.cancellation.window.window == -1,
                            'stateless': policies.cancellation.window.window == 0
                        }">
                        <mat-icon [svgIcon]="_ms.icons[policies.cancellation.window.window]"></mat-icon> Window<mat-icon *ngIf="policies.cancellation.window.window != 2 && policies.cancellation.window.window != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Technicals -->
            <div>
                <h5 class="truncate">Technicals</h5>
                <div class="policy-items">
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.cancellation.technicals.ta_30m]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.technicals.ta_30m > 0,
                            'square-badge-error': policies.cancellation.technicals.ta_30m < 0,
                            'square-badge-neutral': policies.cancellation.technicals.ta_30m == 0,
                            'state': policies.cancellation.technicals.ta_30m == 1 || policies.cancellation.technicals.ta_30m == -1,
                            'stateless': policies.cancellation.technicals.ta_30m == 0
                        }">
                        ta_30m<mat-icon *ngIf="policies.cancellation.technicals.ta_30m != 2 && policies.cancellation.technicals.ta_30m != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.cancellation.technicals.ta_1h]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.technicals.ta_1h > 0,
                            'square-badge-error': policies.cancellation.technicals.ta_1h < 0,
                            'square-badge-neutral': policies.cancellation.technicals.ta_1h == 0,
                            'state': policies.cancellation.technicals.ta_1h == 1 || policies.cancellation.technicals.ta_1h == -1,
                            'stateless': policies.cancellation.technicals.ta_1h == 0
                        }">
                        ta_1h<mat-icon *ngIf="policies.cancellation.technicals.ta_1h != 2 && policies.cancellation.technicals.ta_1h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.cancellation.technicals.ta_2h]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.technicals.ta_2h > 0,
                            'square-badge-error': policies.cancellation.technicals.ta_2h < 0,
                            'square-badge-neutral': policies.cancellation.technicals.ta_2h == 0,
                            'state': policies.cancellation.technicals.ta_2h == 1 || policies.cancellation.technicals.ta_2h == -1,
                            'stateless': policies.cancellation.technicals.ta_2h == 0
                        }">
                        ta_2h<mat-icon *ngIf="policies.cancellation.technicals.ta_2h != 2 && policies.cancellation.technicals.ta_2h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.cancellation.technicals.ta_4h]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.technicals.ta_4h > 0,
                            'square-badge-error': policies.cancellation.technicals.ta_4h < 0,
                            'square-badge-neutral': policies.cancellation.technicals.ta_4h == 0,
                            'state': policies.cancellation.technicals.ta_4h == 1 || policies.cancellation.technicals.ta_4h == -1,
                            'stateless': policies.cancellation.technicals.ta_4h == 0
                        }">
                        ta_4h<mat-icon *ngIf="policies.cancellation.technicals.ta_4h != 2 && policies.cancellation.technicals.ta_4h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.cancellation.technicals.ta_1d]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.technicals.ta_1d > 0,
                            'square-badge-error': policies.cancellation.technicals.ta_1d < 0,
                            'square-badge-neutral': policies.cancellation.technicals.ta_1d == 0,
                            'state': policies.cancellation.technicals.ta_1d == 1 || policies.cancellation.technicals.ta_1d == -1,
                            'stateless': policies.cancellation.technicals.ta_1d == 0
                        }">
                        ta_1d<mat-icon *ngIf="policies.cancellation.technicals.ta_1d != 2 && policies.cancellation.technicals.ta_1d != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Technicals Open Interest -->
            <div>
                <h5 class="truncate">Technicals Open Interest</h5>
                <div class="policy-items">
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.cancellation.technicals_open_interest.ta_2h]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.technicals_open_interest.ta_2h > 0,
                            'square-badge-error': policies.cancellation.technicals_open_interest.ta_2h < 0,
                            'square-badge-neutral': policies.cancellation.technicals_open_interest.ta_2h == 0,
                            'state': policies.cancellation.technicals_open_interest.ta_2h == 1 || policies.cancellation.technicals_open_interest.ta_2h == -1,
                            'stateless': policies.cancellation.technicals_open_interest.ta_2h == 0
                        }">
                        ta_2h<mat-icon *ngIf="policies.cancellation.technicals_open_interest.ta_2h != 2 && policies.cancellation.technicals_open_interest.ta_2h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.cancellation.technicals_open_interest.ta_4h]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.technicals_open_interest.ta_4h > 0,
                            'square-badge-error': policies.cancellation.technicals_open_interest.ta_4h < 0,
                            'square-badge-neutral': policies.cancellation.technicals_open_interest.ta_4h == 0,
                            'state': policies.cancellation.technicals_open_interest.ta_4h == 1 || policies.cancellation.technicals_open_interest.ta_4h == -1,
                            'stateless': policies.cancellation.technicals_open_interest.ta_4h == 0
                        }">
                        ta_4h<mat-icon *ngIf="policies.cancellation.technicals_open_interest.ta_4h != 2 && policies.cancellation.technicals_open_interest.ta_4h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.cancellation.technicals_open_interest.ta_1d]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.technicals_open_interest.ta_1d > 0,
                            'square-badge-error': policies.cancellation.technicals_open_interest.ta_1d < 0,
                            'square-badge-neutral': policies.cancellation.technicals_open_interest.ta_1d == 0,
                            'state': policies.cancellation.technicals_open_interest.ta_1d == 1 || policies.cancellation.technicals_open_interest.ta_1d == -1,
                            'stateless': policies.cancellation.technicals_open_interest.ta_1d == 0
                        }">
                        ta_1d<mat-icon *ngIf="policies.cancellation.technicals_open_interest.ta_1d != 2 && policies.cancellation.technicals_open_interest.ta_1d != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                    <div class="policy-item state-badge"
                        [matTooltip]="_ms.marketStates[policies.cancellation.technicals_open_interest.open_interest]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.technicals_open_interest.open_interest > 0,
                            'square-badge-error': policies.cancellation.technicals_open_interest.open_interest < 0,
                            'square-badge-neutral': policies.cancellation.technicals_open_interest.open_interest == 0,
                            'state': policies.cancellation.technicals_open_interest.open_interest == 1 || policies.cancellation.technicals_open_interest.open_interest == -1,
                            'stateless': policies.cancellation.technicals_open_interest.open_interest == 0
                        }">
                        <mat-icon [svgIcon]="_ms.icons[policies.cancellation.technicals_open_interest.open_interest]"></mat-icon> Open Interest<mat-icon *ngIf="policies.cancellation.technicals_open_interest.open_interest != 2 && policies.cancellation.technicals_open_interest.open_interest != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                </div>
            </div>

            <div class="divider"></div>
    
            <!-- Technicals Long/Short Ratio -->
            <div>
                <h5 class="truncate">Technicals Long/Short Ratio</h5>
                <div class="policy-items">
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.cancellation.technicals_long_short_ratio.ta_2h]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.technicals_long_short_ratio.ta_2h > 0,
                            'square-badge-error': policies.cancellation.technicals_long_short_ratio.ta_2h < 0,
                            'square-badge-neutral': policies.cancellation.technicals_long_short_ratio.ta_2h == 0,
                            'state': policies.cancellation.technicals_long_short_ratio.ta_2h == 1 || policies.cancellation.technicals_long_short_ratio.ta_2h == -1,
                            'stateless': policies.cancellation.technicals_long_short_ratio.ta_2h == 0
                        }">
                        ta_2h<mat-icon *ngIf="policies.cancellation.technicals_long_short_ratio.ta_2h != 2 && policies.cancellation.technicals_long_short_ratio.ta_2h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.cancellation.technicals_long_short_ratio.ta_4h]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.technicals_long_short_ratio.ta_4h > 0,
                            'square-badge-error': policies.cancellation.technicals_long_short_ratio.ta_4h < 0,
                            'square-badge-neutral': policies.cancellation.technicals_long_short_ratio.ta_4h == 0,
                            'state': policies.cancellation.technicals_long_short_ratio.ta_4h == 1 || policies.cancellation.technicals_long_short_ratio.ta_4h == -1,
                            'stateless': policies.cancellation.technicals_long_short_ratio.ta_4h == 0
                        }">
                        ta_4h<mat-icon *ngIf="policies.cancellation.technicals_long_short_ratio.ta_4h != 2 && policies.cancellation.technicals_long_short_ratio.ta_4h != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                    <div class="policy-item"
                        [matTooltip]="_ms.taStates[policies.cancellation.technicals_long_short_ratio.ta_1d]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.technicals_long_short_ratio.ta_1d > 0,
                            'square-badge-error': policies.cancellation.technicals_long_short_ratio.ta_1d < 0,
                            'square-badge-neutral': policies.cancellation.technicals_long_short_ratio.ta_1d == 0,
                            'state': policies.cancellation.technicals_long_short_ratio.ta_1d == 1 || policies.cancellation.technicals_long_short_ratio.ta_1d == -1,
                            'stateless': policies.cancellation.technicals_long_short_ratio.ta_1d == 0
                        }">
                        ta_1d<mat-icon *ngIf="policies.cancellation.technicals_long_short_ratio.ta_1d != 2 && policies.cancellation.technicals_long_short_ratio.ta_1d != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                    <div class="policy-item state-badge"
                        [matTooltip]="_ms.marketStates[policies.cancellation.technicals_long_short_ratio.long_short_ratio]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.technicals_long_short_ratio.long_short_ratio > 0,
                            'square-badge-error': policies.cancellation.technicals_long_short_ratio.long_short_ratio < 0,
                            'square-badge-neutral': policies.cancellation.technicals_long_short_ratio.long_short_ratio == 0,
                            'state': policies.cancellation.technicals_long_short_ratio.long_short_ratio == 1 || policies.cancellation.technicals_long_short_ratio.long_short_ratio == -1,
                            'stateless': policies.cancellation.technicals_long_short_ratio.long_short_ratio == 0
                        }">
                        <mat-icon [svgIcon]="_ms.icons[policies.cancellation.technicals_long_short_ratio.long_short_ratio]"></mat-icon> Long/Short Ratio<mat-icon *ngIf="policies.cancellation.technicals_long_short_ratio.long_short_ratio != 2 && policies.cancellation.technicals_long_short_ratio.long_short_ratio != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Open Interest Long/Short Ratio -->
            <div>
                <h5 class="truncate">Open Interest Long/Short Ratio</h5>
                <div class="policy-items">
                    <div class="policy-item state-badge"
                        [matTooltip]="_ms.marketStates[policies.cancellation.open_interest_long_short_ratio.open_interest]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.open_interest_long_short_ratio.open_interest > 0,
                            'square-badge-error': policies.cancellation.open_interest_long_short_ratio.open_interest < 0,
                            'square-badge-neutral': policies.cancellation.open_interest_long_short_ratio.open_interest == 0,
                            'state': policies.cancellation.open_interest_long_short_ratio.open_interest == 1 || policies.cancellation.open_interest_long_short_ratio.open_interest == -1,
                            'stateless': policies.cancellation.open_interest_long_short_ratio.open_interest == 0
                        }">
                        <mat-icon [svgIcon]="_ms.icons[policies.cancellation.open_interest_long_short_ratio.open_interest]"></mat-icon> Open Interest<mat-icon *ngIf="policies.cancellation.open_interest_long_short_ratio.open_interest != 2 && policies.cancellation.open_interest_long_short_ratio.open_interest != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                    <div class="policy-item state-badge"
                        [matTooltip]="_ms.marketStates[policies.cancellation.open_interest_long_short_ratio.long_short_ratio]"
                        [ngClass]="{
                            'square-badge-success': policies.cancellation.open_interest_long_short_ratio.long_short_ratio > 0,
                            'square-badge-error': policies.cancellation.open_interest_long_short_ratio.long_short_ratio < 0,
                            'square-badge-neutral': policies.cancellation.open_interest_long_short_ratio.long_short_ratio == 0,
                            'state': policies.cancellation.open_interest_long_short_ratio.long_short_ratio == 1 || policies.cancellation.open_interest_long_short_ratio.long_short_ratio == -1,
                            'stateless': policies.cancellation.open_interest_long_short_ratio.long_short_ratio == 0
                        }">
                        <mat-icon [svgIcon]="_ms.icons[policies.cancellation.open_interest_long_short_ratio.long_short_ratio]"></mat-icon> Long/Short Ratio<mat-icon *ngIf="policies.cancellation.open_interest_long_short_ratio.long_short_ratio != 2 && policies.cancellation.open_interest_long_short_ratio.long_short_ratio != -2" class="caret" svgIcon="{{side == 'LONG' ? 'angle_down': 'angle_up'}}"></mat-icon>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
