@use '@angular/material' as mat;




.component {
    padding:15px;
    h4 { margin:0}
    p {margin:0}
    .keyzone {
        margin: 15px 0 15px 0;
        padding:10px;
        background: #FFFFFF;
    }
    .active { 
        @extend .keyzone;
        @include mat.elevation(6);
        border-left:5px solid #000000;
    }
    .above {
        @extend .keyzone;
        @include mat.elevation(3);
        border-left:5px solid var(--success-color);
    }
    .above:first-child { margin-top:0!important;}
    .below {
        @extend .keyzone;
        @include mat.elevation(3);
        border-left:5px solid var(--error-color);
    }
    .below:last-child { margin-bottom:0!important;}

    .m-right { margin-right:5px;}

}