<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()" [disabled]="!loaded"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">Liquidity</span>
        <span fxFlex></span>        
        <app-refresh-button *ngIf="loaded" style="display: none;" (refresh)="loadLiquidityData()" [intervalSeconds]="15"></app-refresh-button>
        <button mat-icon-button (click)="displayInfoTooltip()" [disabled]="!loaded" matTooltip="More information"><mat-icon class="info-icon" svgIcon="info"></mat-icon></button>
        <button mat-icon-button (click)="displayTooltip()" [disabled]="!loaded" matTooltip="What is this?"><mat-icon>question_mark</mat-icon></button>
        <button mat-icon-button class="show-on-desktop" (click)="close()" [disabled]="!loaded"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="section-loader"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded && state">
        <!-- Tabs Navigation-->
        <mat-tab-group [selectedIndex]="activeTab" 
            (selectedIndexChange)="activeTab = $event"
            mat-stretch-tabs 
            backgroundColor="primary">
            <mat-tab><ng-template mat-tab-label><mat-icon>dashboard</mat-icon><span class="show-on-desktop" style="margin-left:2px;">Summary</span></ng-template></mat-tab>
            <mat-tab><ng-template mat-tab-label><mat-icon>bar_chart</mat-icon><span class="show-on-desktop" style="margin-left:2px;">Peaks</span></ng-template></mat-tab>
            <mat-tab><ng-template mat-tab-label><mat-icon>move_down</mat-icon><span class="show-on-desktop" style="margin-left:2px;">Asks</span></ng-template></mat-tab>
            <mat-tab><ng-template mat-tab-label><mat-icon>move_up</mat-icon><span class="show-on-desktop" style="margin-left:2px;">Bids</span></ng-template></mat-tab>
        </mat-tab-group>

        <!-- Summary -->
        <div *ngIf="activeTab == 0" class="padding" style="overflow: hidden">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center start" [ngClass]="{'margin-top-x2': layout == 'desktop'}">
                <!-- Summary -->
                <div fxFlex class="full-width">

                    <!-- Liq. Distribution -->
                    <div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <h6>Liq. Distribution</h6>
                            <span fxFlex></span>
                            <div class="square-badge">{{state.a.t + state.b.t | number: '1.0-0'}} BTC</div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" class="full-width">
                            <apx-chart
                                [series]="liqDistribution.series"
                                [chart]="liqDistribution.chart"
                                [labels]="liqDistribution.labels"
                                [colors]="liqDistribution.colors"
                                [legend]="liqDistribution.legend"
                                [responsive]="liqDistribution.responsive"
                            ></apx-chart>
                        </div>
                    </div>
                    
                    <div class="divider show-on-mobile"></div>

                    <!-- Bid Liquidity Power -->
                    <div [ngClass]="{'margin-top-x4': layout == 'desktop'}">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <h6>Bid Liq. Power</h6>
                            <span fxFlex></span>
                            <div [ngClass]="{
                                'square-badge-success': state.blp >= 55,
                                'square-badge-error': state.blp <= 45,
                                'square-badge-neutral': state.blp > 45 && state.blp < 55,
                                'weak-state':   (state.blp >= 55 && state.blp < 75) || 
                                                (state.blp < 45 && state.blp > 25) ||
                                                state.blp > 45 && state.blp < 55
                            }">{{state.blp | number: '1.0-2'}}%</div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" class="full-width">
                            <apx-chart
                                [series]="bidLiqPower.series"
                                [chart]="bidLiqPower.chart"
                                [plotOptions]="bidLiqPower.plotOptions"
                                [xaxis]="bidLiqPower.xaxis"
                                [yaxis]="bidLiqPower.yaxis"
                                [dataLabels]="bidLiqPower.dataLabels"
                                [colors]="bidLiqPower.colors"
                                [grid]="bidLiqPower.grid"
                                [legend]="bidLiqPower.legend"
                            ></apx-chart>
                        </div>
                    </div>
                </div>

                <span *ngIf="layout=='desktop'" fxFlex="10"></span>

                <!-- Liquidity Levels -->
                <div fxFlex class="full-width">
                    <!-- Asks -->
                    <div class="divider show-on-mobile"></div>
                    <div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <h6>Asks</h6>
                            <span fxFlex></span>
                            <div class="square-badge-error">{{state.a.l.length}}</div>
                        </div>
                        
                        <apx-chart
                            [series]="askConcentration.series"
                            [chart]="askConcentration.chart"
                            [plotOptions]="askConcentration.plotOptions"
                            [xaxis]="askConcentration.xaxis"
                            [yaxis]="askConcentration.yaxis"
                            [dataLabels]="askConcentration.dataLabels"
                            [colors]="askConcentration.colors"
                            [grid]="askConcentration.grid"
                            [legend]="askConcentration.legend"
                        ></apx-chart>
                    </div>

                    <div class="divider show-on-mobile"></div>

                    <!-- Bids -->
                    <div [ngClass]="{'margin-top-x4': layout == 'desktop'}">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <h6>Bids</h6>
                            <span fxFlex></span>
                            <div class="square-badge-success">{{state.b.l.length}}</div>
                        </div>
                        
                        <apx-chart
                            [series]="bidConcentration.series"
                            [chart]="bidConcentration.chart"
                            [plotOptions]="bidConcentration.plotOptions"
                            [xaxis]="bidConcentration.xaxis"
                            [yaxis]="bidConcentration.yaxis"
                            [dataLabels]="bidConcentration.dataLabels"
                            [colors]="bidConcentration.colors"
                            [grid]="bidConcentration.grid"
                            [legend]="bidConcentration.legend"
                        ></apx-chart>
                    </div>
                </div>
            </div>
        </div>

        <!-- Summary -->
        <div *ngIf="activeTab == 1" class="padding" style="overflow: hidden">
            <apx-chart
                [series]="peaks.series"
                [chart]="peaks.chart"
                [dataLabels]="peaks.dataLabels"
                [xaxis]="peaks.xaxis"
                [yaxis]="peaks.yaxis"
                [stroke]="peaks.stroke"
                [annotations]="peaks.annotations"
            ></apx-chart>
        </div>

        <!-- Asks -->
        <div *ngIf="activeTab == 2" class="padding" style="overflow: hidden">
            <apx-chart
                [series]="asks.series"
                [chart]="asks.chart"
                [dataLabels]="asks.dataLabels"
                [xaxis]="asks.xaxis"
                [yaxis]="asks.yaxis"
                [annotations]="asks.annotations"
            ></apx-chart>
        </div>

        <!-- Bids -->
        <div *ngIf="activeTab == 3" class="padding" style="overflow: hidden">
            <apx-chart
                [series]="bids.series"
                [chart]="bids.chart"
                [dataLabels]="bids.dataLabels"
                [xaxis]="bids.xaxis"
                [yaxis]="bids.yaxis"
                [annotations]="bids.annotations"
            ></apx-chart>
        </div>
    </div>
</div>
