
.component {


    h3{ margin:0; padding:0}
    p {margin:0}

    .technical-analysis {
        padding:0!important;
        h3 {padding: 15px 0 15px 15px;}
        .table{
            tr td:first-child { text-align: left!important;}
        }
    }

    .data-container {
        max-width:100%;
        overflow-x:auto;

        .table {
            td {text-align: center;}
            th {text-align: center;}
        }
    }

    .summary-section {
        padding:15px;
        .margin-top {margin-top:20px;}

    }

    .data-section {
        padding:15px;


    }
}














/* Responsiveness */


/* mobile: sm & xs */
@media only screen and (max-width: 959px) {
    .data-section {
        padding:0px!important;
    }
    .technical-analysis h3 {padding:0px!important;}
}



/* desktop: md */
@media only screen and (min-width: 960px) {

}