<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate" *ngIf="trade.ps == 'LONG'">{{trade.s == 'BUY' ? 'Long Open': 'Long Close'}}</span>
        <span class="truncate" *ngIf="trade.ps == 'SHORT'">{{trade.s == 'SELL' ? 'Short Open': 'Short Close'}}</span>
        <span fxFlex></span>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Container -->
    <div class="fadeIn padding">
        <!-- ID -->
        <div class="row" fxLayout="row" fxLayoutAlign="start center">
            <p class="truncate light-text">ID</p>
            <span fxFlex></span>
            <p matTooltip="TRADEID_ORDERID">{{trade.id}}</p>
        </div>

        <!-- Date -->
        <div class="row" fxLayout="row" fxLayoutAlign="start center">
            <p class="truncate light-text">Date</p>
            <span fxFlex></span>
            <p matTooltip="The date in which the trade was executed">{{trade.t | date: 'short'}}</p>
        </div>

        <!-- Price -->
        <div class="row" fxLayout="row" fxLayoutAlign="start center">
            <p class="truncate light-text">Price</p>
            <span fxFlex></span>
            <p matTooltip="The average price the trade was executed at">{{trade.p | currency}}</p>
        </div>

        <!-- Amount -->
        <div class="row" fxLayout="row" fxLayoutAlign="start center">
            <p class="truncate light-text">Amount</p>
            <span fxFlex></span>
            <div matTooltip="The total amount traded" class="align-right">
                <p>{{trade.qty | number: '1.0-3'}} BTC</p>
                <p class="light-text ts-s">{{trade.qqty | number: '1.0-2'}} USDT</p>
            </div>
        </div>

        <!-- Fee -->
        <div class="row" fxLayout="row" fxLayoutAlign="start center">
            <p class="truncate light-text">Fee</p>
            <span fxFlex></span>
            <p matTooltip="The total fee charged by the exchange">{{trade.c | currency}}</p>
        </div>

        <!-- Realized PNL -->
        <div class="row" fxLayout="row" fxLayoutAlign="start center">
            <p class="truncate light-text">Realized PNL</p>
            <span fxFlex></span>
            <p matTooltip="The total realized PNL"
                [ngClass]="{
                    'success-color': trade.rpnl > 0,
                    'error-color': trade.rpnl < 0,
                    'light-text': trade.rpnl == 0
                }">
                <strong>{{trade.rpnl > 0 ? '+': ''}}{{trade.rpnl | currency}}</strong>
            </p>
        </div>
    </div>
</div>
