<!-- Header -->
<mat-toolbar class="secondary-header">
    <div fxLayout="row" fxLayoutAlign="center center">
        <span>Price Chart</span>
        <span fxFlex></span>
        <button mat-icon-button *ngIf="loaded" (click)="refresh()"><mat-icon>refresh</mat-icon></button>
        <button mat-icon-button *ngIf="loaded" (click)="updateConfig()"><mat-icon>tune</mat-icon></button>
    </div>
</mat-toolbar>


<!-- Loader -->
<div *ngIf="!loaded" class="section-loader">
    <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
</div>


<!-- Section Content -->
<div class="fadeIn" *ngIf="loaded">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex>
            <div class="padding" *ngIf="rawCandlesticks">
                <app-candlestick-chart [data]="{candlesticks: rawCandlesticks}"></app-candlestick-chart>
            </div>
        </div>
    </div>
</div>
