.chart-container {
    margin: 35px 35px 80px 35px;
}



.refresh-button{ 
    position:fixed;
    bottom: 30px;
    right: 30px;
}



/* Responsiveness */


/* mobile: sm & xs */
@media only screen and (max-width: 959px) {
    .chart-container {
        margin: 25px 15px 80px 15px;
    }

    .refresh-button{ 
        bottom: 10px;
        right: 10px;
    }
}



/* desktop: md */
@media only screen and (min-width: 960px) {

}