<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">{{side}}: {{health.chp | number: '1.0-2'}} HP {{health.dd}}% | 0%</span>
        <span fxFlex></span>
        <button mat-icon-button (click)="displayHealthDetailsDialog()" matTooltip="View Health Details"><mat-icon>info</mat-icon></button>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="section-loader"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded" class="padding">
        <!-- HP Chart -->
        <div *ngIf="hpChart">
            <apx-chart
                [series]="hpChart.series!"
                [chart]="hpChart.chart!"
                [plotOptions]="hpChart.plotOptions!"
                [xaxis]="hpChart.xaxis!"
                [yaxis]="hpChart.yaxis!"
                [annotations]="hpChart!.annotations!"
                [title]="hpChart.title!"
            ></apx-chart>
        </div>

        <!-- Drawdown Chart -->
        <div *ngIf="ddChart">
            <apx-chart
                [series]="ddChart.series!"
                [chart]="ddChart.chart!"
                [plotOptions]="ddChart.plotOptions!"
                [xaxis]="ddChart.xaxis!"
                [yaxis]="ddChart.yaxis!"
                [annotations]="ddChart!.annotations!"
                [title]="ddChart.title!"
            ></apx-chart>
        </div>
    </div>
</div>
