

.component-container {
    .divider {margin: 0!important;}
    .item {
        .item-content{
            padding:15px;
            h5 { margin: 0}
            p { margin:0 }
        }
        .inactive-item { opacity: 0.3;}

        .qty-container {
            margin-bottom:15px;
            .square-badge {
                color:inherit;
                background-color: #E0E0E0;
                font-weight: 500;
                min-width:40px;
            }
            .square-badge:hover { background-color: #BDBDBD; }
        }
    }
    .item:first-child {margin-top:0px!important;}
    .item:last-child {margin-bottom:0px!important;}
}