

p { margin: 0}
h5 { margin: 0; margin-left:4px;}


.prediction-tile {
    background:white;
    .prediction-tile-inner{
        padding: 0 10px 0 10px;
    }
}


.unstarred-prediction { opacity: 0.7;}




/* Prediction Loader Fab */
.prediction-loader-fab { position: fixed; bottom: 30px; right:30px; }





.features {
    max-width: 100%;
    text-align: center;
    .feature {
        margin:5px 15px 5px 15px;
        display:inline-block;
    }
}








/* Responsiveness */


/* mobile: sm & xs */
@media only screen and (max-width: 959px) {
    .prediction-loader-fab { bottom: 80px!important;}
    .features { .feature { margin:5px 5px 5px 5px;}}
}



/* desktop: md */
@media only screen and (min-width: 960px) {
    
}