<!-- Trend Sum -->
<div *ngIf="id == 'trend_sum'">
    <div class="clickable" role="button" matRipple
        [matMenuTriggerFor]="trendSumMenu"
        [ngClass]="{
        'square-badge-success': value == 1,
        'square-badge-error': value == -1,
        'square-badge-neutral': value == 0,
        'state': value != 0
    }">
        {{sumText[value]}}<mat-icon *ngIf="value != 1 && value != -1" class="state-badge-caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
    </div>
    <mat-menu #trendSumMenu="matMenu">
        <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(1)" [disabled]="immutable || value == 1">Trend Sum > 0</button>
        <button mat-menu-item *ngIf="disableable" mat-menu-item (click)="_valueChanged(0)" [disabled]="immutable || value == 0">Any Trend Sum</button>
        <button mat-menu-item *ngIf="side == 'SHORT'" mat-menu-item (click)="_valueChanged(-1)" [disabled]="immutable || value == -1">Trend Sum < 0</button>
    </mat-menu>
</div>


<!-- Trend State -->
<div *ngIf="id == 'trend_state'">
    <div class="clickable state-badge" role="button" matRipple
        [matMenuTriggerFor]="trendStateMenu"
        [matTooltip]="value2 == 0 ? '': _ms.marketStates[value2!]"
        [ngClass]="{
            'square-badge-success': side == 'LONG',
            'square-badge-error': side == 'SHORT',
            'square-badge-neutral': value == 0,
            'state': value2 == 1 || value2 == -1
        }">
        <div *ngIf="value2 == 0">Any Trend State <mat-icon class="state-badge-caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon></div>
        <div *ngIf="value2 != 0">
            <mat-icon [svgIcon]="_ms.icons[value2!]"></mat-icon> {{value == 0 ? 'Any Trend State': 'Trend State'}} {{value > 0 ? '+': ''}}{{value}}<mat-icon 
            *ngIf="(side == 'LONG' && (value < 5 || value2! < 2)) || (side == 'SHORT' && (value > -5 || value2! > -2))" 
            class="state-badge-caret" 
            svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
        </div>
    </div>
    <mat-menu #trendStateMenu="matMenu">
        <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(5, 2)" [disabled]="immutable || (value == 5 && value2 == 2)">Increasing Strongly +5</button>
        <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(3, 2)" [disabled]="immutable || (value == 3 && value2 == 2)">Increasing Strongly +3</button>
        <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(5, 1)" [disabled]="immutable || (value == 5 && value2 == 1)">Increasing +5</button>
        <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(3, 1)" [disabled]="immutable || (value == 3 && value2 == 1)">Increasing +3</button>
        <button mat-menu-item *ngIf="disableable" mat-menu-item (click)="_valueChanged(0, 0)" [disabled]="immutable || (value == 0 && value2 == 0)">Any Trend State</button>
        <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(-3, -1)" [disabled]="immutable || (value == -3 && value2 == -1)">Decreasing -3</button>
        <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(-5, -1)" [disabled]="immutable || (value == -5 && value2 == -1)">Decreasing -5</button>
        <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(-3, -2)" [disabled]="immutable || (value == -3 && value2 == -2)">Decreasing Strongly -3</button>
        <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(-5, -2)" [disabled]="immutable || (value == -5 && value2 == -2)">Decreasing Strongly -5</button>
    </mat-menu>
</div>



<!-- Volume -->
<div *ngIf="id == 'volume'">
    <!-- Issuance -->
    <div *ngIf="category == 'issuance'">
        <div class="clickable state-badge" role="button" matRipple
            [matMenuTriggerFor]="volumeMenu"
            [matTooltip]="value == 0 ? '': _ms.marketStates[value!]"
            [ngClass]="{
                'square-badge-success': side == 'LONG',
                'square-badge-error': side == 'SHORT',
                'square-badge-neutral': value == 0,
                'state': value == 1 || value == -1
            }">
            <div *ngIf="value == 0">Any Volume State <mat-icon class="state-badge-caret" svgIcon="angle_up"></mat-icon></div>
            <div *ngIf="value != 0">
                <mat-icon [svgIcon]="_ms.icons[value!]"></mat-icon> {{side == "LONG" ? bullishVolText[value]: bearishVolText[value]}}<mat-icon 
                *ngIf="value < 2" 
                class="state-badge-caret" 
                svgIcon="angle_up"></mat-icon>
            </div>
        </div>
        <mat-menu #volumeMenu="matMenu">
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(2, 2)" [disabled]="immutable || (value == 2 && value2 == 2)">{{bullishVolText[2]}}</button>
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(1, 2)" [disabled]="immutable || (value == 1 && value2 == 2)">{{bullishVolText[1]}}</button>
            <button mat-menu-item *ngIf="disableable" mat-menu-item (click)="_valueChanged(0, 0)" [disabled]="immutable || (value == 0 && value2 == 0)">Any Volume State</button>
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(2, -2)" [disabled]="immutable || (value == 2 && value2 == -2)">{{bearishVolText[2]}}</button>
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(1, -2)" [disabled]="immutable || (value == 1 && value2 == -2)">{{bearishVolText[1]}}</button>
        </mat-menu>
    </div>

    <!-- Cancellation -->
    <div *ngIf="category == 'cancellation'">
        <div class="clickable state-badge" role="button" matRipple
            [matMenuTriggerFor]="volumeMenu"
            [matTooltip]="value == 0 ? '': _ms.marketStates[value!]"
            [ngClass]="{
                'square-badge-success': side == 'SHORT',
                'square-badge-error': side == 'LONG',
                'square-badge-neutral': value == 0,
                'state': value == 1 || value == -1
            }">
            <div *ngIf="value == 0">Any Volume State <mat-icon class="state-badge-caret" svgIcon="angle_up"></mat-icon></div>
            <div *ngIf="value != 0">
                <mat-icon [svgIcon]="_ms.icons[value!]"></mat-icon> {{side == "LONG" ? bearishVolText[value]: bullishVolText[value]}}<mat-icon 
                *ngIf="value < 2" 
                class="state-badge-caret" 
                svgIcon="angle_up"></mat-icon>
            </div>
        </div>
        <mat-menu #volumeMenu="matMenu">
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(2, 2)" [disabled]="immutable || (value == 2 && value2 == 2)">{{bullishVolText[2]}}</button>
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(1, 2)" [disabled]="immutable || (value == 1 && value2 == 2)">{{bullishVolText[1]}}</button>
            <button mat-menu-item *ngIf="disableable" mat-menu-item (click)="_valueChanged(0, 0)" [disabled]="immutable || (value == 0 && value2 == 0)">Any Volume State</button>
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(2, -2)" [disabled]="immutable || (value == 2 && value2 == -2)">{{bearishVolText[2]}}</button>
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(1, -2)" [disabled]="immutable || (value == 1 && value2 == -2)">{{bearishVolText[1]}}</button>
        </mat-menu>
    </div>
</div>



<!-- Technicals -->
<div *ngIf="isTA">
    <!-- Issuance -->
    <div *ngIf="category == 'issuance'">
        <div class="clickable" role="button" matRipple
            [matTooltip]="value == 0 ? 'Any Technicals': _ms.taStates[value]"
            [matMenuTriggerFor]="taMenu"
            [ngClass]="{
            'square-badge-success': value > 0,
            'square-badge-error': value < 0,
            'square-badge-neutral': value == 0,
            'state': value == 1 || value == -1
        }">
            {{id}}<mat-icon *ngIf="value != 2 && value != -2" class="state-badge-caret" svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
        </div>
        <mat-menu #taMenu="matMenu">
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(2)" [disabled]="immutable || value == 2">Strong Buy</button>
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(1)" [disabled]="immutable || value == 1">Buy</button>
            <button mat-menu-item *ngIf="disableable" mat-menu-item (click)="_valueChanged(0)" [disabled]="immutable || value == 0">Any Technicals</button>
            <button mat-menu-item *ngIf="side == 'SHORT'" mat-menu-item (click)="_valueChanged(-1)" [disabled]="immutable || value == -1">Sell</button>
            <button mat-menu-item *ngIf="side == 'SHORT'" mat-menu-item (click)="_valueChanged(-2)" [disabled]="immutable || value == -2">Strong Sell</button>
        </mat-menu>
    </div>


    <!-- Cancellation -->
    <div *ngIf="category == 'cancellation'">
        <div class="clickable" role="button" matRipple
            [matTooltip]="value == 0 ? 'Any Technicals': _ms.taStates[value]"
            [matMenuTriggerFor]="taMenu"
            [ngClass]="{
            'square-badge-success': value > 0,
            'square-badge-error': value < 0,
            'square-badge-neutral': value == 0,
            'state': value == 1 || value == -1
        }">
            {{id}}<mat-icon *ngIf="value != 2 && value != -2" class="state-badge-caret" svgIcon="{{side == 'SHORT' ? 'angle_up': 'angle_down'}}"></mat-icon>
        </div>
        <mat-menu #taMenu="matMenu">
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(2)" [disabled]="immutable || value == 2">Strong Buy</button>
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(1)" [disabled]="immutable || value == 1">Buy</button>
            <button mat-menu-item *ngIf="disableable" mat-menu-item (click)="_valueChanged(0)" [disabled]="immutable || value == 0">Any Technicals</button>
            <button mat-menu-item *ngIf="side == 'LONG'" mat-menu-item (click)="_valueChanged(-1)" [disabled]="immutable || value == -1">Sell</button>
            <button mat-menu-item *ngIf="side == 'LONG'" mat-menu-item (click)="_valueChanged(-2)" [disabled]="immutable || value == -2">Strong Sell</button>
        </mat-menu>
    </div>
</div>



<!-- Open Interest -->
<div *ngIf="id == 'open_interest'">
    <!-- Issuance -->
    <div *ngIf="category == 'issuance'">
        <div class="clickable state-badge" role="button" matRipple
            [matMenuTriggerFor]="openInterestMenu"
            [matTooltip]="_ms.marketStates[value]"
            [ngClass]="{
                'square-badge-success': side == 'LONG',
                'square-badge-error': side == 'SHORT',
                'state': value == 1 || value == -1
            }">
            <div>
                <mat-icon [svgIcon]="_ms.icons[value]"></mat-icon> Open Interest<mat-icon 
                *ngIf="(side == 'LONG' && value == 1) || (side == 'SHORT' && value == -1)" 
                class="state-badge-caret" 
                svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
            </div>
        </div>
        <mat-menu #openInterestMenu="matMenu">
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(2)" [disabled]="immutable || value == 2">Increasing Strongly</button>
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(1)" [disabled]="immutable || value == 1">Increasing</button>
            <button mat-menu-item *ngIf="disableable" mat-menu-item (click)="_valueChanged(0)" [disabled]="immutable || value == 0">Any Open Interest</button>
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(-1)" [disabled]="immutable || value == -1">Decreasing</button>
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(-2)" [disabled]="immutable || value == -2">Decreasing Strongly</button>
        </mat-menu>
    </div>

    <!-- Cancellation -->
    <div *ngIf="category == 'cancellation'">
        <div class="clickable state-badge" role="button" matRipple
            [matMenuTriggerFor]="openInterestMenu"
            [matTooltip]="_ms.marketStates[value]"
            [ngClass]="{
                'square-badge-error': side == 'LONG',
                'square-badge-success': side == 'SHORT',
                'state': value == 1 || value == -1
            }">
            <div>
                <mat-icon [svgIcon]="_ms.icons[value]"></mat-icon> Open Interest<mat-icon 
                *ngIf="(side == 'SHORT' && value == 1) || (side == 'LONG' && value == -1)" 
                class="state-badge-caret" 
                svgIcon="{{side == 'SHORT' ? 'angle_up': 'angle_down'}}"></mat-icon>
            </div>
        </div>
        <mat-menu #openInterestMenu="matMenu">
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(2)" [disabled]="immutable || value == 2">Increasing Strongly</button>
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(1)" [disabled]="immutable || value == 1">Increasing</button>
            <button mat-menu-item *ngIf="disableable" mat-menu-item (click)="_valueChanged(0)" [disabled]="immutable || value == 0">Any Open Interest</button>
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(-1)" [disabled]="immutable || value == -1">Decreasing</button>
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(-2)" [disabled]="immutable || value == -2">Decreasing Strongly</button>
        </mat-menu>
    </div>
</div>



<!-- Long/Short Ratio -->
<div *ngIf="id == 'long_short_ratio'">
    <!-- Issuance -->
    <div *ngIf="category == 'issuance'">
        <div class="clickable state-badge" role="button" matRipple
            [matMenuTriggerFor]="longShortRatioMenu"
            [matTooltip]="_ms.marketStates[value]"
            [ngClass]="{
                'square-badge-success': side == 'LONG',
                'square-badge-error': side == 'SHORT',
                'state': value == 1 || value == -1
            }">
            <div>
                <mat-icon [svgIcon]="_ms.icons[value]"></mat-icon> Long/Short Ratio<mat-icon 
                *ngIf="(side == 'LONG' && value == 1) || (side == 'SHORT' && value == -1)" 
                class="state-badge-caret" 
                svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
            </div>
        </div>
        <mat-menu #longShortRatioMenu="matMenu">
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(2)" [disabled]="immutable || value == 2">Increasing Strongly</button>
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(1)" [disabled]="immutable || value == 1">Increasing</button>
            <button mat-menu-item *ngIf="disableable" mat-menu-item (click)="_valueChanged(0)" [disabled]="immutable || value == 0">Any Long/Short Ratio</button>
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(-1)" [disabled]="immutable || value == -1">Decreasing</button>
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(-2)" [disabled]="immutable || value == -2">Decreasing Strongly</button>
        </mat-menu>
    </div>

    <!-- Cancellation -->
    <div *ngIf="category == 'cancellation'">
        <div class="clickable state-badge" role="button" matRipple
            [matMenuTriggerFor]="longShortRatioMenu"
            [matTooltip]="_ms.marketStates[value]"
            [ngClass]="{
                'square-badge-error': side == 'LONG',
                'square-badge-success': side == 'SHORT',
                'state': value == 1 || value == -1
            }">
            <div>
                <mat-icon [svgIcon]="_ms.icons[value]"></mat-icon> Long/Short Ratio<mat-icon 
                *ngIf="(side == 'SHORT' && value == 1) || (side == 'LONG' && value == -1)" 
                class="state-badge-caret" 
                svgIcon="{{side == 'SHORT' ? 'angle_up': 'angle_down'}}"></mat-icon>
            </div>
        </div>
        <mat-menu #longShortRatioMenu="matMenu">
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(2)" [disabled]="immutable || value == 2">Increasing Strongly</button>
            <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(1)" [disabled]="immutable || value == 1">Increasing</button>
            <button mat-menu-item *ngIf="disableable" mat-menu-item (click)="_valueChanged(0)" [disabled]="immutable || value == 0">Any Long/Short Ratio</button>
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(-1)" [disabled]="immutable || value == -1">Decreasing</button>
            <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(-2)" [disabled]="immutable || value == -2">Decreasing Strongly</button>
        </mat-menu>
    </div>
</div>




<!-- Window Cancellation -->
<div *ngIf="id == 'window' && category == 'cancellation'">
    <div class="clickable state-badge" role="button" matRipple
        [matMenuTriggerFor]="windowMenu"
        [matTooltip]="_ms.marketStates[value]"
        [ngClass]="{
            'square-badge-success': side == 'LONG',
            'square-badge-error': side == 'SHORT',
            'state': value == 1 || value == -1
        }">
        <div>
            <mat-icon [svgIcon]="_ms.icons[value]"></mat-icon> Window<mat-icon 
            *ngIf="(side == 'LONG' && value == 1) || (side == 'SHORT' && value == -1)" 
            class="state-badge-caret" 
            svgIcon="{{side == 'LONG' ? 'angle_up': 'angle_down'}}"></mat-icon>
        </div>
    </div>
    <mat-menu #windowMenu="matMenu">
        <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(2)" [disabled]="immutable || value == 2">Increasing Strongly</button>
        <button mat-menu-item *ngIf="side == 'LONG'" (click)="_valueChanged(1)" [disabled]="immutable || value == 1">Increasing</button>
        <button mat-menu-item *ngIf="disableable" mat-menu-item (click)="_valueChanged(0)" [disabled]="immutable || value == 0">Any Trend State</button>
        <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(-1)" [disabled]="immutable || value == -1">Decreasing</button>
        <button mat-menu-item *ngIf="side == 'SHORT'" (click)="_valueChanged(-2)" [disabled]="immutable || value == -2">Decreasing Strongly</button>
    </mat-menu>
</div>