<!-- Section Container -->
<mat-drawer-container class="section-container">

    <!-- Main Sidenav -->
    <mat-drawer #serverSidenav [(opened)]="serverSidenavOpened" class="sidenav" position="start" mode="over" autoFocus="false">
        <!-- Menu Heading Toolbar -->
        <mat-toolbar color="primary">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button (click)="serverSidenav?.toggle()"><mat-icon>arrow_back</mat-icon></button>
                <span>Server</span>
                <span fxFlex></span>
            </div>
        </mat-toolbar>

        <!-- Menu Content -->
        <mat-list>
            <mat-list-item *ngFor="let item of sections">
                <button mat-button class="left-icon-button" 
                        [ngClass]="{'error-color': serverIssues.issues && item.id == 'monitoring'}"
                        (click)="activateSection(item)" 
                        [disabled]="activeSection.id == item.id">
                    <mat-icon *ngIf="item.svgIcon" [svgIcon]="item.svgIcon"></mat-icon>
                    <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
                    <span   [matBadge]="apiErrors.length"
                            matBadgeColor="warn"
                            matBadgeOverlap="false"
                            [matBadgeHidden]="item.id != 'api-errors' || !apiErrors.length">{{item.name}}</span>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>


    <!-- Section Content -->
    <mat-drawer-content>
        <div>
            <!-- Section Header -->
            <mat-toolbar class="secondary-header">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-icon-button (click)="serverSidenav?.toggle()" class="show-on-mobile"><mat-icon>menu</mat-icon></button>
                    <span class="truncate">{{activeSection.name}}</span>
                    <span fxFlex></span>

                    <!-- Refreshers-->
                    <app-refresh-button [ngClass]="{'hidden-refresher': activeSection.id != 'monitoring' && activeSection.id != 'api-errors'}" 
                                        [disabled]="!loaded || submitting" 
                                        [intervalSeconds]="30" 
                                        (refresh)="refreshServerBulk()"></app-refresh-button>
                    <app-refresh-button *ngIf="activeSection.id == 'database' && dbIndex == 3" 
                                        matTooltip="Refresh Database Backup Files"
                                        [disabled]="submitting || !filesDownloaded" 
                                        (refresh)="listBackupFiles()"></app-refresh-button>
                    
                    <!-- Server Actions -->
                    <button mat-icon-button [matMenuTriggerFor]="serverActionsMenu" *ngIf="activeSection.id == 'monitoring'" [disabled]="submitting">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #serverActionsMenu="matMenu">
                        <button mat-menu-item (click)="updateConfig()" [disabled]="submitting">
                          <mat-icon>edit_notifications</mat-icon>
                          <span>Update Server Alarms</span>
                        </button>
                        <button mat-menu-item (click)="toggleSoundPreference()" *ngIf="userPreferences" [disabled]="submitting">
                          <mat-icon>{{userPreferences.sound ? 'volume_off': 'volume_up'}}</mat-icon>
                          <span>{{userPreferences.sound ? 'Disable Sound': 'Enable Sound'}}</span>
                        </button>
                    </mat-menu>

                    <!-- API Errors Actions -->
                    <button mat-icon-button 
                            (click)="deleteAll()" 
                            [disabled]="submitting"  
                            matTooltip="Delete API Errors"
                            *ngIf="activeSection.id == 'api-errors'"><mat-icon>delete</mat-icon></button>
                </div>
            </mat-toolbar>



            <!-- Section Content -->
            <div [ngClass]="{'section-content': layout == 'mobile'}">
                <div fxLayout="row">
                    <div *ngIf="layout == 'desktop'" class="desktop-sidenav">
                        <mat-list>
                            <div mat-subheader>Server</div>
                            <mat-list-item *ngFor="let item of sections">
                                <button mat-button 
                                        [ngClass]="{'error-color': serverIssues.issues && item.id == 'monitoring'}"
                                        class="left-icon-button" 
                                        (click)="activateSection(item)" [disabled]="activeSection.id == item.id">
                                    <mat-icon *ngIf="item.svgIcon" [svgIcon]="item.svgIcon"></mat-icon>
                                    <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
                                    <span   [matBadge]="apiErrors.length"
                                            matBadgeColor="warn"
                                            matBadgeOverlap="false"
                                            [matBadgeHidden]="item.id != 'api-errors' || !apiErrors.length">{{item.name}}</span>
                                </button>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div fxFlex>
                        <!-- Loader -->
                        <div *ngIf="!loaded" class="loader">
                            <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
                        </div>
                        <div *ngIf="loaded && serverData" class="fadeIn">
                            <!-- API Error Slider -->
                            <div    *ngIf="activeSection.id == 'monitoring' && apiErrors.length" 
                                    class="api-error-slider clickable" 
                                    (click)="activateSectionByID('api-errors')">
                                <p class="fadeIn ts-m"><strong>{{apiErrors[activeErrorIndex].o}}:</strong> {{apiErrors[activeErrorIndex].e}}</p>
                            </div>

                            <!-- Monitoring -->
                            <div *ngIf="activeSection.id == 'monitoring'" 
                                fxLayout="row"  fxLayout.xs="column"  fxLayout.sm="column" 
                                class="monitoring">
                                <div fxFlex="45" fxFlex.xs="100" fxFlex.sm="100">
                                    <!-- Server -->
                                    <div class="desktop-card" [ngClass]="{'server-issue': serverIssues.issues}">
                                        <div fxLayout="row" fxLayoutAlign="center start">
                                            <h4>Server</h4>
                                            <span fxFlex></span>
                                            <div class="square-badge" matTooltip="Uptime">{{serverData.resources.uptime}} hours</div>
                                        </div>
                                        <div fxLayout="row">
                                            <p class="light-text ts-m">URL</p>
                                            <span fxFlex></span>
                                            <p class="ts-m">{{_api.url}}</p>
                                        </div>
                                        <div fxLayout="row">
                                            <p class="light-text ts-m">Environment</p>
                                            <span fxFlex></span>
                                            <p class="ts-m">{{serverData.production ? 'Production': 'Development'}}</p>
                                        </div>
                                        <div fxLayout="row">
                                            <p class="light-text ts-m">Version</p>
                                            <span fxFlex></span>
                                            <p class="ts-m">{{serverData.version}}</p>
                                        </div>
                                        <div fxLayout="row">
                                            <p class="light-text ts-m">Candlesticks</p>
                                            <span fxFlex></span>
                                            <p class="ts-m" 
                                                [ngClass]="{'success-color': serverData.resources.candlesticksSynced}">
                                                {{serverData.resources.candlesticksSynced ? 'Synced': 'Out of sync'}}
                                            </p>
                                        </div>
                                        <div fxLayout="row">
                                            <p class="light-text ts-m">Server Time</p>
                                            <span fxFlex></span>
                                            <p class="ts-m">{{serverData.resources.serverTime | date: 'medium'}}</p>
                                        </div>
                                        <div fxLayout="row">
                                            <p matTooltip="Last Resource Update" class="light-text ts-m">Last Update</p>
                                            <span fxFlex></span>
                                            <p matTooltip="Last Resource Update" class="ts-m">{{serverData.resources.lastResourceScan | date: 'medium'}}</p>
                                        </div>

                                        <!-- Environment Error -->
                                        <p class="server-error" *ngIf="serverIssues.environmentError">
                                            <mat-icon>error</mat-icon> The environment.production property in the GUI is different to the one in the server
                                        </p>

                                        <!-- Candlestick Sync Error -->
                                        <p class="server-error" *ngIf="serverIssues.candlesticksSyncError">
                                            <mat-icon>error</mat-icon> The candlesticks are currently out of sync.
                                        </p>
                                        
                                        <!-- Time Error-->
                                        <p class="server-error" *ngIf="serverIssues.timeError">
                                            <mat-icon>error</mat-icon> The time difference between the client and the server is greater 
                                            than 3 minutes. Make sure the issue is in the client and not the server as Plutus relies 
                                            on time accuracy.
                                        </p>
                                        
                                        <!-- Resource Update Error-->
                                        <p class="server-error" *ngIf="serverIssues.resourceUpdateError">
                                            <mat-icon>error</mat-icon> The last server resource update was performed over 10 minutes ago 
                                            eventhough the interval is set to happen every 3 minutes on the Core API.
                                        </p>
                                        
                                        <!-- Hardware Error-->
                                        <p class="server-error" *ngIf="serverIssues.hardwareError">
                                            <mat-icon>error</mat-icon> One or more hardware modules are going through critical loads or 
                                            high temperatures.
                                        </p>

                                        <!-- Resources Communication Error -->
                                        <p class="server-error" *ngIf="serverIssues.resourcesCommunicationError">
                                            <mat-icon>error</mat-icon> Resources Communication: {{serverIssues.resourcesCommunicationError}}
                                        </p>
                                    </div>
                                    <div class="divider"></div>

                                    <!-- CPU Load -->
                                    <div class="desktop-card fake-button" role="button" (click)="activateSectionByID('cpu')">
                                        <div fxLayout="row">
                                            <h4>CPU Load</h4>
                                            <span fxFlex></span>
                                            <div [ngClass]="states.cpuLoad" class="square-badge">
                                                {{serverData.resources.cpuLoad.currentLoad | number}}%
                                            </div>
                                        </div>
                                        <mat-progress-bar mode="determinate" [value]="serverData.resources.cpuLoad.currentLoad"></mat-progress-bar>
                                    </div>
                                    <div class="divider"></div>

                                    <!-- CPU Temperature -->
                                    <div class="desktop-card fake-button" role="button" (click)="activateSectionByID('cpu')">
                                        <h4>CPU Temperature</h4>
                                        <div fxLayout="row" class="row">
                                            <p>Max</p>
                                            <span fxFlex></span>
                                            <div [ngClass]="states.cpuMaxTemp" class="square-badge">
                                                {{serverData.resources.cpuTemperature.max}}°
                                            </div>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Main</p>
                                            <span fxFlex></span>
                                            <div [ngClass]="states.cpuMainTemp" class="square-badge">
                                                {{serverData.resources.cpuTemperature.main}}°
                                            </div>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Chipset</p>
                                            <span fxFlex></span>
                                            <div [ngClass]="states.cpuChipsetTemp" class="square-badge">
                                                {{serverData.resources.cpuTemperature.chipset}}°
                                            </div>
                                        </div>
                                        <div *ngIf="serverData.resources.cpuTemperature.cores.length"
                                             fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="row">
                                            <p>Cores</p>
                                            <span fxFlex></span>
                                            <div class="space-badges">
                                                <div class="square-badge" 
                                                    *ngFor="let c of serverData.resources.cpuTemperature.cores; let i = index;" 
                                                    matTooltip="Core #{{i+1}}"
                                                    [ngClass]="states.cpuCoresTemp[i]">
                                                    {{c}}°
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="serverData.resources.cpuTemperature.socket.length" 
                                            fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="row">
                                            <p>Sockets</p>
                                            <span fxFlex></span>
                                            <div class="space-badges">
                                                <div class="square-badge" 
                                                    *ngFor="let s of serverData.resources.cpuTemperature.socket; let i = index;"
                                                    matTooltip="Socket #{{i+1}}"
                                                    [ngClass]="states.cpuSocketsTemp[i]">
                                                    {{s}}°
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                </div>
                                <span fxFlex></span>
                                <div fxFlex="45" fxFlex.xs="100" fxFlex.sm="100">
                                    <!-- Memory Usage -->
                                    <div class="desktop-card fake-button" role="button" (click)="activateSectionByID('memory')">
                                        <div fxLayout="row">
                                            <h4>Memory Usage</h4>
                                            <span fxFlex></span>
                                            <div [ngClass]="states.memoryUsage" class="square-badge">
                                                {{serverData.resources.memory.usedPercent | number}}%
                                            </div>
                                        </div>
                                        <mat-progress-bar mode="determinate" [value]="serverData.resources.memory.usedPercent"></mat-progress-bar>
                                    </div>
                                    <div class="divider"></div>

                                    <!-- GPU -->
                                    <div class="desktop-card fake-button" role="button" (click)="activateSectionByID('gpu')">
                                        <div fxLayout="row">
                                            <h4>GPU</h4>
                                            <span fxFlex></span>
                                            <div [ngClass]="states.gpuLoad" class="square-badge" matTooltip="Load">
                                                {{serverData.resources.gpu.utilizationGpu | number}}%
                                            </div>&nbsp;
                                            <div [ngClass]="states.gpuTemp" class="square-badge" matTooltip="Temperature">
                                                {{serverData.resources.gpu.temperatureGpu | number}}°
                                            </div>&nbsp;
                                            <div [ngClass]="states.gpuMemoryTemp" class="square-badge" matTooltip="Memory Temperature">
                                                {{serverData.resources.gpu.temperatureMemory | number}}°
                                            </div>
                                        </div>
                                        <mat-progress-bar mode="determinate" [value]="serverData.resources.gpu.utilizationGpu"></mat-progress-bar>
                                    </div>
                                    <div class="divider"></div>

                                    <!-- File Systems -->
                                    <div *ngFor="let fs of serverData.resources.fileSystems;let last = last;let i = index">
                                        <div class="desktop-card fake-button" role="button" (click)="activateSectionByID('file-systems')">
                                            <div fxLayout="row">
                                                <h4>File System {{i+1}}</h4>
                                                <span fxFlex></span>
                                                <div [ngClass]="states.fsUsage[i]" class="square-badge">{{fs.usedPercent | number}}%</div>
                                            </div>
                                            <mat-progress-bar mode="determinate" [value]="fs.usedPercent"></mat-progress-bar>
                                        </div>
                                        <div *ngIf="!last" class="divider"></div>
                                    </div>
                                </div>
                            </div>





                            <!-- API Errors-->
                            <div *ngIf="activeSection.id == 'api-errors'" class="api-errors">
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <div fxFlex fxFlex.md="80" fxFlex.lg="70" fxFlex.xl="60">
                                        <p *ngIf="!apiErrors.length" class="no-data-found">No data was found</p>
                                        <div *ngFor="let r of apiErrors; last as isLast">
                                            <div class="desktop-card fake-button" role="button" (click)="displayAPIErrorDialog(r)">
                                                <!-- Heading -->
                                                <div fxLayout="row" fxLayoutAlign="start center">
                                                    <p><strong>{{r.o}}</strong></p>
                                                    <p *ngIf="r.uid || r.ip" class="light-text ts-m show-on-desktop">&nbsp;{{r.uid || r.ip}}</p>
                                                    <span fxFlex></span>
                                                    <p class="show-on-desktop ts-s">{{r.c | date: 'medium'}}</p>
                                                </div>
                                    
                                                <!-- Error -->
                                                <p class="ts-m">{{r.e}}</p>
                        
                                                <!-- Mobile Date -->
                                                <p class="show-on-mobile ts-s light-text">{{r.c | date: 'medium'}}</p>
                                            </div>
                                            <div *ngIf="!isLast && layout == 'mobile'" class="divider"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <!-- Database -->
                            <div *ngIf="activeSection.id == 'database' && summary" class="database">
                                <!-- Tabs Navigation-->
                                <mat-tab-group *ngIf="layout == 'mobile'" 
                                            [selectedIndex]="dbIndex" (selectedIndexChange)="dbIndex = $event"
                                            mat-stretch-tabs class="mat-elevation-z3" backgroundColor="primary">
                                    <mat-tab><ng-template mat-tab-label><mat-icon>info</mat-icon></ng-template></mat-tab>
                                    <mat-tab><ng-template mat-tab-label><mat-icon>table_chart</mat-icon></ng-template></mat-tab>
                                    <mat-tab><ng-template mat-tab-label><mat-icon>bug_report</mat-icon></ng-template></mat-tab>
                                    <mat-tab><ng-template mat-tab-label><mat-icon>cloud_done</mat-icon></ng-template></mat-tab>
                                </mat-tab-group>
                                <mat-tab-group *ngIf="layout == 'desktop'"  
                                                [selectedIndex]="dbIndex" (selectedIndexChange)="dbIndex = $event" 
                                                mat-align-tabs="center">
                                    <mat-tab><ng-template mat-tab-label><mat-icon>info</mat-icon>&nbsp;Summary</ng-template></mat-tab>
                                    <mat-tab><ng-template mat-tab-label><mat-icon>table_chart</mat-icon>&nbsp;Tables</ng-template></mat-tab>
                                    <mat-tab><ng-template mat-tab-label><mat-icon>bug_report</mat-icon>&nbsp;Test Tables</ng-template></mat-tab>
                                    <mat-tab><ng-template mat-tab-label><mat-icon>cloud_done</mat-icon>&nbsp;Backups</ng-template></mat-tab>
                                </mat-tab-group>

                                <!-- Content -->
                                <div class="padding">
                                    <div fxLayout="row" fxLayoutAlign="center center" class="full-width">
                                        <div fxFlex="33" fxFlex.xs="100" fxFlex.sm="100">
                                            <!-- Summary -->
                                            <div *ngIf="dbIndex == 0" class="card-container fadeIn">
                                                <div class="desktop-card summary-container">
                                                    <p class="align-center">{{summary.version}}</p>

                                                    <div fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                                        <p>URL</p>
                                                        <span fxFlex></span>
                                                        <p>{{_api.url}}</p>
                                                    </div>
                                    
                                                    <div fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                                        <p>Name</p>
                                                        <span fxFlex></span>
                                                        <p>{{summary.name}}</p>
                                                    </div>
                                    
                                                    <div fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                                        <p>Port</p>
                                                        <span fxFlex></span>
                                                        <p>{{summary.port}}</p>
                                                    </div>
                                    
                                                    <div fxLayout="row" fxLayoutAlign="start center" class="margin-top">
                                                        <p>Total Size</p>
                                                        <span fxFlex></span>
                                                        <p>{{summary.size | filesize}}</p>
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- Tables -->
                                            <div *ngIf="dbIndex == 1" class="card-container fadeIn">
                                                <div class="desktop-card no-padding">
                                                    <div class="tables-container">
                                                        <table class="highlight bordered">
                                                            <tbody>
                                                                <tr *ngFor="let t of tables" class="db-table-{{tableShares[t.name]}}">
                                                                    <td><p class="table-name">{{t.name}}</p></td>
                                                                    <td><p class="align-right light-text ts-s">{{t.size | filesize}}</p></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Test Tables -->
                                            <div *ngIf="dbIndex == 2" class="card-container fadeIn">
                                                <div class="desktop-card no-padding">
                                                    <div class="tables-container">
                                                        <table class="highlight bordered">
                                                            <tbody>
                                                                <tr *ngFor="let t of testTables" class="db-table-{{testTableShares[t.name]}}">
                                                                    <td><p class="table-name">{{t.name}}</p></td>
                                                                    <td><p class="align-right light-text ts-s">{{t.size | filesize}}</p></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- Backups -->
                                            <div *ngIf="dbIndex == 3" class="card-container fadeIn">
                                                <div class="desktop-card">
                                                    <div *ngIf="!filesDownloaded" class="loader">
                                                        <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
                                                    </div>
                                                    <div *ngIf="filesDownloaded">
                                                        <p *ngIf="!files.length" class="no-data-found">No data was found</p>
                                                        <div *ngIf="files.length" class="files-container">
                                                            <div *ngFor="let file of files; last as isLast">
                                                                <div class="row" fxLayout="row" fxLayoutAlign="start center">
                                                                    <div>
                                                                        <p>{{file.name}}</p>
                                                                        <p>{{file.creation | date: 'medium'}}</p>
                                                                    </div>
                                                                    <span fxFlex></span>
                                                                    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" [disabled]="submitting" class="file-actions-button">
                                                                        {{file.size | filesize}}
                                                                    </button>
                                                                    <mat-menu #menu="matMenu">
                                                                        <button mat-menu-item (click)="_app.copy(file.name)">
                                                                            <mat-icon>content_copy</mat-icon>
                                                                            <span>Copy Backup Name</span>
                                                                        </button>
                                                                        <button mat-menu-item (click)="downloadBackup(file.name)">
                                                                            <mat-icon>file_download</mat-icon>
                                                                            <span>Download Backup</span>
                                                                        </button>
                                                                    </mat-menu>
                                                                </div>
                                                                <div class="divider" *ngIf="!isLast"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>






                            <!-- Server Information Sections -->
                            <div *ngIf="activeSection.id == 'file-systems' || 
                                        activeSection.id == 'memory' || 
                                        activeSection.id == 'cpu' || 
                                        activeSection.id == 'gpu' || 
                                        activeSection.id == 'os' || 
                                        activeSection.id == 'system' || 
                                        activeSection.id == 'baseboard'|| 
                                        activeSection.id == 'bios'|| 
                                        activeSection.id == 'network-interfaces'|| 
                                        activeSection.id == 'software-versions'" 
                                fxLayout="row" fxLayoutAlign="center center" class="section">
                                <div fxFlex fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="30" class="desktop-card">

                                    <!-- File Systems -->
                                    <div *ngIf="activeSection.id == 'file-systems'">
                                        <h4 class="show-on-desktop">File Systems</h4>
                                        <div *ngFor="let fs of serverData.resources.fileSystems; let last = last">
                                            <div fxLayout="row" class="row">
                                                <p>FS</p>
                                                <span fxFlex></span>
                                                <p>{{fs.fs}}</p>
                                            </div>
                                            <div fxLayout="row" class="row">
                                                <p>Mount</p>
                                                <span fxFlex></span>
                                                <p>{{fs.mount}}</p>
                                            </div>
                                            <div fxLayout="row" class="row">
                                                <p>Type</p>
                                                <span fxFlex></span>
                                                <p>{{fs.type}}</p>
                                            </div>
                                            <div fxLayout="row" class="row">
                                                <p>Size</p>
                                                <span fxFlex></span>
                                                <p>{{fs.size | filesize}}</p>
                                            </div>
                                            <div fxLayout="row" class="row">
                                                <p>Used ({{fs.usedPercent}}%)</p>
                                                <span fxFlex></span>
                                                <p>{{fs.used | filesize}}</p>
                                            </div>
                                            <div fxLayout="row" class="row">
                                                <p>Available</p>
                                                <span fxFlex></span>
                                                <p>{{fs.available | filesize}}</p>
                                            </div>
                                            <div *ngIf="!last" class="divider"></div>
                                        </div>
                                    </div>

                                    <!-- Memory -->
                                    <div *ngIf="activeSection.id == 'memory'">
                                        <h4 class="show-on-desktop">Memory</h4>
                                        <div fxLayout="row" class="row">
                                            <p>Total</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.resources.memory.total | filesize}}</p>
                                        </div>

                                        <div fxLayout="row" class="row">
                                            <p>Free</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.resources.memory.free | filesize}}</p>
                                        </div>

                                        <div fxLayout="row" class="row">
                                            <p>Used ({{serverData.resources.memory.usedPercent}}%)</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.resources.memory.active | filesize}}</p>
                                        </div>
                                    </div>

                                    <!-- CPU -->
                                    <div *ngIf="activeSection.id == 'cpu'">
                                        <h4 class="show-on-desktop">Central Processing Unit</h4>
                                        <!-- Info -->
                                        <div fxLayout="row" class="row">
                                            <p>Manufacturer</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.cpu.manufacturer}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Brand</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.cpu.brand}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Vendor</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.cpu.vendor}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Family</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.cpu.family}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Model</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.cpu.model}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Speed</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.cpu.speed}} GHz</p>
                                        </div>

                                        <div fxLayout="row" class="row">
                                            <p>Cores</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.cpu.cores}}</p>
                                        </div>

                                        <div fxLayout="row" class="row">
                                            <p>Physical Cores</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.cpu.physicalCores}}</p>
                                        </div>
                                        <div class="divider"></div>

                                        <!-- Load -->
                                        <div fxLayout="row" class="row">
                                            <p>Current Load</p>
                                            <span fxFlex></span>
                                            <div class="square-badge">{{serverData.resources.cpuLoad.currentLoad | number}}%</div>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Average Load</p>
                                            <span fxFlex></span>
                                            <div class="square-badge">{{serverData.resources.cpuLoad.avgLoad | number}}%</div>
                                        </div>
                                        <div class="divider"></div>

                                        <!-- Temperature -->
                                        <div fxLayout="row" class="row">
                                            <p>Max Temperature</p>
                                            <span fxFlex></span>
                                            <div class="square-badge">{{serverData.resources.cpuTemperature.max}}°</div>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Main Temperature</p>
                                            <span fxFlex></span>
                                            <div class="square-badge">{{serverData.resources.cpuTemperature.main}}°</div>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Chipset Temperature</p>
                                            <span fxFlex></span>
                                            <div class="square-badge">{{serverData.resources.cpuTemperature.chipset}}°</div>
                                        </div>
                                        <div *ngIf="serverData.resources.cpuTemperature.cores.length"
                                             fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="row">
                                            <p>Cores</p>
                                            <span fxFlex></span>
                                            <div class="space-badges">
                                                <div class="square-badge" *ngFor="let c of serverData.resources.cpuTemperature.cores">
                                                    {{c}}°
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="serverData.resources.cpuTemperature.socket.length" 
                                            fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="row">
                                            <p>Sockets</p>
                                            <span fxFlex></span>
                                            <div class="space-badges">
                                                <div class="square-badge" *ngFor="let s of serverData.resources.cpuTemperature.socket">
                                                    {{s}}°
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- GPU -->
                                    <div *ngIf="activeSection.id == 'gpu'">
                                        <h4 class="show-on-desktop">Graphics Processing Unit</h4>
                                        <div fxLayout="row" class="row">
                                            <p>Vendor</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.resources.gpu.vendor}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Model</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.resources.gpu.model}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Bus</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.resources.gpu.bus}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Load</p>
                                            <span fxFlex></span>
                                            <div class="square-badge">{{serverData.resources.gpu.utilizationGpu | number}}%</div>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Temperature</p>
                                            <span fxFlex></span>
                                            <div class="square-badge">{{serverData.resources.gpu.temperatureGpu}}°</div>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Memory Temperature</p>
                                            <span fxFlex></span>
                                            <div class="square-badge">{{serverData.resources.gpu.temperatureMemory}}°</div>
                                        </div>
                                    </div>

                                    <!-- OS -->
                                    <div *ngIf="activeSection.id == 'os'">
                                        <h4 class="show-on-desktop">Operating System</h4>
                                        <div fxLayout="row" class="row">
                                            <p>Platform</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.os.platform}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Distro</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.os.distro}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Release</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.os.release}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Code Name</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.os.codename}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Kernel</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.os.kernel}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Host Name</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.os.hostname}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>FQDN</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.os.fqdn}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Arch</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.os.arch}}</p>
                                        </div>
                                    </div>

                                    <!-- Software Versions -->
                                    <div *ngIf="activeSection.id == 'software-versions'">
                                        <h4 class="show-on-desktop">Software Versions</h4>
                                        <div *ngFor="let item of serverData.info.softwareVersions | keyvalue; let last = last">
                                            <div fxLayout="row" class="row">
                                                <p>{{item.key}}</p>
                                                <span fxFlex></span>
                                                <p>{{item.value}}</p>
                                            </div>
                                        </div>
                                    </div>                           

                                    <!-- System -->
                                    <div *ngIf="activeSection.id == 'system'">
                                        <h4 class="show-on-desktop">System</h4>
                                        <div fxLayout="row" class="row">
                                            <p>Manufacturer</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.system.manufacturer}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Model</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.system.model}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Version</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.system.version}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>SKU</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.system.sku}}</p>
                                        </div>
                                    </div>

                                    <!-- BaseBoard -->
                                    <div *ngIf="activeSection.id == 'baseboard'">
                                        <h4 class="show-on-desktop">Baseboard</h4>
                                        <div fxLayout="row" class="row">
                                            <p>Manufacturer</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.baseboard.manufacturer}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Model</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.baseboard.model}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Version</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.baseboard.version}}</p>
                                        </div>
                                    </div>

                                    <!-- BIOS -->
                                    <div *ngIf="activeSection.id == 'bios'">
                                        <h4 class="show-on-desktop">BIOS</h4>
                                        <div fxLayout="row" class="row">
                                            <p>Vendor</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.bios.vendor}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Version</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.bios.version}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Release Date</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.bios.releaseDate}}</p>
                                        </div>
                                        <div fxLayout="row" class="row">
                                            <p>Revision</p>
                                            <span fxFlex></span>
                                            <p>{{serverData.info.bios.revision}}</p>
                                        </div>
                                    </div>

                                    <!-- Network Interfaces -->
                                    <div *ngIf="activeSection.id == 'network-interfaces'">
                                        <h4 class="show-on-desktop">Network Interfaces</h4>
                                        <div *ngFor="let n of serverData.info.networkInterfaces; let last = last">
                                            <div fxLayout="row" class="row">
                                                <p>Interface</p>
                                                <span fxFlex></span>
                                                <p>{{n.iface}} | {{n.ifaceName}}</p>
                                            </div>
                                            <div fxLayout="row" class="row">
                                                <p>IP4</p>
                                                <span fxFlex></span>
                                                <p>{{n.ip4}}</p>
                                            </div>
                                            <div fxLayout="row" class="row">
                                                <p>IP4 Subnet</p>
                                                <span fxFlex></span>
                                                <p>{{n.ip4subnet}}</p>
                                            </div>
                                            <div fxLayout="row" class="row">
                                                <p>IP6</p>
                                                <span fxFlex></span>
                                                <p>{{n.ip6}}</p>
                                            </div>
                                            <div fxLayout="row" class="row">
                                                <p>IP6 Subnet</p>
                                                <span fxFlex></span>
                                                <p>{{n.ip6subnet}}</p>
                                            </div>
                                            <div *ngIf="!last" class="divider"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Mobile Tabs -->
        <app-mobile-tabs *ngIf="layout == 'mobile'"></app-mobile-tabs>
    </mat-drawer-content>
</mat-drawer-container>