<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">Position Health Weights</span>
        <span fxFlex></span>
        <button mat-icon-button *ngIf="loaded && weightsLoaded" [disabled]="form.invalid" (click)="update()" matTooltip="Update Policies"><mat-icon>save</mat-icon></button>
        <button mat-icon-button *ngIf="loaded && weightsLoaded" (click)="positionHealthSystemTooltip()" matTooltip="More information" type="button"><mat-icon>question_mark</mat-icon></button>
        <button mat-icon-button class="show-on-desktop" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="section-loader show-on-mobile"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
        <div class="loader show-on-desktop"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded && weightsLoaded" class="padding fadeIn">
        <form [formGroup]="form" (ngSubmit)="update()">
            <!-- Trend -->
            <div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5>Trend</h5>
                    <span fxFlex></span>
                    <button mat-icon-button (click)="trendTooltip()" matTooltip="More information" type="button" tabindex="-1"><mat-icon>question_mark</mat-icon></button>
                </div> 
                <div fxLayout="row" fxLayoutAlign="start start" class="section-content">
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>Trend Sum</mat-label>
                            <input type="number"
                                    matInput
                                    formControlName="trend_sum"
                                    autocomplete="off"
                                    [appDisableControl]="submitting"
                                    placeholder="e.g. 40">
                        </mat-form-field>
                    </div>
                    <span fxFlex="5"></span>
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>Trend State & Intensity</mat-label>
                            <input type="number"
                                    matInput
                                    formControlName="trend_state"
                                    autocomplete="off"
                                    [appDisableControl]="submitting"
                                    placeholder="e.g. 10">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Technicals -->
            <div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5>Technicals</h5>
                    <span fxFlex></span>
                    <button mat-icon-button (click)="technicalsTooltip()" matTooltip="More information" type="button" tabindex="-1"><mat-icon>question_mark</mat-icon></button>
                </div> 
                <div fxLayout="row" fxLayoutAlign="start start" class="section-content">
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>TA 15m</mat-label>
                            <input type="number"
                                    matInput
                                    formControlName="ta_15m"
                                    autocomplete="off"
                                    [appDisableControl]="submitting"
                                    placeholder="e.g. 3.5">
                        </mat-form-field>
                    </div>
                    <span fxFlex="5"></span>
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>TA 30m</mat-label>
                            <input type="number"
                                    matInput
                                    formControlName="ta_30m"
                                    autocomplete="off"
                                    [appDisableControl]="submitting"
                                    placeholder="e.g. 3.5">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="section-content">
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>TA 1h</mat-label>
                            <input type="number"
                                    matInput
                                    formControlName="ta_1h"
                                    autocomplete="off"
                                    [appDisableControl]="submitting"
                                    placeholder="e.g. 10">
                        </mat-form-field>
                    </div>
                    <span fxFlex="5"></span>
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>TA 2h</mat-label>
                            <input type="number"
                                    matInput
                                    formControlName="ta_2h"
                                    autocomplete="off"
                                    [appDisableControl]="submitting"
                                    placeholder="e.g. 4.5">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="section-content">
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>TA 4h</mat-label>
                            <input type="number"
                                    matInput
                                    formControlName="ta_4h"
                                    autocomplete="off"
                                    [appDisableControl]="submitting"
                                    placeholder="e.g. 4.5">
                        </mat-form-field>
                    </div>
                    <span fxFlex="5"></span>
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>TA 1d</mat-label>
                            <input type="number"
                                    matInput
                                    formControlName="ta_1d"
                                    autocomplete="off"
                                    [appDisableControl]="submitting"
                                    placeholder="e.g. 4.5">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Open Interest -->
            <div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5>Open Interest</h5>
                    <span fxFlex></span>
                    <button mat-icon-button (click)="openInterestTooltip()" matTooltip="More information" type="button" tabindex="-1"><mat-icon>question_mark</mat-icon></button>
                </div> 
                <div fxLayout="row" fxLayoutAlign="start start" class="section-content">
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>Open Interest</mat-label>
                            <input type="number"
                                    matInput
                                    formControlName="open_interest"
                                    autocomplete="off"
                                    [appDisableControl]="submitting"
                                    placeholder="e.g. 5">
                        </mat-form-field>
                    </div>
                    <span fxFlex="5"></span>
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>Open Interest State</mat-label>
                            <input type="number"
                                    matInput
                                    formControlName="open_interest_state"
                                    autocomplete="off"
                                    [appDisableControl]="submitting"
                                    placeholder="e.g. 8">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Long/Short Ratio -->
            <div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5>Long/Short Ratio</h5>
                    <span fxFlex></span>
                    <button mat-icon-button (click)="longShortRatioTooltip()" matTooltip="More information" type="button" tabindex="-1"><mat-icon>question_mark</mat-icon></button>
                </div> 
                <div fxLayout="row" fxLayoutAlign="start start" class="section-content">
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>Long/Short Ratio</mat-label>
                            <input type="number"
                                    matInput
                                    formControlName="long_short_ratio"
                                    autocomplete="off"
                                    [appDisableControl]="submitting"
                                    placeholder="e.g. 5">
                        </mat-form-field>
                    </div>
                    <span fxFlex="5"></span>
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>Long/Short Ratio State</mat-label>
                            <input type="number"
                                    matInput
                                    formControlName="long_short_ratio_state"
                                    autocomplete="off"
                                    [appDisableControl]="submitting"
                                    placeholder="e.g. 8">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- Volume -->
            <div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h5>Volume</h5>
                    <span fxFlex></span>
                    <button mat-icon-button (click)="volumeTooltip()" matTooltip="More information" type="button" tabindex="-1"><mat-icon>question_mark</mat-icon></button>
                </div> 
                <div fxLayout="row" fxLayoutAlign="start start" class="section-content">
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>Volume Direction</mat-label>
                            <input type="number"
                                    matInput
                                    formControlName="volume_direction"
                                    autocomplete="off"
                                    [appDisableControl]="submitting"
                                    placeholder="e.g. 3">
                        </mat-form-field>
                    </div>
                    <span fxFlex="5"></span>
                    <div fxFlex>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
