<mat-toolbar mat-dialog-title color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="close()" [disabled]="!loaded || loadingState"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">KeyZones</span>
        <span fxFlex></span>

        <!-- Desktop Menu -->
        <button *ngIf="layout == 'desktop'" mat-icon-button (click)="displayTooltip()" [disabled]="!loaded || loadingState" matTooltip="What is this?"><mat-icon>question_mark</mat-icon></button>
        <button *ngIf="layout == 'desktop'" mat-icon-button (click)="displayInfoTooltip()" [disabled]="!loaded || loadingState" matTooltip="More information"><mat-icon class="info-icon" svgIcon="info"></mat-icon></button>
        <button *ngIf="layout == 'desktop'" mat-icon-button (click)="displayPriceSnapshotsDialog()" [disabled]="!loaded || loadingState" matTooltip="Display Price Snapshots"><mat-icon>candlestick_chart</mat-icon></button>
        <button mat-icon-button (click)="displayKeyZoneEventsHistory()" [disabled]="!loaded || loadingState" matTooltip="Display Events History"><mat-icon>history</mat-icon></button>
        <button *ngIf="layout == 'desktop'" mat-icon-button (click)="close()" [disabled]="!loaded || loadingState"><mat-icon>close</mat-icon></button>
        
        <!-- Mobile Menu -->
        <button *ngIf="layout == 'mobile'" mat-icon-button [matMenuTriggerFor]="menu" [disabled]="!loaded || loadingState">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="displayPriceSnapshotsDialog()">
                <mat-icon>candlestick_chart</mat-icon>
                <span>Display Price Snapshots</span>
            </button>
            <button mat-menu-item (click)="displayInfoTooltip()">
                <mat-icon svgIcon="info"></mat-icon>
                <span>More information</span>
            </button>
            <button mat-menu-item (click)="displayTooltip()">
                <mat-icon>question_mark</mat-icon>
                <span>What is this?</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
<div mat-dialog-content>
    <!-- Loader -->
    <div *ngIf="!loaded">
        <div class="section-loader"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
    </div>
    <div *ngIf="loaded">
        <div class="component">
            <!-- Tabs Navigation-->
            <mat-tab-group [selectedIndex]="activeTab" 
                (selectedIndexChange)="tabChanged($event)"
                mat-align-tabs="center" 
                mat-stretch-tabs 
                backgroundColor="primary">
                <mat-tab [disabled]="loadingState"><ng-template mat-tab-label><span>STATE</span></ng-template></mat-tab>
                <mat-tab [disabled]="loadingState"><ng-template mat-tab-label><span>ALL</span></ng-template></mat-tab>
            </mat-tab-group>

            <!-- Active -->
            <div *ngIf="activeTab == 0">
                <!-- State KeyZones Above-->
                <div *ngIf="marketState.keyzones.above && marketState.keyzones.above.length">
                    <div *ngFor="let zone of reversedKeyZonesAbove; index as aboveIndex"
                        class="state-keyzone state-keyzone-above-{{scoresAbove[zone.id]}} clickable" role="button" matRipple 
                        [ngClass]="{
                            'inactive': zone.scr < this._app.keyzoneEventScoreRequirement
                        }"
                        (click)="displayStateKeyZoneTooltip(zone, 'above')">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <p>{{zone.s | currency}}</p>
                            <p class="distance">+{{distancesAbove[zone.id]}}% away</p>
                            <span fxFlex></span>
                            <mat-icon *ngIf="zone.ls >= 3.5 && zone.ls < 10" class="liquidity-icon">invert_colors</mat-icon>
                            <mat-icon *ngIf="zone.ls >= 10" class="liquidity-icon">water_drop</mat-icon>
                            <mat-icon [svgIcon]="_ms.kzVolIntensityIcons[zone.vi]"></mat-icon>
                        </div>
                    </div>
                </div>


                

                <!-- KeyZone Resistance Event -->
                <div *ngIf="marketState.keyzones.event && marketState.keyzones.event.k == 'r'" 
                    class="state-keyzone state-keyzone-above-100 clickable" role="button" matRipple 
                    (click)="displayStateKeyZoneTooltip(marketState.keyzones.event.kz, 'above')">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>vertical_align_top</mat-icon>
                        <p>{{marketState.keyzones.event.kz.s | currency}}</p>
                        <span fxFlex></span>
                        <p class="distance">Until {{marketState.keyzones.event.pl | currency}} | {{marketState.keyzones.event.e | date: 'mediumTime'}}</p>
                    </div>
                </div>

                <!-- KeyZone Support Event -->
                <div *ngIf="marketState.keyzones.event && marketState.keyzones.event.k == 's'" 
                    class="state-keyzone state-keyzone-below-100 clickable" role="button" matRipple 
                    (click)="displayStateKeyZoneTooltip(marketState.keyzones.event.kz, 'below')">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>vertical_align_bottom</mat-icon>
                        <p>{{marketState.keyzones.event.kz.e | currency}}</p>
                        <span fxFlex></span>
                        <p class="distance">Until {{marketState.keyzones.event.pl | currency}} | {{marketState.keyzones.event.e | date: 'mediumTime'}}</p>
                    </div>
                </div>




                <!-- State KeyZones Below-->
                <div *ngIf="marketState.keyzones.below && marketState.keyzones.below.length">
                    <div *ngFor="let zone of marketState.keyzones.below; index as belowIndex"
                        class="state-keyzone state-keyzone-below-{{scoresBelow[zone.id]}} clickable" role="button" matRipple 
                        [ngClass]="{
                            'inactive': zone.scr < this._app.keyzoneEventScoreRequirement
                        }"
                        (click)="displayStateKeyZoneTooltip(zone, 'below')">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <p>{{zone.e | currency}}</p>
                            <p class="distance">{{distancesBelow[zone.id]}}% away</p>
                            <span fxFlex></span>
                            <mat-icon *ngIf="zone.ls >= 3.5 && zone.ls < 10" class="liquidity-icon">invert_colors</mat-icon>
                            <mat-icon *ngIf="zone.ls >= 10" class="liquidity-icon">water_drop</mat-icon>
                            <mat-icon [svgIcon]="_ms.kzVolIntensityIcons[zone.vi]"></mat-icon>
                        </div>
                    </div>
                </div>

            </div>

            <!-- All -->
            <div *ngIf="activeTab == 1">
                <!-- Loader -->
                <div *ngIf="loadingState">
                    <div class="section-loader"><div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div></div>
                </div>
                <div *ngIf="!loadingState && state">
                    <button mat-button (click)="showMore(true)" *ngIf="hasMoreAbove" class="full-width">View More</button>
                    <!-- KeyZones Above-->
                    <div *ngIf="state.above.length">
                        <div *ngFor="let zone of state.above.slice(0, visibleAbove).reverse(); index as aboveIndex"
                            class="above clickable" role="button" matRipple 
                            (click)="displayKeyZone(zone)">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <p>{{zone.s | currency}} <mat-icon>arrow_right_alt</mat-icon> {{zone.e | currency}}</p>
                                <span fxFlex></span>
                                <p>+{{aboveDistances[zone.id]}}% away</p>
                            </div>
                        </div>
                    </div>
            
            
                    <!-- Active KeyZone -->
                    <div *ngIf="state.active">
                        <div class="active clickable" role="button" matRipple
                            (click)="displayKeyZone(state.active)">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <p>{{state.active.s | currency}} <mat-icon>arrow_right_alt</mat-icon> {{state.active.e | currency}}</p>
                                <span fxFlex></span>
                                <p>ACTIVE</p>
                            </div>
                        </div>
                    </div>
            
                    <!-- Inactive Keyzone -->
                    <div *ngIf="!state.active">
                        <div class="market" fxLayout="row" fxLayoutAlign="start center">
                            <p>{{currentPrice | currency}}</p>
                            <span fxFlex></span>
                            <p>MARKET</p>
                        </div>
                    </div>
            
                    <!-- KeyZones Below -->
                    <div *ngIf="state.below.length">
                        <div *ngFor="let zone of state.below.slice(0, visibleBelow); index as belowIndex" 
                            class="below clickable" role="button" matRipple 
                            (click)="displayKeyZone(zone)">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <p>{{zone.e | currency}} <mat-icon>arrow_right_alt</mat-icon> {{zone.s | currency}}</p>
                                <span fxFlex></span>
                                <p>{{belowDistances[zone.id]}}% away</p>
                            </div>
                        </div>
                    </div>
                    <button mat-button (click)="showMore(false)" *ngIf="hasMoreBelow" class="full-width">View More</button>
                </div>
            </div>
        </div>
    </div>
</div>
