<!-- Header -->
<mat-toolbar class="secondary-header">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="show-on-mobile" (click)="_nav.dashboard()"><mat-icon>arrow_back</mat-icon></button>
        <span class="truncate">Candlesticks ({{config.intervalMinutes}}m)</span>
        <span fxFlex></span>
        <app-refresh-button class="show-on-desktop" [disabled]="!loaded" (refresh)="refresh()"></app-refresh-button>
        <button class="show-on-desktop" mat-icon-button [disabled]="!loaded" (click)="displaySpreadsheets()"><mat-icon svgIcon="file_csv"></mat-icon></button>
        <button class="show-on-desktop" mat-icon-button [disabled]="!loaded" (click)="updateConfig()"><mat-icon>settings</mat-icon></button>
        <button class="show-on-mobile" mat-icon-button [matMenuTriggerFor]="menu" [disabled]="!loaded"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="refresh()">
                <mat-icon>refresh</mat-icon>
                <span>Refresh Candlesticks</span>
            </button>
            <button mat-menu-item (click)="displaySpreadsheets()">
                <mat-icon svgIcon="file_csv"></mat-icon>
                <span>Display Spreadsheets</span>
            </button>
            <button mat-menu-item (click)="updateConfig()">
                <mat-icon>settings</mat-icon>
                <span>Update Configuration</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>


<!-- Loader -->
<div *ngIf="!loaded" class="section-loader">
    <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
</div>


<!-- Section Content -->
<div class="fadeIn" *ngIf="loaded">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex>
            <div class="chart-container" *ngIf="rawCandlesticks && chartOptions">
                <apx-chart
                    [series]="chartOptions.series!"
                    [chart]="chartOptions.chart!"
                    [plotOptions]="chartOptions.plotOptions!"
                    [xaxis]="chartOptions.xaxis!"
                    [yaxis]="chartOptions.yaxis!"
                    [title]="chartOptions.title!"
                    [annotations]="chartOptions!.annotations!"
                ></apx-chart>
            </div>
        </div>
    </div>
</div>