<!-- Header -->
<mat-toolbar class="secondary-header">
    <div fxLayout="row" fxLayoutAlign="center center">
        <span>Candlesticks</span>
        <span fxFlex></span>
        <button mat-icon-button *ngIf="loaded" (click)="updateConfig()"><mat-icon>settings</mat-icon></button>
    </div>
</mat-toolbar>


<!-- Loader -->
<div *ngIf="!loaded" class="section-loader">
    <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner diameter="50"></mat-spinner></div>
</div>


<!-- Section Content -->
<div class="fadeIn" *ngIf="loaded">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex>
            <div class="chart-container" *ngIf="rawCandlesticks">
                <app-candlestick-chart [data]="{candlesticks: rawCandlesticks, highlightCurrentPrice: true}"></app-candlestick-chart>
            </div>
        </div>
    </div>
</div>

<!-- Refresher -->
<app-refresh-button *ngIf="loaded" (refresh)="refresh()"></app-refresh-button>